## 행정동-> 법정동 매핑

- 행정안전부가 제공하는 행정동 및 법정동의 코드 매핑 파일을 이용해 행정동
- 참고: https://www.mois.go.kr/frt/bbs/type001/commonSelectBoardList.do?bbsId=BBSMSTR_000000000052
- 참고: https://www.mois.go.kr/frt/bbs/type001/commonSelectBoardArticle.do?bbsId=BBSMSTR_000000000052&nttId=78739
- https://www.seoul.go.kr/seoul/autonomy_sub.do
- 매핑 참고 블로그: https://guzene.tistory.com/310

In [308]:
#서울

import pandas as pd

df = pd.read_excel('excel_KIKmix.20200720.xlsx')
df

            행정동코드      시도명  시군구명   읍면동명       법정동코드    동리명      생성일자  말소일자
0      1100000000    서울특별시   NaN    NaN  1100000000  서울특별시  19880423   NaN
1      1111000000    서울특별시   종로구    NaN  1111000000    종로구  19880423   NaN
2      1111051500    서울특별시   종로구  청운효자동  1111010100    청운동  20081101   NaN
3      1111051500    서울특별시   종로구  청운효자동  1111010200    신교동  20081101   NaN
4      1111051500    서울특별시   종로구  청운효자동  1111010300    궁정동  20081101   NaN
...           ...      ...   ...    ...         ...    ...       ...   ...
21715  5013061000  제주특별자치도  서귀포시    중문동  5013011400    대포동  20060701   NaN
21716  5013061000  제주특별자치도  서귀포시    중문동  5013011800    하원동  20060701   NaN
21717  5013062000  제주특별자치도  서귀포시    예래동  5013011900    색달동  20060701   NaN
21718  5013062000  제주특별자치도  서귀포시    예래동  5013012000    상예동  20060701   NaN
21719  5013062000  제주특별자치도  서귀포시    예래동  5013012100    하예동  20060701   NaN

[21720 rows x 8 columns]

In [309]:
#서울특별시만 추출

df_seoul = df[df['시도명'] == '서울특별시']
df_seoul

          행정동코드    시도명 시군구명   읍면동명       법정동코드    동리명      생성일자  말소일자
0    1100000000  서울특별시  NaN    NaN  1100000000  서울특별시  19880423   NaN
1    1111000000  서울특별시  종로구    NaN  1111000000    종로구  19880423   NaN
2    1111051500  서울특별시  종로구  청운효자동  1111010100    청운동  20081101   NaN
3    1111051500  서울특별시  종로구  청운효자동  1111010200    신교동  20081101   NaN
4    1111051500  서울특별시  종로구  청운효자동  1111010300    궁정동  20081101   NaN
..          ...    ...  ...    ...         ...    ...       ...   ...
762  1174065000  서울특별시  강동구  성내제2동  1174010800    성내동  19880423   NaN
763  1174066000  서울특별시  강동구  성내제3동  1174010800    성내동  19880423   NaN
764  1174068500  서울특별시  강동구     길동  1174010500     길동  20080707   NaN
765  1174069000  서울특별시  강동구  둔촌제1동  1174010600    둔촌동  19880423   NaN
766  1174070000  서울특별시  강동구  둔촌제2동  1174010600    둔촌동  19880423   NaN

[767 rows x 8 columns]

In [935]:
df_seoul[df_seoul['시군구명']=='중구']

          행정동코드    시도명 시군구명   읍면동명       법정동코드     동리명      생성일자  말소일자
95   1114000000  서울특별시   중구    NaN  1114000000      중구  19880423   NaN
96   1114052000  서울특별시   중구    소공동  1114011100     소공동  19880423   NaN
97   1114052000  서울특별시   중구    소공동  1114011300     북창동  19880423   NaN
98   1114052000  서울특별시   중구    소공동  1114011400   태평로2가  19880423   NaN
99   1114052000  서울특별시   중구    소공동  1114011500  남대문로2가  19880423   NaN
100  1114052000  서울특별시   중구    소공동  1114011600  남대문로3가  19880423   NaN
101  1114052000  서울특별시   중구    소공동  1114011700  남대문로4가  19880423   NaN
102  1114052000  서울특별시   중구    소공동  1114011900   봉래동1가  19920416   NaN
103  1114052000  서울특별시   중구    소공동  1114016600    서소문동  19880423   NaN
104  1114052000  서울특별시   중구    소공동  1114016700      정동  19880423   NaN
105  1114052000  서울특별시   중구    소공동  1114016800     순화동  19880423   NaN
106  1114052000  서울특별시   중구    소공동  1114016900   의주로1가  19880423   NaN
107  1114052000  서울특별시   중구    소공동  1114017000   충정로1가  19880423   NaN
108  1114054000  서울특별시   중구    회현동  1114011200     남창동  19880423   NaN
109  1114054000  서울특별시   중구    회현동  1114011600  남대문로3가  19920416   NaN
110  1114054000  서울특별시   중구    회현동  1114011700  남대문로4가  19920416   NaN
111  1114054000  서울특별시   중구    회현동  1114011800  남대문로5가  19980914   NaN
112  1114054000  서울특별시   중구    회현동  1114011900   봉래동1가  19980914   NaN
113  1114054000  서울특별시   중구    회현동  1114012000   봉래동2가  19980914   NaN
114  1114054000  서울특별시   중구    회현동  1114012100   회현동1가  19880423   NaN
115  1114054000  서울특별시   중구    회현동  1114012200   회현동2가  19880423   NaN
116  1114054000  서울특별시   중구    회현동  1114012400   충무로1가  19880423   NaN
117  1114054000  서울특별시   중구    회현동  1114016800     순화동  19980914   NaN
118  1114055000  서울특별시   중구     명동  1114010100     무교동  19980914   NaN
119  1114055000  서울특별시   중구     명동  1114010200      다동  19980914   NaN
120  1114055000  서울특별시   중구     명동  1114010300   태평로1가  19980914   NaN
121  1114055000  서울특별시   중구     명동  1114010400   을지로1가  19980914   NaN
122  1114055000  서울특별시   중구     명동  1114010500   을지로2가  19980914   NaN
123  1114055000  서울특별시   중구     명동  1114010600  남대문로1가  19980914   NaN
124  1114055000  서울특별시   중구     명동  1114010700     삼각동  19980914   NaN
125  1114055000  서울특별시   중구     명동  1114010800     수하동  19980914   NaN
126  1114055000  서울특별시   중구     명동  1114010900     장교동  19980914   NaN
127  1114055000  서울특별시   중구     명동  1114011000     수표동  19980914   NaN
128  1114055000  서울특별시   중구     명동  1114011500  남대문로2가  19920416   NaN
129  1114055000  서울특별시   중구     명동  1114012100   회현동1가  19880423   NaN
130  1114055000  서울특별시   중구     명동  1114012200   회현동2가  19880423   NaN
131  1114055000  서울특별시   중구     명동  1114012300   회현동3가  19880423   NaN
132  1114055000  서울특별시   중구     명동  1114012400   충무로1가  19880423   NaN
133  1114055000  서울특별시   중구     명동  1114012500   충무로2가  19880423   NaN
134  1114055000  서울특별시   중구     명동  1114012600    명동1가  19880423   NaN
135  1114055000  서울특별시   중구     명동  1114012700    명동2가  19880423   NaN
136  1114055000  서울특별시   중구     명동  1114012800   남산동1가  19880423   NaN
137  1114055000  서울특별시   중구     명동  1114012900   남산동2가  19880423   NaN
138  1114055000  서울특별시   중구     명동  1114013000   남산동3가  19880423   NaN
139  1114055000  서울특별시   중구     명동  1114013100    저동1가  19880423   NaN
140  1114055000  서울특별시   중구     명동  1114014200     예장동  19880423   NaN
141  1114057000  서울특별시   중구     필동  1114013200   충무로4가  19980914   NaN
142  1114057000  서울특별시   중구     필동  1114013300   충무로5가  19980914   NaN
143  1114057000  서울특별시   중구     필동  1114013600     묵정동  19880423   NaN
144  1114057000  서울특별시   중구     필동  1114013700    필동1가  19880423   NaN
145  1114057000  서울특별시   중구     필동  1114013800    필동2가  19880423   NaN
146  1114057000  서울특별시   중구     필동  1114013900    필동3가  19880423   NaN
147  1114057000  서울특별시   중구     필동  1114014000     남학동  19880423   NaN
148  1114057000  서울특별시   중구     필동  1114014100     주자동  19880423   NaN
149  1114057000  서울특별시   중구     필동  1114014200     예장동  19880423   NaN
150  1114057000  서울특별시   중구     필동  1114014400   장충동2가  19880423   NaN
151  1114057000  서울특별시   중구     필동  1114015800   충무로3가  19880423   NaN
152  1114058000  서울특별시   중구    장충동  1114013600     묵정동  19880423   NaN
153  1114058000  서울특별시   중구    장충동  1114014300   장충동1가  19880423   NaN
154  1114058000  서울특별시   중구    장충동  1114014400   장충동2가  19880423   NaN
155  1114059000  서울특별시   중구    광희동  1114013200   충무로4가  19980914   NaN
156  1114059000  서울특별시   중구    광희동  1114013300   충무로5가  19980914   NaN
157  1114059000  서울특별시   중구    광희동  1114013400   인현동2가  19980914   NaN
158  1114059000  서울특별시   중구    광희동  1114013500     예관동  19980914   NaN
159  1114059000  서울특별시   중구    광희동  1114014500   광희동1가  19880423   NaN
160  1114059000  서울특별시   중구    광희동  1114014600   광희동2가  19880423   NaN
161  1114059000  서울특별시   중구    광희동  1114014700     쌍림동  19880423   NaN
162  1114059000  서울특별시   중구    광희동  1114014800   을지로6가  19880423   NaN
163  1114059000  서울특별시   중구    광희동  1114014900   을지로7가  19880423   NaN
164  1114059000  서울특별시   중구    광희동  1114015400     오장동  19920416   NaN
165  1114060500  서울특별시   중구   을지로동  1114015000   을지로4가  20050315   NaN
166  1114060500  서울특별시   중구   을지로동  1114015100   을지로5가  20050315   NaN
167  1114060500  서울특별시   중구   을지로동  1114015200     주교동  20050315   NaN
168  1114060500  서울특별시   중구   을지로동  1114015300     방산동  20050315   NaN
169  1114060500  서울특별시   중구   을지로동  1114015500   을지로3가  20050315   NaN
170  1114060500  서울특별시   중구   을지로동  1114015600     입정동  20050315   NaN
171  1114060500  서울특별시   중구   을지로동  1114015700     산림동  20050315   NaN
172  1114060500  서울특별시   중구   을지로동  1114015900      초동  20050315   NaN
173  1114060500  서울특별시   중구   을지로동  1114016000   인현동1가  20050315   NaN
174  1114060500  서울특별시   중구   을지로동  1114016100    저동2가  20050315   NaN
175  1114061500  서울특별시   중구    신당동  1114016200     신당동  20130720   NaN
176  1114061500  서울특별시   중구    신당동  1114016300     흥인동  20130720   NaN
177  1114061500  서울특별시   중구    신당동  1114016400     무학동  20130720   NaN
178  1114062500  서울특별시   중구    다산동  1114016200     신당동  20130720   NaN
179  1114063500  서울특별시   중구    약수동  1114016200     신당동  20130720   NaN
180  1114064500  서울특별시   중구    청구동  1114016200     신당동  20130720   NaN
181  1114065000  서울특별시   중구  신당제5동  1114016200     신당동  19880423   NaN
182  1114066500  서울특별시   중구    동화동  1114016200     신당동  20130720   NaN
183  1114067000  서울특별시   중구    황학동  1114016500     황학동  19880423   NaN
184  1114068000  서울특별시   중구    중림동  1114017100     중림동  19880423   NaN
185  1114068000  서울특별시   중구    중림동  1114017200   의주로2가  19880423   NaN
186  1114068000  서울특별시   중구    중림동  1114017300   만리동1가  19880423   NaN
187  1114068000  서울특별시   중구    중림동  1114017400   만리동2가  19880423   NaN

In [310]:
df_need = df_seoul[['시군구명','행정동코드','읍면동명','법정동코드','동리명']]
df_need

    시군구명       행정동코드   읍면동명       법정동코드    동리명
0    NaN  1100000000    NaN  1100000000  서울특별시
1    종로구  1111000000    NaN  1111000000    종로구
2    종로구  1111051500  청운효자동  1111010100    청운동
3    종로구  1111051500  청운효자동  1111010200    신교동
4    종로구  1111051500  청운효자동  1111010300    궁정동
..   ...         ...    ...         ...    ...
762  강동구  1174065000  성내제2동  1174010800    성내동
763  강동구  1174066000  성내제3동  1174010800    성내동
764  강동구  1174068500     길동  1174010500     길동
765  강동구  1174069000  둔촌제1동  1174010600    둔촌동
766  강동구  1174070000  둔촌제2동  1174010600    둔촌동

[767 rows x 5 columns]

In [311]:
df_need.dropna(axis = 0,inplace = True)

C:\Users\NEW\AppData\Local\Temp\ipykernel_2428\361724113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_need.dropna(axis = 0,inplace = True)

In [312]:
df_need

    시군구명       행정동코드   읍면동명       법정동코드  동리명
2    종로구  1111051500  청운효자동  1111010100  청운동
3    종로구  1111051500  청운효자동  1111010200  신교동
4    종로구  1111051500  청운효자동  1111010300  궁정동
5    종로구  1111051500  청운효자동  1111010400  효자동
6    종로구  1111051500  청운효자동  1111010500  창성동
..   ...         ...    ...         ...  ...
762  강동구  1174065000  성내제2동  1174010800  성내동
763  강동구  1174066000  성내제3동  1174010800  성내동
764  강동구  1174068500     길동  1174010500   길동
765  강동구  1174069000  둔촌제1동  1174010600  둔촌동
766  강동구  1174070000  둔촌제2동  1174010600  둔촌동

[741 rows x 5 columns]

In [313]:
#전체 행정동 개수

len(set(df_need['읍면동명']))

424

In [314]:
# 전체 행정동 코드 개수

len(df_need['행정동코드'].unique())

425

In [315]:
#전체 법정동 개수

len(set(df_need['동리명']))

465

In [316]:
len(set(df_need['법정동코드']))

467

### 중복된 행정동(읍면동명), 법정동(동리명)이 있는지 확인

In [317]:
#행정구 개수 확인

len(set(df_need.set_index('시군구명').index))

25

In [318]:
#중복되는 행정동명 추출

dong = []
gudong_dict = {}
for i in set(df_need.set_index('시군구명').index):
    dong_raw = list(set(df_need.loc[df_need['시군구명'] == i, '읍면동명']))
    for j in dong_raw:
        dong.append(j)
    gudong_dict[i] = dong_raw

    s_dong = set(dong)
    raw_dong = dong
    if len(s_dong) != len(raw_dong):
        for k in s_dong:
            raw_dong.remove(k)
        print(raw_dong)

['신사동']

- 신사동은 강남구, 관악구에 각각 존재함

In [319]:
#중복되는 법정동명 추출

dong = []
gudong_dict = {}
for i in set(df_need.set_index('시군구명').index):
    dong_raw = list(set(df_need.loc[df_need['시군구명'] == i, '동리명']))
    for j in dong_raw:
        dong.append(j)
    gudong_dict[i] = dong_raw

    s_dong = set(dong)
    raw_dong = dong
    if len(s_dong) != len(raw_dong):
        for k in s_dong:
            raw_dong.remove(k)
        print(raw_dong)

['신정동']

- 신정동은 마포구, 양천구에 존재
- 신사동은 강남구, 은평구에 존재

---

### 데이터 전처리

#### 행정동코드, 법정동코드 단위 맞추기

In [320]:
import numpy as np
df2_hund = df_need.copy()
df2_hund['행정동코드'] = (df2_hund['행정동코드']/100).astype(np.int64)
df2_hund['법정동코드'] = (df2_hund['법정동코드']/100).astype(np.int64)
df2_hund

    시군구명     행정동코드   읍면동명     법정동코드  동리명
2    종로구  11110515  청운효자동  11110101  청운동
3    종로구  11110515  청운효자동  11110102  신교동
4    종로구  11110515  청운효자동  11110103  궁정동
5    종로구  11110515  청운효자동  11110104  효자동
6    종로구  11110515  청운효자동  11110105  창성동
..   ...       ...    ...       ...  ...
762  강동구  11740650  성내제2동  11740108  성내동
763  강동구  11740660  성내제3동  11740108  성내동
764  강동구  11740685     길동  11740105   길동
765  강동구  11740690  둔촌제1동  11740106  둔촌동
766  강동구  11740700  둔촌제2동  11740106  둔촌동

[741 rows x 5 columns]

#### 행정동 별 법정동 개수 매핑

In [321]:
df2_count = pd.merge(df2_hund, df2_hund[['행정동코드','법정동코드']].groupby('행정동코드').count().rename(columns = {'법정동코드': '법정동개수'}).reset_index(), how = 'left')
df2_count

    시군구명     행정동코드   읍면동명     법정동코드  동리명  법정동개수
0    종로구  11110515  청운효자동  11110101  청운동     10
1    종로구  11110515  청운효자동  11110102  신교동     10
2    종로구  11110515  청운효자동  11110103  궁정동     10
3    종로구  11110515  청운효자동  11110104  효자동     10
4    종로구  11110515  청운효자동  11110105  창성동     10
..   ...       ...    ...       ...  ...    ...
736  강동구  11740650  성내제2동  11740108  성내동      1
737  강동구  11740660  성내제3동  11740108  성내동      1
738  강동구  11740685     길동  11740105   길동      1
739  강동구  11740690  둔촌제1동  11740106  둔촌동      1
740  강동구  11740700  둔촌제2동  11740106  둔촌동      1

[741 rows x 6 columns]

In [322]:
df2_count[df2_count['법정동개수'] == 0]

Empty DataFrame
Columns: [시군구명, 행정동코드, 읍면동명, 법정동코드, 동리명, 법정동개수]
Index: []

In [323]:
len(df2_hund['행정동코드'].unique())

425

In [324]:
len(df2_hund['법정동코드'].unique())

467

### 행정동<-> 법정동 정제 후 csv파일로 저장

In [325]:
mapping_bh_dong = df2_count.drop_duplicates()
len(mapping_bh_dong)

741

In [326]:
mapping_bh_dong.columns

Index(['시군구명', '행정동코드', '읍면동명', '법정동코드', '동리명', '법정동개수'], dtype='object')

In [327]:
mapping_bh_dong.rename(columns = {'읍면동명': '행정동명', '동리명': '법정동명'},inplace = True)
mapping_bh_dong.head()

  시군구명     행정동코드   행정동명     법정동코드 법정동명  법정동개수
0  종로구  11110515  청운효자동  11110101  청운동     10
1  종로구  11110515  청운효자동  11110102  신교동     10
2  종로구  11110515  청운효자동  11110103  궁정동     10
3  종로구  11110515  청운효자동  11110104  효자동     10
4  종로구  11110515  청운효자동  11110105  창성동     10

In [328]:
mapping_bh_dong.to_csv('clean_map_dh_dong.csv')

## 거주인구

### 데이터 전처리

In [2]:
import pandas as pd

live_df = pd.read_excel('excel_주민등록인구_220206_계_clean.xlsx')
live_df

       구별    동별     연령별 항목   단위
0     종로구   사직동  10대 미만  계  200
1     종로구   사직동  10대 미만  계  347
2     종로구   사직동     10대  계  350
3     종로구   사직동     10대  계  324
4     종로구   사직동     20대  계  462
...   ...   ...     ... ..  ...
8941  강동구  상일2동  70대 이상  계  223
8942  강동구  상일2동  70대 이상  계  116
8943  강동구  상일2동  70대 이상  계   61
8944  강동구  상일2동  70대 이상  계   14
8945  강동구  상일2동  70대 이상  계    3

[8946 rows x 5 columns]

In [3]:
len(live_df['구별'].unique())

25

In [4]:
len(live_df['동별'].unique())

425

In [5]:
live_df['동별'].unique()

array(['사직동', '삼청동', '부암동', '평창동', '무악동', '교남동', '가회동', '종로1.2.3.4가동',
       '종로5.6가동', '이화동', '창신1동', '창신2동', '창신3동', '숭인1동', '숭인2동', '청운효자동',
       '혜화동', '소공동', '회현동', '명동', '필동', '장충동', '광희동', '을지로동', '신당5동',
       '황학동', '중림동', '신당동', '다산동', '약수동', '청구동', '동화동', '후암동', '용산2가동',
       '남영동', '원효로2동', '효창동', '용문동', '이촌1동', '이촌2동', '이태원1동', '이태원2동',
       '서빙고동', '보광동', '청파동', '원효로1동', '한강로동', '한남동', '왕십리2동', '마장동',
       '사근동', '행당1동', '행당2동', '응봉동', '금호1가동', '금호4가동', '성수1가1동', '성수1가2동',
       '성수2가1동', '성수2가3동', '송정동', '용답동', '왕십리도선동', '금호2.3가동', '옥수동',
       '화양동', '군자동', '중곡1동', '중곡2동', '중곡3동', '중곡4동', '능동', '구의1동', '구의2동',
       '구의3동', '광장동', '자양1동', '자양2동', '자양3동', '자양4동', '회기동', '휘경1동',
       '휘경2동', '청량리동', '용신동', '제기동', '전농1동', '전농2동', '답십리2동', '장안1동',
       '장안2동', '이문1동', '이문2동', '답십리1동', '면목2동', '면목4동', '면목5동', '면목7동',
       '상봉1동', '상봉2동', '중화1동', '중화2동', '묵1동', '묵2동', '망우3동', '신내1동',
       '신내2동', '면목본동', '면목3.8동', '망우본동', '돈암1동', '돈암2동', '안암동', '보문동',
       '정릉1동', '정릉2동', '정릉3동', '정릉4동', '길음1동', '길음2동', '월곡1동', '월곡2동',
       '장위1동', '장위2동', '장위3동', '성북동', '삼선동', '동선동', '종암동', '석관동', '번1동',
       '번2동', '번3동', '수유1동', '수유2동', '수유3동', '삼양동', '미아동', '송중동', '송천동',
       '삼각산동', '우이동', '인수동', '쌍문1동', '쌍문2동', '쌍문3동', '쌍문4동', '방학1동',
       '방학2동', '방학3동', '창1동', '창2동', '창3동', '창4동', '창5동', '도봉1동', '도봉2동',
       '월계1동', '월계2동', '월계3동', '공릉2동', '하계1동', '하계2동', '중계본동', '중계1동',
       '중계4동', '상계1동', '상계2동', '상계5동', '상계8동', '상계9동', '상계10동', '상계3.4동',
       '상계6.7동', '중계2.3동', '공릉1동', '녹번동', '불광1동', '갈현1동', '갈현2동', '구산동',
       '대조동', '응암1동', '응암2동', '신사1동', '신사2동', '증산동', '수색동', '진관동', '불광2동',
       '응암3동', '역촌동', '천연동', '홍제1동', '홍제3동', '홍제2동', '홍은1동', '홍은2동',
       '남가좌1동', '남가좌2동', '북가좌1동', '북가좌2동', '충현동', '북아현동', '신촌동', '연희동',
       '용강동', '대흥동', '염리동', '신수동', '서교동', '합정동', '망원1동', '망원2동', '연남동',
       '성산1동', '성산2동', '상암동', '도화동', '서강동', '공덕동', '아현동', '목1동', '목2동',
       '목3동', '목4동', '신월1동', '신월2동', '신월3동', '신월4동', '신월5동', '신월6동',
       '신월7동', '신정1동', '신정2동', '신정3동', '신정6동', '신정7동', '목5동', '신정4동',
       '염창동', '등촌1동', '등촌2동', '등촌3동', '화곡본동', '화곡2동', '화곡3동', '화곡4동',
       '화곡6동', '화곡8동', '가양1동', '가양2동', '가양3동', '발산1동', '공항동', '방화1동',
       '방화2동', '방화3동', '화곡1동', '우장산동', '신도림동', '구로1동', '구로3동', '구로4동',
       '구로5동', '고척1동', '고척2동', '개봉2동', '개봉3동', '오류1동', '수궁동', '가리봉동',
       '구로2동', '개봉1동', '오류2동', '항동', '가산동', '독산1동', '독산2동', '독산3동',
       '독산4동', '시흥1동', '시흥2동', '시흥3동', '시흥4동', '시흥5동', '여의동', '당산1동',
       '당산2동', '양평1동', '양평2동', '신길1동', '신길3동', '신길4동', '신길5동', '신길6동',
       '신길7동', '대림1동', '대림2동', '대림3동', '영등포본동', '영등포동', '도림동', '문래동',
       '노량진2동', '상도1동', '상도2동', '상도3동', '상도4동', '사당1동', '사당3동', '사당4동',
       '사당5동', '대방동', '신대방1동', '신대방2동', '흑석동', '노량진1동', '사당2동', '보라매동',
       '청림동', '행운동', '낙성대동', '중앙동', '인헌동', '남현동', '서원동', '신원동', '서림동',
       '신사동', '신림동', '난향동', '조원동', '대학동', '은천동', '성현동', '청룡동', '난곡동',
       '삼성동', '미성동', '서초1동', '서초2동', '서초3동', '서초4동', '잠원동', '반포본동',
       '반포1동', '반포2동', '반포3동', '반포4동', '방배본동', '방배1동', '방배2동', '방배3동',
       '방배4동', '양재1동', '양재2동', '내곡동', '논현1동', '논현2동', '삼성1동', '삼성2동',
       '대치1동', '대치4동', '역삼1동', '역삼2동', '도곡1동', '도곡2동', '개포1동', '개포4동',
       '일원본동', '일원1동', '일원2동', '수서동', '세곡동', '압구정동', '청담동', '대치2동',
       '개포2동', '풍납1동', '풍납2동', '거여1동', '거여2동', '마천1동', '마천2동', '방이1동',
       '방이2동', '오륜동', '오금동', '송파1동', '송파2동', '석촌동', '삼전동', '가락본동', '가락1동',
       '가락2동', '문정1동', '문정2동', '잠실본동', '잠실4동', '잠실6동', '잠실7동', '잠실2동',
       '잠실3동', '장지동', '위례동', '강일동', '명일1동', '명일2동', '고덕1동', '고덕2동',
       '암사2동', '암사3동', '천호1동', '천호3동', '성내1동', '성내2동', '성내3동', '둔촌1동',
       '둔촌2동', '암사1동', '천호2동', '길동', '상일1동', '상일2동'], dtype=object)

In [6]:
live_df['항목'].unique()

array(['계'], dtype=object)

In [7]:
live_df = live_df.rename(columns = {'구별':'시군구명' ,'동별': '행정동명'})
live_df = live_df.reset_index().drop('index', axis  = 1)
live_df

     시군구명  행정동명     연령별 항목   단위
0     종로구   사직동  10대 미만  계  200
1     종로구   사직동  10대 미만  계  347
2     종로구   사직동     10대  계  350
3     종로구   사직동     10대  계  324
4     종로구   사직동     20대  계  462
...   ...   ...     ... ..  ...
8941  강동구  상일2동  70대 이상  계  223
8942  강동구  상일2동  70대 이상  계  116
8943  강동구  상일2동  70대 이상  계   61
8944  강동구  상일2동  70대 이상  계   14
8945  강동구  상일2동  70대 이상  계    3

[8946 rows x 5 columns]

In [8]:
live_df = live_df.groupby(['시군구명','행정동명','연령별']).sum().reset_index()
live_df

     시군구명  행정동명     연령별    단위
0     강남구  개포1동     10대   683
1     강남구  개포1동  10대 미만   432
2     강남구  개포1동     20대   735
3     강남구  개포1동     30대   701
4     강남구  개포1동     40대  1029
...   ...   ...     ...   ...
3403  중랑구  중화2동     30대  3783
3404  중랑구  중화2동     40대  3316
3405  중랑구  중화2동     50대  4735
3406  중랑구  중화2동     60대  4349
3407  중랑구  중화2동  70대 이상  3277

[3408 rows x 4 columns]

In [9]:
len(live_df['행정동명'].unique())

425

### 분석을 위한 데이터프레임 생성

#### 동매핑 데이터 불러오기

In [10]:
mapping_bh_dong = pd.read_csv('clean_map_dh_dong.csv', index_col=0)
mapping_bh_dong.head()

  시군구명     행정동코드   행정동명     법정동코드 법정동명  법정동개수
0  종로구  11110515  청운효자동  11110101  청운동     10
1  종로구  11110515  청운효자동  11110102  신교동     10
2  종로구  11110515  청운효자동  11110103  궁정동     10
3  종로구  11110515  청운효자동  11110104  효자동     10
4  종로구  11110515  청운효자동  11110105  창성동     10

In [11]:
len(mapping_bh_dong['행정동명'].unique())

424

In [12]:
len(live_df['행정동명'].unique())

425

#### 매핑하기 위해 동매핑 csv의 행정동명 전처리 필요( ex)oo1동-> oo제1동)

In [13]:
live_df['행정동명'] = live_df['행정동명'].replace(['상일1동','상일2동'],['상일동','상일동'],regex=True)

In [14]:
len(live_df['행정동명'].unique())

424

In [15]:
sorted(mapping_bh_dong['행정동명'].unique())

['가락1동',
 '가락2동',
 '가락본동',
 '가리봉동',
 '가산동',
 '가양제1동',
 '가양제2동',
 '가양제3동',
 '가회동',
 '갈현제1동',
 '갈현제2동',
 '강일동',
 '개봉제1동',
 '개봉제2동',
 '개봉제3동',
 '개포1동',
 '개포2동',
 '개포4동',
 '거여1동',
 '거여2동',
 '고덕제1동',
 '고덕제2동',
 '고척제1동',
 '고척제2동',
 '공덕동',
 '공릉1동',
 '공릉2동',
 '공항동',
 '광장동',
 '광희동',
 '교남동',
 '구로제1동',
 '구로제2동',
 '구로제3동',
 '구로제4동',
 '구로제5동',
 '구산동',
 '구의제1동',
 '구의제2동',
 '구의제3동',
 '군자동',
 '금호1가동',
 '금호2.3가동',
 '금호4가동',
 '길동',
 '길음제1동',
 '길음제2동',
 '낙성대동',
 '난곡동',
 '난향동',
 '남가좌제1동',
 '남가좌제2동',
 '남영동',
 '남현동',
 '내곡동',
 '노량진제1동',
 '노량진제2동',
 '녹번동',
 '논현1동',
 '논현2동',
 '능동',
 '다산동',
 '답십리제1동',
 '답십리제2동',
 '당산제1동',
 '당산제2동',
 '대림제1동',
 '대림제2동',
 '대림제3동',
 '대방동',
 '대조동',
 '대치1동',
 '대치2동',
 '대치4동',
 '대학동',
 '대흥동',
 '도곡1동',
 '도곡2동',
 '도림동',
 '도봉제1동',
 '도봉제2동',
 '도화동',
 '독산제1동',
 '독산제2동',
 '독산제3동',
 '독산제4동',
 '돈암제1동',
 '돈암제2동',
 '동선동',
 '동화동',
 '둔촌제1동',
 '둔촌제2동',
 '등촌제1동',
 '등촌제2동',
 '등촌제3동',
 '마장동',
 '마천1동',
 '마천2동',
 '망우본동',
 '망우제3동',
 '망원제1동',
 '망원제2동',
 '면목본동',
 '면목제2동',
 '면목제3.8동',
 '면목제4동',
 '면목제5동',
 '면목제7동',
 '명동',
 '명일제1동',
 '명일제2동',
 '목1동',
 '목2동',
 '목3동',
 '목4동',
 '목5동',
 '무악동',
 '묵제1동',
 '묵제2동',
 '문래동',
 '문정1동',
 '문정2동',
 '미성동',
 '미아동',
 '반포1동',
 '반포2동',
 '반포3동',
 '반포4동',
 '반포본동',
 '발산제1동',
 '방배1동',
 '방배2동',
 '방배3동',
 '방배4동',
 '방배본동',
 '방이1동',
 '방이2동',
 '방학제1동',
 '방학제2동',
 '방학제3동',
 '방화제1동',
 '방화제2동',
 '방화제3동',
 '번1동',
 '번2동',
 '번3동',
 '보광동',
 '보라매동',
 '보문동',
 '부암동',
 '북가좌제1동',
 '북가좌제2동',
 '북아현동',
 '불광제1동',
 '불광제2동',
 '사근동',
 '사당제1동',
 '사당제2동',
 '사당제3동',
 '사당제4동',
 '사당제5동',
 '사직동',
 '삼각산동',
 '삼선동',
 '삼성1동',
 '삼성2동',
 '삼성동',
 '삼양동',
 '삼전동',
 '삼청동',
 '상계10동',
 '상계1동',
 '상계2동',
 '상계3.4동',
 '상계5동',
 '상계6.7동',
 '상계8동',
 '상계9동',
 '상도제1동',
 '상도제2동',
 '상도제3동',
 '상도제4동',
 '상봉제1동',
 '상봉제2동',
 '상암동',
 '상일동',
 '서강동',
 '서교동',
 '서림동',
 '서빙고동',
 '서원동',
 '서초1동',
 '서초2동',
 '서초3동',
 '서초4동',
 '석관동',
 '석촌동',
 '성내제1동',
 '성내제2동',
 '성내제3동',
 '성북동',
 '성산제1동',
 '성산제2동',
 '성수1가제1동',
 '성수1가제2동',
 '성수2가제1동',
 '성수2가제3동',
 '성현동',
 '세곡동',
 '소공동',
 '송정동',
 '송중동',
 '송천동',
 '송파1동',
 '송파2동',
 '수궁동',
 '수색동',
 '수서동',
 '수유1동',
 '수유2동',
 '수유3동',
 '숭인제1동',
 '숭인제2동',
 '시흥제1동',
 '시흥제2동',
 '시흥제3동',
 '시흥제4동',
 '시흥제5동',
 '신길제1동',
 '신길제3동',
 '신길제4동',
 '신길제5동',
 '신길제6동',
 '신길제7동',
 '신내1동',
 '신내2동',
 '신당동',
 '신당제5동',
 '신대방제1동',
 '신대방제2동',
 '신도림동',
 '신림동',
 '신사동',
 '신사제1동',
 '신사제2동',
 '신수동',
 '신원동',
 '신월1동',
 '신월2동',
 '신월3동',
 '신월4동',
 '신월5동',
 '신월6동',
 '신월7동',
 '신정1동',
 '신정2동',
 '신정3동',
 '신정4동',
 '신정6동',
 '신정7동',
 '신촌동',
 '쌍문제1동',
 '쌍문제2동',
 '쌍문제3동',
 '쌍문제4동',
 '아현동',
 '안암동',
 '암사제1동',
 '암사제2동',
 '암사제3동',
 '압구정동',
 '약수동',
 '양재1동',
 '양재2동',
 '양평제1동',
 '양평제2동',
 '여의동',
 '역삼1동',
 '역삼2동',
 '역촌동',
 '연남동',
 '연희동',
 '염리동',
 '염창동',
 '영등포동',
 '영등포본동',
 '오금동',
 '오류제1동',
 '오류제2동',
 '오륜동',
 '옥수동',
 '왕십리도선동',
 '왕십리제2동',
 '용강동',
 '용답동',
 '용문동',
 '용산2가동',
 '용신동',
 '우이동',
 '우장산동',
 '원효로제1동',
 '원효로제2동',
 '월계1동',
 '월계2동',
 '월계3동',
 '월곡제1동',
 '월곡제2동',
 '위례동',
 '은천동',
 '을지로동',
 '응봉동',
 '응암제1동',
 '응암제2동',
 '응암제3동',
 '이문제1동',
 '이문제2동',
 '이촌제1동',
 '이촌제2동',
 '이태원제1동',
 '이태원제2동',
 '이화동',
 '인수동',
 '인헌동',
 '일원1동',
 '일원2동',
 '일원본동',
 '자양제1동',
 '자양제2동',
 '자양제3동',
 '자양제4동',
 '잠실2동',
 '잠실3동',
 '잠실4동',
 '잠실6동',
 '잠실7동',
 '잠실본동',
 '잠원동',
 '장안제1동',
 '장안제2동',
 '장위제1동',
 '장위제2동',
 '장위제3동',
 '장지동',
 '장충동',
 '전농제1동',
 '전농제2동',
 '정릉제1동',
 '정릉제2동',
 '정릉제3동',
 '정릉제4동',
 '제기동',
 '조원동',
 '종로1.2.3.4가동',
 '종로5.6가동',
 '종암동',
 '중계1동',
 '중계2.3동',
 '중계4동',
 '중계본동',
 '중곡제1동',
 '중곡제2동',
 '중곡제3동',
 '중곡제4동',
 '중림동',
 '중앙동',
 '중화제1동',
 '중화제2동',
 '증산동',
 '진관동',
 '창신제1동',
 '창신제2동',
 '창신제3동',
 '창제1동',
 '창제2동',
 '창제3동',
 '창제4동',
 '창제5동',
 '천연동',
 '천호제1동',
 '천호제2동',
 '천호제3동',
 '청구동',
 '청담동',
 '청량리동',
 '청룡동',
 '청림동',
 '청운효자동',
 '청파동',
 '충현동',
 '평창동',
 '풍납1동',
 '풍납2동',
 '필동',
 '하계1동',
 '하계2동',
 '한강로동',
 '한남동',
 '합정동',
 '항동',
 '행당제1동',
 '행당제2동',
 '행운동',
 '혜화동',
 '홍은제1동',
 '홍은제2동',
 '홍제제1동',
 '홍제제2동',
 '홍제제3동',
 '화곡본동',
 '화곡제1동',
 '화곡제2동',
 '화곡제3동',
 '화곡제4동',
 '화곡제6동',
 '화곡제8동',
 '화양동',
 '황학동',
 '회기동',
 '회현동',
 '효창동',
 '후암동',
 '휘경제1동',
 '휘경제2동',
 '흑석동']

In [16]:
sorted(live_df['행정동명'].unique())

['가락1동',
 '가락2동',
 '가락본동',
 '가리봉동',
 '가산동',
 '가양1동',
 '가양2동',
 '가양3동',
 '가회동',
 '갈현1동',
 '갈현2동',
 '강일동',
 '개봉1동',
 '개봉2동',
 '개봉3동',
 '개포1동',
 '개포2동',
 '개포4동',
 '거여1동',
 '거여2동',
 '고덕1동',
 '고덕2동',
 '고척1동',
 '고척2동',
 '공덕동',
 '공릉1동',
 '공릉2동',
 '공항동',
 '광장동',
 '광희동',
 '교남동',
 '구로1동',
 '구로2동',
 '구로3동',
 '구로4동',
 '구로5동',
 '구산동',
 '구의1동',
 '구의2동',
 '구의3동',
 '군자동',
 '금호1가동',
 '금호2.3가동',
 '금호4가동',
 '길동',
 '길음1동',
 '길음2동',
 '낙성대동',
 '난곡동',
 '난향동',
 '남가좌1동',
 '남가좌2동',
 '남영동',
 '남현동',
 '내곡동',
 '노량진1동',
 '노량진2동',
 '녹번동',
 '논현1동',
 '논현2동',
 '능동',
 '다산동',
 '답십리1동',
 '답십리2동',
 '당산1동',
 '당산2동',
 '대림1동',
 '대림2동',
 '대림3동',
 '대방동',
 '대조동',
 '대치1동',
 '대치2동',
 '대치4동',
 '대학동',
 '대흥동',
 '도곡1동',
 '도곡2동',
 '도림동',
 '도봉1동',
 '도봉2동',
 '도화동',
 '독산1동',
 '독산2동',
 '독산3동',
 '독산4동',
 '돈암1동',
 '돈암2동',
 '동선동',
 '동화동',
 '둔촌1동',
 '둔촌2동',
 '등촌1동',
 '등촌2동',
 '등촌3동',
 '마장동',
 '마천1동',
 '마천2동',
 '망우3동',
 '망우본동',
 '망원1동',
 '망원2동',
 '면목2동',
 '면목3.8동',
 '면목4동',
 '면목5동',
 '면목7동',
 '면목본동',
 '명동',
 '명일1동',
 '명일2동',
 '목1동',
 '목2동',
 '목3동',
 '목4동',
 '목5동',
 '무악동',
 '묵1동',
 '묵2동',
 '문래동',
 '문정1동',
 '문정2동',
 '미성동',
 '미아동',
 '반포1동',
 '반포2동',
 '반포3동',
 '반포4동',
 '반포본동',
 '발산1동',
 '방배1동',
 '방배2동',
 '방배3동',
 '방배4동',
 '방배본동',
 '방이1동',
 '방이2동',
 '방학1동',
 '방학2동',
 '방학3동',
 '방화1동',
 '방화2동',
 '방화3동',
 '번1동',
 '번2동',
 '번3동',
 '보광동',
 '보라매동',
 '보문동',
 '부암동',
 '북가좌1동',
 '북가좌2동',
 '북아현동',
 '불광1동',
 '불광2동',
 '사근동',
 '사당1동',
 '사당2동',
 '사당3동',
 '사당4동',
 '사당5동',
 '사직동',
 '삼각산동',
 '삼선동',
 '삼성1동',
 '삼성2동',
 '삼성동',
 '삼양동',
 '삼전동',
 '삼청동',
 '상계10동',
 '상계1동',
 '상계2동',
 '상계3.4동',
 '상계5동',
 '상계6.7동',
 '상계8동',
 '상계9동',
 '상도1동',
 '상도2동',
 '상도3동',
 '상도4동',
 '상봉1동',
 '상봉2동',
 '상암동',
 '상일동',
 '서강동',
 '서교동',
 '서림동',
 '서빙고동',
 '서원동',
 '서초1동',
 '서초2동',
 '서초3동',
 '서초4동',
 '석관동',
 '석촌동',
 '성내1동',
 '성내2동',
 '성내3동',
 '성북동',
 '성산1동',
 '성산2동',
 '성수1가1동',
 '성수1가2동',
 '성수2가1동',
 '성수2가3동',
 '성현동',
 '세곡동',
 '소공동',
 '송정동',
 '송중동',
 '송천동',
 '송파1동',
 '송파2동',
 '수궁동',
 '수색동',
 '수서동',
 '수유1동',
 '수유2동',
 '수유3동',
 '숭인1동',
 '숭인2동',
 '시흥1동',
 '시흥2동',
 '시흥3동',
 '시흥4동',
 '시흥5동',
 '신길1동',
 '신길3동',
 '신길4동',
 '신길5동',
 '신길6동',
 '신길7동',
 '신내1동',
 '신내2동',
 '신당5동',
 '신당동',
 '신대방1동',
 '신대방2동',
 '신도림동',
 '신림동',
 '신사1동',
 '신사2동',
 '신사동',
 '신수동',
 '신원동',
 '신월1동',
 '신월2동',
 '신월3동',
 '신월4동',
 '신월5동',
 '신월6동',
 '신월7동',
 '신정1동',
 '신정2동',
 '신정3동',
 '신정4동',
 '신정6동',
 '신정7동',
 '신촌동',
 '쌍문1동',
 '쌍문2동',
 '쌍문3동',
 '쌍문4동',
 '아현동',
 '안암동',
 '암사1동',
 '암사2동',
 '암사3동',
 '압구정동',
 '약수동',
 '양재1동',
 '양재2동',
 '양평1동',
 '양평2동',
 '여의동',
 '역삼1동',
 '역삼2동',
 '역촌동',
 '연남동',
 '연희동',
 '염리동',
 '염창동',
 '영등포동',
 '영등포본동',
 '오금동',
 '오류1동',
 '오류2동',
 '오륜동',
 '옥수동',
 '왕십리2동',
 '왕십리도선동',
 '용강동',
 '용답동',
 '용문동',
 '용산2가동',
 '용신동',
 '우이동',
 '우장산동',
 '원효로1동',
 '원효로2동',
 '월계1동',
 '월계2동',
 '월계3동',
 '월곡1동',
 '월곡2동',
 '위례동',
 '은천동',
 '을지로동',
 '응봉동',
 '응암1동',
 '응암2동',
 '응암3동',
 '이문1동',
 '이문2동',
 '이촌1동',
 '이촌2동',
 '이태원1동',
 '이태원2동',
 '이화동',
 '인수동',
 '인헌동',
 '일원1동',
 '일원2동',
 '일원본동',
 '자양1동',
 '자양2동',
 '자양3동',
 '자양4동',
 '잠실2동',
 '잠실3동',
 '잠실4동',
 '잠실6동',
 '잠실7동',
 '잠실본동',
 '잠원동',
 '장안1동',
 '장안2동',
 '장위1동',
 '장위2동',
 '장위3동',
 '장지동',
 '장충동',
 '전농1동',
 '전농2동',
 '정릉1동',
 '정릉2동',
 '정릉3동',
 '정릉4동',
 '제기동',
 '조원동',
 '종로1.2.3.4가동',
 '종로5.6가동',
 '종암동',
 '중계1동',
 '중계2.3동',
 '중계4동',
 '중계본동',
 '중곡1동',
 '중곡2동',
 '중곡3동',
 '중곡4동',
 '중림동',
 '중앙동',
 '중화1동',
 '중화2동',
 '증산동',
 '진관동',
 '창1동',
 '창2동',
 '창3동',
 '창4동',
 '창5동',
 '창신1동',
 '창신2동',
 '창신3동',
 '천연동',
 '천호1동',
 '천호2동',
 '천호3동',
 '청구동',
 '청담동',
 '청량리동',
 '청룡동',
 '청림동',
 '청운효자동',
 '청파동',
 '충현동',
 '평창동',
 '풍납1동',
 '풍납2동',
 '필동',
 '하계1동',
 '하계2동',
 '한강로동',
 '한남동',
 '합정동',
 '항동',
 '행당1동',
 '행당2동',
 '행운동',
 '혜화동',
 '홍은1동',
 '홍은2동',
 '홍제1동',
 '홍제2동',
 '홍제3동',
 '화곡1동',
 '화곡2동',
 '화곡3동',
 '화곡4동',
 '화곡6동',
 '화곡8동',
 '화곡본동',
 '화양동',
 '황학동',
 '회기동',
 '회현동',
 '효창동',
 '후암동',
 '휘경1동',
 '휘경2동',
 '흑석동']

In [17]:
rep = pd.DataFrame(columns = ['표준','수정필요'])
rep['표준'] = sorted(list(mapping_bh_dong['행정동명'].unique()))
rep['수정필요'] = sorted(live_df['행정동명'].unique())

In [18]:
pd.options.display.max_rows = 464
rep

              표준         수정필요
0           가락1동         가락1동
1           가락2동         가락2동
2           가락본동         가락본동
3           가리봉동         가리봉동
4            가산동          가산동
5          가양제1동         가양1동
6          가양제2동         가양2동
7          가양제3동         가양3동
8            가회동          가회동
9          갈현제1동         갈현1동
10         갈현제2동         갈현2동
11           강일동          강일동
12         개봉제1동         개봉1동
13         개봉제2동         개봉2동
14         개봉제3동         개봉3동
15          개포1동         개포1동
16          개포2동         개포2동
17          개포4동         개포4동
18          거여1동         거여1동
19          거여2동         거여2동
20         고덕제1동         고덕1동
21         고덕제2동         고덕2동
22         고척제1동         고척1동
23         고척제2동         고척2동
24           공덕동          공덕동
25          공릉1동         공릉1동
26          공릉2동         공릉2동
27           공항동          공항동
28           광장동          광장동
29           광희동          광희동
30           교남동          교남동
31         구로제1동         구로1동
32         구로제2동         구로2동
33         구로제3동         구로3동
34         구로제4동         구로4동
35         구로제5동         구로5동
36           구산동          구산동
37         구의제1동         구의1동
38         구의제2동         구의2동
39         구의제3동         구의3동
40           군자동          군자동
41         금호1가동        금호1가동
42       금호2.3가동      금호2.3가동
43         금호4가동        금호4가동
44            길동           길동
45         길음제1동         길음1동
46         길음제2동         길음2동
47          낙성대동         낙성대동
48           난곡동          난곡동
49           난향동          난향동
50        남가좌제1동        남가좌1동
51        남가좌제2동        남가좌2동
52           남영동          남영동
53           남현동          남현동
54           내곡동          내곡동
55        노량진제1동        노량진1동
56        노량진제2동        노량진2동
57           녹번동          녹번동
58          논현1동         논현1동
59          논현2동         논현2동
60            능동           능동
61           다산동          다산동
62        답십리제1동        답십리1동
63        답십리제2동        답십리2동
64         당산제1동         당산1동
65         당산제2동         당산2동
66         대림제1동         대림1동
67         대림제2동         대림2동
68         대림제3동         대림3동
69           대방동          대방동
70           대조동          대조동
71          대치1동         대치1동
72          대치2동         대치2동
73          대치4동         대치4동
74           대학동          대학동
75           대흥동          대흥동
76          도곡1동         도곡1동
77          도곡2동         도곡2동
78           도림동          도림동
79         도봉제1동         도봉1동
80         도봉제2동         도봉2동
81           도화동          도화동
82         독산제1동         독산1동
83         독산제2동         독산2동
84         독산제3동         독산3동
85         독산제4동         독산4동
86         돈암제1동         돈암1동
87         돈암제2동         돈암2동
88           동선동          동선동
89           동화동          동화동
90         둔촌제1동         둔촌1동
91         둔촌제2동         둔촌2동
92         등촌제1동         등촌1동
93         등촌제2동         등촌2동
94         등촌제3동         등촌3동
95           마장동          마장동
96          마천1동         마천1동
97          마천2동         마천2동
98          망우본동         망우3동
99         망우제3동         망우본동
100        망원제1동         망원1동
101        망원제2동         망원2동
102         면목본동         면목2동
103        면목제2동       면목3.8동
104      면목제3.8동         면목4동
105        면목제4동         면목5동
106        면목제5동         면목7동
107        면목제7동         면목본동
108           명동           명동
109        명일제1동         명일1동
110        명일제2동         명일2동
111          목1동          목1동
112          목2동          목2동
113          목3동          목3동
114          목4동          목4동
115          목5동          목5동
116          무악동          무악동
117         묵제1동          묵1동
118         묵제2동          묵2동
119          문래동          문래동
120         문정1동         문정1동
121         문정2동         문정2동
122          미성동          미성동
123          미아동          미아동
124         반포1동         반포1동
125         반포2동         반포2동
126         반포3동         반포3동
127         반포4동         반포4동
128         반포본동         반포본동
129        발산제1동         발산1동
130         방배1동         방배1동
131         방배2동         방배2동
132         방배3동         방배3동
133         방배4동         방배4동
134         방배본동         방배본동
135         방이1동         방이1동
136         방이2동         방이2동
137        방학제1동         방학1동
138        방학제2동         방학2동
139        방학제3동         방학3동
140        방화제1동         방화1동
141        방화제2동         방화2동
142        방화제3동         방화3동
143          번1동          번1동
144          번2동          번2동
145          번3동          번3동
146          보광동          보광동
147         보라매동         보라매동
148          보문동          보문동
149          부암동          부암동
150       북가좌제1동        북가좌1동
151       북가좌제2동        북가좌2동
152         북아현동         북아현동
153        불광제1동         불광1동
154        불광제2동         불광2동
155          사근동          사근동
156        사당제1동         사당1동
157        사당제2동         사당2동
158        사당제3동         사당3동
159        사당제4동         사당4동
160        사당제5동         사당5동
161          사직동          사직동
162         삼각산동         삼각산동
163          삼선동          삼선동
164         삼성1동         삼성1동
165         삼성2동         삼성2동
166          삼성동          삼성동
167          삼양동          삼양동
168          삼전동          삼전동
169          삼청동          삼청동
170        상계10동        상계10동
171         상계1동         상계1동
172         상계2동         상계2동
173       상계3.4동       상계3.4동
174         상계5동         상계5동
175       상계6.7동       상계6.7동
176         상계8동         상계8동
177         상계9동         상계9동
178        상도제1동         상도1동
179        상도제2동         상도2동
180        상도제3동         상도3동
181        상도제4동         상도4동
182        상봉제1동         상봉1동
183        상봉제2동         상봉2동
184          상암동          상암동
185          상일동          상일동
186          서강동          서강동
187          서교동          서교동
188          서림동          서림동
189         서빙고동         서빙고동
190          서원동          서원동
191         서초1동         서초1동
192         서초2동         서초2동
193         서초3동         서초3동
194         서초4동         서초4동
195          석관동          석관동
196          석촌동          석촌동
197        성내제1동         성내1동
198        성내제2동         성내2동
199        성내제3동         성내3동
200          성북동          성북동
201        성산제1동         성산1동
202        성산제2동         성산2동
203      성수1가제1동       성수1가1동
204      성수1가제2동       성수1가2동
205      성수2가제1동       성수2가1동
206      성수2가제3동       성수2가3동
207          성현동          성현동
208          세곡동          세곡동
209          소공동          소공동
210          송정동          송정동
211          송중동          송중동
212          송천동          송천동
213         송파1동         송파1동
214         송파2동         송파2동
215          수궁동          수궁동
216          수색동          수색동
217          수서동          수서동
218         수유1동         수유1동
219         수유2동         수유2동
220         수유3동         수유3동
221        숭인제1동         숭인1동
222        숭인제2동         숭인2동
223        시흥제1동         시흥1동
224        시흥제2동         시흥2동
225        시흥제3동         시흥3동
226        시흥제4동         시흥4동
227        시흥제5동         시흥5동
228        신길제1동         신길1동
229        신길제3동         신길3동
230        신길제4동         신길4동
231        신길제5동         신길5동
232        신길제6동         신길6동
233        신길제7동         신길7동
234         신내1동         신내1동
235         신내2동         신내2동
236          신당동         신당5동
237        신당제5동          신당동
238       신대방제1동        신대방1동
239       신대방제2동        신대방2동
240         신도림동         신도림동
241          신림동          신림동
242          신사동         신사1동
243        신사제1동         신사2동
244        신사제2동          신사동
245          신수동          신수동
246          신원동          신원동
247         신월1동         신월1동
248         신월2동         신월2동
249         신월3동         신월3동
250         신월4동         신월4동
251         신월5동         신월5동
252         신월6동         신월6동
253         신월7동         신월7동
254         신정1동         신정1동
255         신정2동         신정2동
256         신정3동         신정3동
257         신정4동         신정4동
258         신정6동         신정6동
259         신정7동         신정7동
260          신촌동          신촌동
261        쌍문제1동         쌍문1동
262        쌍문제2동         쌍문2동
263        쌍문제3동         쌍문3동
264        쌍문제4동         쌍문4동
265          아현동          아현동
266          안암동          안암동
267        암사제1동         암사1동
268        암사제2동         암사2동
269        암사제3동         암사3동
270         압구정동         압구정동
271          약수동          약수동
272         양재1동         양재1동
273         양재2동         양재2동
274        양평제1동         양평1동
275        양평제2동         양평2동
276          여의동          여의동
277         역삼1동         역삼1동
278         역삼2동         역삼2동
279          역촌동          역촌동
280          연남동          연남동
281          연희동          연희동
282          염리동          염리동
283          염창동          염창동
284         영등포동         영등포동
285        영등포본동        영등포본동
286          오금동          오금동
287        오류제1동         오류1동
288        오류제2동         오류2동
289          오륜동          오륜동
290          옥수동          옥수동
291       왕십리도선동        왕십리2동
292       왕십리제2동       왕십리도선동
293          용강동          용강동
294          용답동          용답동
295          용문동          용문동
296        용산2가동        용산2가동
297          용신동          용신동
298          우이동          우이동
299         우장산동         우장산동
300       원효로제1동        원효로1동
301       원효로제2동        원효로2동
302         월계1동         월계1동
303         월계2동         월계2동
304         월계3동         월계3동
305        월곡제1동         월곡1동
306        월곡제2동         월곡2동
307          위례동          위례동
308          은천동          은천동
309         을지로동         을지로동
310          응봉동          응봉동
311        응암제1동         응암1동
312        응암제2동         응암2동
313        응암제3동         응암3동
314        이문제1동         이문1동
315        이문제2동         이문2동
316        이촌제1동         이촌1동
317        이촌제2동         이촌2동
318       이태원제1동        이태원1동
319       이태원제2동        이태원2동
320          이화동          이화동
321          인수동          인수동
322          인헌동          인헌동
323         일원1동         일원1동
324         일원2동         일원2동
325         일원본동         일원본동
326        자양제1동         자양1동
327        자양제2동         자양2동
328        자양제3동         자양3동
329        자양제4동         자양4동
330         잠실2동         잠실2동
331         잠실3동         잠실3동
332         잠실4동         잠실4동
333         잠실6동         잠실6동
334         잠실7동         잠실7동
335         잠실본동         잠실본동
336          잠원동          잠원동
337        장안제1동         장안1동
338        장안제2동         장안2동
339        장위제1동         장위1동
340        장위제2동         장위2동
341        장위제3동         장위3동
342          장지동          장지동
343          장충동          장충동
344        전농제1동         전농1동
345        전농제2동         전농2동
346        정릉제1동         정릉1동
347        정릉제2동         정릉2동
348        정릉제3동         정릉3동
349        정릉제4동         정릉4동
350          제기동          제기동
351          조원동          조원동
352  종로1.2.3.4가동  종로1.2.3.4가동
353      종로5.6가동      종로5.6가동
354          종암동          종암동
355         중계1동         중계1동
356       중계2.3동       중계2.3동
357         중계4동         중계4동
358         중계본동         중계본동
359        중곡제1동         중곡1동
360        중곡제2동         중곡2동
361        중곡제3동         중곡3동
362        중곡제4동         중곡4동
363          중림동          중림동
364          중앙동          중앙동
365        중화제1동         중화1동
366        중화제2동         중화2동
367          증산동          증산동
368          진관동          진관동
369        창신제1동          창1동
370        창신제2동          창2동
371        창신제3동          창3동
372         창제1동          창4동
373         창제2동          창5동
374         창제3동         창신1동
375         창제4동         창신2동
376         창제5동         창신3동
377          천연동          천연동
378        천호제1동         천호1동
379        천호제2동         천호2동
380        천호제3동         천호3동
381          청구동          청구동
382          청담동          청담동
383         청량리동         청량리동
384          청룡동          청룡동
385          청림동          청림동
386        청운효자동        청운효자동
387          청파동          청파동
388          충현동          충현동
389          평창동          평창동
390         풍납1동         풍납1동
391         풍납2동         풍납2동
392           필동           필동
393         하계1동         하계1동
394         하계2동         하계2동
395         한강로동         한강로동
396          한남동          한남동
397          합정동          합정동
398           항동           항동
399        행당제1동         행당1동
400        행당제2동         행당2동
401          행운동          행운동
402          혜화동          혜화동
403        홍은제1동         홍은1동
404        홍은제2동         홍은2동
405        홍제제1동         홍제1동
406        홍제제2동         홍제2동
407        홍제제3동         홍제3동
408         화곡본동         화곡1동
409        화곡제1동         화곡2동
410        화곡제2동         화곡3동
411        화곡제3동         화곡4동
412        화곡제4동         화곡6동
413        화곡제6동         화곡8동
414        화곡제8동         화곡본동
415          화양동          화양동
416          황학동          황학동
417          회기동          회기동
418          회현동          회현동
419          효창동          효창동
420          후암동          후암동
421        휘경제1동         휘경1동
422        휘경제2동         휘경2동
423          흑석동          흑석동

In [19]:
rep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   표준      424 non-null    object
 1   수정필요    424 non-null    object
dtypes: object(2)
memory usage: 6.8+ KB

In [20]:
for i in range(len(rep)):
    if rep.loc[i,'수정필요'] != rep.loc[i,'표준']:
        rep.loc[i,'일치여부'] = 1
rep.dropna(inplace = True)

In [21]:
rep = rep.reset_index().drop(['index','일치여부'],axis = 1)
rep

          표준    수정필요
0      가양제1동    가양1동
1      가양제2동    가양2동
2      가양제3동    가양3동
3      갈현제1동    갈현1동
4      갈현제2동    갈현2동
5      개봉제1동    개봉1동
6      개봉제2동    개봉2동
7      개봉제3동    개봉3동
8      고덕제1동    고덕1동
9      고덕제2동    고덕2동
10     고척제1동    고척1동
11     고척제2동    고척2동
12     구로제1동    구로1동
13     구로제2동    구로2동
14     구로제3동    구로3동
15     구로제4동    구로4동
16     구로제5동    구로5동
17     구의제1동    구의1동
18     구의제2동    구의2동
19     구의제3동    구의3동
20     길음제1동    길음1동
21     길음제2동    길음2동
22    남가좌제1동   남가좌1동
23    남가좌제2동   남가좌2동
24    노량진제1동   노량진1동
25    노량진제2동   노량진2동
26    답십리제1동   답십리1동
27    답십리제2동   답십리2동
28     당산제1동    당산1동
29     당산제2동    당산2동
30     대림제1동    대림1동
31     대림제2동    대림2동
32     대림제3동    대림3동
33     도봉제1동    도봉1동
34     도봉제2동    도봉2동
35     독산제1동    독산1동
36     독산제2동    독산2동
37     독산제3동    독산3동
38     독산제4동    독산4동
39     돈암제1동    돈암1동
40     돈암제2동    돈암2동
41     둔촌제1동    둔촌1동
42     둔촌제2동    둔촌2동
43     등촌제1동    등촌1동
44     등촌제2동    등촌2동
45     등촌제3동    등촌3동
46      망우본동    망우3동
47     망우제3동    망우본동
48     망원제1동    망원1동
49     망원제2동    망원2동
50      면목본동    면목2동
51     면목제2동  면목3.8동
52   면목제3.8동    면목4동
53     면목제4동    면목5동
54     면목제5동    면목7동
55     면목제7동    면목본동
56     명일제1동    명일1동
57     명일제2동    명일2동
58      묵제1동     묵1동
59      묵제2동     묵2동
60     발산제1동    발산1동
61     방학제1동    방학1동
62     방학제2동    방학2동
63     방학제3동    방학3동
64     방화제1동    방화1동
65     방화제2동    방화2동
66     방화제3동    방화3동
67    북가좌제1동   북가좌1동
68    북가좌제2동   북가좌2동
69     불광제1동    불광1동
70     불광제2동    불광2동
71     사당제1동    사당1동
72     사당제2동    사당2동
73     사당제3동    사당3동
74     사당제4동    사당4동
75     사당제5동    사당5동
76     상도제1동    상도1동
77     상도제2동    상도2동
78     상도제3동    상도3동
79     상도제4동    상도4동
80     상봉제1동    상봉1동
81     상봉제2동    상봉2동
82     성내제1동    성내1동
83     성내제2동    성내2동
84     성내제3동    성내3동
85     성산제1동    성산1동
86     성산제2동    성산2동
87   성수1가제1동  성수1가1동
88   성수1가제2동  성수1가2동
89   성수2가제1동  성수2가1동
90   성수2가제3동  성수2가3동
91     숭인제1동    숭인1동
92     숭인제2동    숭인2동
93     시흥제1동    시흥1동
94     시흥제2동    시흥2동
95     시흥제3동    시흥3동
96     시흥제4동    시흥4동
97     시흥제5동    시흥5동
98     신길제1동    신길1동
99     신길제3동    신길3동
100    신길제4동    신길4동
101    신길제5동    신길5동
102    신길제6동    신길6동
103    신길제7동    신길7동
104      신당동    신당5동
105    신당제5동     신당동
106   신대방제1동   신대방1동
107   신대방제2동   신대방2동
108      신사동    신사1동
109    신사제1동    신사2동
110    신사제2동     신사동
111    쌍문제1동    쌍문1동
112    쌍문제2동    쌍문2동
113    쌍문제3동    쌍문3동
114    쌍문제4동    쌍문4동
115    암사제1동    암사1동
116    암사제2동    암사2동
117    암사제3동    암사3동
118    양평제1동    양평1동
119    양평제2동    양평2동
120    오류제1동    오류1동
121    오류제2동    오류2동
122   왕십리도선동   왕십리2동
123   왕십리제2동  왕십리도선동
124   원효로제1동   원효로1동
125   원효로제2동   원효로2동
126    월곡제1동    월곡1동
127    월곡제2동    월곡2동
128    응암제1동    응암1동
129    응암제2동    응암2동
130    응암제3동    응암3동
131    이문제1동    이문1동
132    이문제2동    이문2동
133    이촌제1동    이촌1동
134    이촌제2동    이촌2동
135   이태원제1동   이태원1동
136   이태원제2동   이태원2동
137    자양제1동    자양1동
138    자양제2동    자양2동
139    자양제3동    자양3동
140    자양제4동    자양4동
141    장안제1동    장안1동
142    장안제2동    장안2동
143    장위제1동    장위1동
144    장위제2동    장위2동
145    장위제3동    장위3동
146    전농제1동    전농1동
147    전농제2동    전농2동
148    정릉제1동    정릉1동
149    정릉제2동    정릉2동
150    정릉제3동    정릉3동
151    정릉제4동    정릉4동
152    중곡제1동    중곡1동
153    중곡제2동    중곡2동
154    중곡제3동    중곡3동
155    중곡제4동    중곡4동
156    중화제1동    중화1동
157    중화제2동    중화2동
158    창신제1동     창1동
159    창신제2동     창2동
160    창신제3동     창3동
161     창제1동     창4동
162     창제2동     창5동
163     창제3동    창신1동
164     창제4동    창신2동
165     창제5동    창신3동
166    천호제1동    천호1동
167    천호제2동    천호2동
168    천호제3동    천호3동
169    행당제1동    행당1동
170    행당제2동    행당2동
171    홍은제1동    홍은1동
172    홍은제2동    홍은2동
173    홍제제1동    홍제1동
174    홍제제2동    홍제2동
175    홍제제3동    홍제3동
176     화곡본동    화곡1동
177    화곡제1동    화곡2동
178    화곡제2동    화곡3동
179    화곡제3동    화곡4동
180    화곡제4동    화곡6동
181    화곡제6동    화곡8동
182    화곡제8동    화곡본동
183    휘경제1동    휘경1동
184    휘경제2동    휘경2동

In [22]:
li = ['망우본동','망우3동','면목본동' ,'면목2동','면목3.8동', 
      '면목4동','면목5동','면목7동','신당동','신당5동','신사동','신사1동','신사2동','왕십리도선동','왕십리2동',
      '창신1동', '창신2동', '창신3동','창1동', '창2동', '창3동', '창4동', '창5동',
      '화곡본동', '화곡1동', '화곡2동', '화곡3동', '화곡4동', '화곡6동', '화곡8동' ]
len(li)

30

In [23]:
li_index = [46,47]+ list(range(50,56))+[104,105,108,109,110,122,123]+list(range(158,166))+list(range(176,183))
len(li_index)

30

In [28]:
for i in range(30):
    j = li_index[i]
    k = li[i]
    rep.loc[j,'수정필요'] = k
rep

rep.to_pickle('clean_거주인구_동_replace.pkl')

In [26]:
live_df['행정동명'] = live_df['행정동명'].replace(list(rep['수정필요']),list(rep['표준']), regex = True)
live_df

     시군구명   행정동명     연령별    단위
0     강남구   개포1동     10대   683
1     강남구   개포1동  10대 미만   432
2     강남구   개포1동     20대   735
3     강남구   개포1동     30대   701
4     강남구   개포1동     40대  1029
...   ...    ...     ...   ...
3403  중랑구  중화제2동     30대  3783
3404  중랑구  중화제2동     40대  3316
3405  중랑구  중화제2동     50대  4735
3406  중랑구  중화제2동     60대  4349
3407  중랑구  중화제2동  70대 이상  3277

[3408 rows x 4 columns]

In [910]:
len(live_df['행정동명'].unique())

424

#### 법정동<->행정동 매핑

In [911]:
map_live_df_inner = pd.merge(mapping_bh_dong, live_df)
map_live_df_inner

     시군구명     행정동코드   행정동명     법정동코드 법정동명  법정동개수     연령별    단위
0     종로구  11110515  청운효자동  11110101  청운동     10     10대  1146
1     종로구  11110515  청운효자동  11110101  청운동     10  10대 미만   708
2     종로구  11110515  청운효자동  11110101  청운동     10     20대  1522
3     종로구  11110515  청운효자동  11110101  청운동     10     30대  1572
4     종로구  11110515  청운효자동  11110101  청운동     10     40대  2127
...   ...       ...    ...       ...  ...    ...     ...   ...
5931  강동구  11740700  둔촌제2동  11740106  둔촌동      1     30대  3582
5932  강동구  11740700  둔촌제2동  11740106  둔촌동      1     40대  3595
5933  강동구  11740700  둔촌제2동  11740106  둔촌동      1     50대  4060
5934  강동구  11740700  둔촌제2동  11740106  둔촌동      1     60대  3846
5935  강동구  11740700  둔촌제2동  11740106  둔촌동      1  70대 이상  2557

[5936 rows x 8 columns]

In [912]:
map_live_df_outer = pd.merge(mapping_bh_dong, live_df, how = 'outer')
map_live_df_outer

     시군구명     행정동코드   행정동명     법정동코드 법정동명  법정동개수     연령별    단위
0     종로구  11110515  청운효자동  11110101  청운동     10     10대  1146
1     종로구  11110515  청운효자동  11110101  청운동     10  10대 미만   708
2     종로구  11110515  청운효자동  11110101  청운동     10     20대  1522
3     종로구  11110515  청운효자동  11110101  청운동     10     30대  1572
4     종로구  11110515  청운효자동  11110101  청운동     10     40대  2127
...   ...       ...    ...       ...  ...    ...     ...   ...
5931  강동구  11740700  둔촌제2동  11740106  둔촌동      1     30대  3582
5932  강동구  11740700  둔촌제2동  11740106  둔촌동      1     40대  3595
5933  강동구  11740700  둔촌제2동  11740106  둔촌동      1     50대  4060
5934  강동구  11740700  둔촌제2동  11740106  둔촌동      1     60대  3846
5935  강동구  11740700  둔촌제2동  11740106  둔촌동      1  70대 이상  2557

[5936 rows x 8 columns]

In [913]:
map_live_df_outer.loc[map_live_df_outer['행정동코드'].isnull(),'시군구명'].unique()

array([], dtype=object)

In [914]:
map_live_df_outer.loc[map_live_df_outer['행정동코드'].isnull(),'행정동명'].unique()

array([], dtype=object)

#### 거주인구수를 법정동 개수로 나누기

In [915]:
map_live_df_outer['법정동단위 거주인구'] = map_live_df_outer['단위']/map_live_df_outer['법정동개수']
map_live_df = map_live_df_outer.drop('법정동개수', axis = 1)
map_live_df

     시군구명     행정동코드   행정동명     법정동코드 법정동명     연령별    단위  법정동단위 거주인구
0     종로구  11110515  청운효자동  11110101  청운동     10대  1146       114.6
1     종로구  11110515  청운효자동  11110101  청운동  10대 미만   708        70.8
2     종로구  11110515  청운효자동  11110101  청운동     20대  1522       152.2
3     종로구  11110515  청운효자동  11110101  청운동     30대  1572       157.2
4     종로구  11110515  청운효자동  11110101  청운동     40대  2127       212.7
...   ...       ...    ...       ...  ...     ...   ...         ...
5931  강동구  11740700  둔촌제2동  11740106  둔촌동     30대  3582      3582.0
5932  강동구  11740700  둔촌제2동  11740106  둔촌동     40대  3595      3595.0
5933  강동구  11740700  둔촌제2동  11740106  둔촌동     50대  4060      4060.0
5934  강동구  11740700  둔촌제2동  11740106  둔촌동     60대  3846      3846.0
5935  강동구  11740700  둔촌제2동  11740106  둔촌동  70대 이상  2557      2557.0

[5936 rows x 8 columns]

In [916]:
map_live_df_clean = map_live_df[['시군구명','행정동코드','행정동명','법정동코드','법정동명','연령별','단위','법정동단위 거주인구']].rename(columns = {'단위': '행정동단위 거주인구'})
map_live_df_clean

     시군구명     행정동코드   행정동명     법정동코드 법정동명     연령별  행정동단위 거주인구  법정동단위 거주인구
0     종로구  11110515  청운효자동  11110101  청운동     10대        1146       114.6
1     종로구  11110515  청운효자동  11110101  청운동  10대 미만         708        70.8
2     종로구  11110515  청운효자동  11110101  청운동     20대        1522       152.2
3     종로구  11110515  청운효자동  11110101  청운동     30대        1572       157.2
4     종로구  11110515  청운효자동  11110101  청운동     40대        2127       212.7
...   ...       ...    ...       ...  ...     ...         ...         ...
5931  강동구  11740700  둔촌제2동  11740106  둔촌동     30대        3582      3582.0
5932  강동구  11740700  둔촌제2동  11740106  둔촌동     40대        3595      3595.0
5933  강동구  11740700  둔촌제2동  11740106  둔촌동     50대        4060      4060.0
5934  강동구  11740700  둔촌제2동  11740106  둔촌동     60대        3846      3846.0
5935  강동구  11740700  둔촌제2동  11740106  둔촌동  70대 이상        2557      2557.0

[5936 rows x 8 columns]

In [917]:
b_li = map_live_df_clean['법정동코드'].unique()

for i in b_li:
    if len(map_live_df_clean[map_live_df_clean['법정동코드']==i])>8:
        print(i)

11110119
11110130
11110174
11110175
11140115
11140116
11140117
11140119
11140168
11140121
11140122
11140124
11140142
11140132
11140133
11140136
11140144
11140162
11170129
11170130
11200102
11200107
11200114
11200115
11200118
11215101
11215105
11215103
11230104
11230105
11230106
11230109
11230110
11260101
11260102
11260103
11260104
11260105
11260106
11290103
11290133
11290134
11290136
11290138
11305101
11305102
11305103
11320107
11320108
11320105
11320106
11350102
11350103
11350104
11350106
11350105
11380103
11380104
11380107
11380109
11410110
11410112
11410111
11410118
11410120
11410119
11440101
11440102
11440109
11440104
11440107
11440108
11440110
11440111
11440117
11440123
11440125
11470102
11470103
11470101
11500104
11500102
11500103
11500105
11500106
11500108
11500109
11530102
11530106
11530107
11530108
11545102
11545103
11560101
11560132
11560127
11560133
11590101
11590102
11590107
11590109
11620101
11620102
11650108
11650101
11650106
11650107
11650102
11680107
11680110
11680108
11680105
11680106
11680101
11680118
11680103
11680114
11680115
11710103
11710113
11710114
11710111
11710104
11710107
11710108
11710109
11710101
11710102
11740103
11740101
11740102
11740107
11740109
11740108
11740106

In [918]:
map_live_df_clean['행정동코드'] = map_live_df_clean['행정동코드']*100
map_live_df_clean['법정동코드'] = map_live_df_clean['법정동코드']*100

#### 법정동 기준 데이터프레임/ 행정동 기준 데이터프레임 나누기

In [919]:
clean_map_live_df_b = map_live_df_clean[['시군구명','법정동코드','법정동명','연령별','법정동단위 거주인구']].groupby(['시군구명','법정동코드','법정동명','연령별']).sum().reset_index()
clean_map_live_df_b

     시군구명       법정동코드 법정동명     연령별  법정동단위 거주인구
0     강남구  1168010100  역삼동     10대      7057.0
1     강남구  1168010100  역삼동  10대 미만      3389.0
2     강남구  1168010100  역삼동     20대     12245.0
3     강남구  1168010100  역삼동     30대     14967.0
4     강남구  1168010100  역삼동     40대     14947.0
...   ...         ...  ...     ...         ...
3731  중랑구  1126010600  신내동     30대      7453.0
3732  중랑구  1126010600  신내동     40대      8877.0
3733  중랑구  1126010600  신내동     50대      9741.0
3734  중랑구  1126010600  신내동     60대      9319.0
3735  중랑구  1126010600  신내동  70대 이상      7161.0

[3736 rows x 5 columns]

In [920]:
clean_map_live_df_b.to_csv('clean_map_live_df_b.csv')

In [921]:
b_li = clean_map_live_df_b['법정동코드'].unique()

for i in h_li:
    if len(clean_map_live_df_b[clean_map_live_df_b['법정동코드']==i])>8:
        print(i)

In [922]:
clean_map_live_df_h = map_live_df_clean[['시군구명','행정동코드','행정동명','연령별','행정동단위 거주인구']].groupby(['시군구명','행정동코드','행정동명','연령별']).sum().reset_index()
clean_map_live_df_h

     시군구명       행정동코드  행정동명     연령별  행정동단위 거주인구
0     강남구  1168051000   신사동     10대        3120
1     강남구  1168051000   신사동  10대 미만        1730
2     강남구  1168051000   신사동     20대        4218
3     강남구  1168051000   신사동     30대        4314
4     강남구  1168051000   신사동     40대        5400
...   ...         ...   ...     ...         ...
3395  중랑구  1126069000  신내2동     30대        2811
3396  중랑구  1126069000  신내2동     40대        2976
3397  중랑구  1126069000  신내2동     50대        3429
3398  중랑구  1126069000  신내2동     60대        3392
3399  중랑구  1126069000  신내2동  70대 이상        2653

[3400 rows x 5 columns]

In [923]:
clean_map_live_df_h.to_csv('clean_map_live_df_h.csv')

In [924]:
h_li = clean_map_live_df_h['행정동코드'].unique()

for i in h_li:
    if len(clean_map_live_df_h[clean_map_live_df_h['행정동코드']==i])>8:
        print(i)

## 유동(생활)인구_202206

In [724]:
import pandas as pd
move_df = pd.read_csv('필요데이터/csv_livepeople_202206.csv', index_col = False)
move_df

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20220601,0,11350624,17421.7541,516.6827,422.9934,705.3178,482.4843,418.1868,348.4365,...,472.4954,382.6895,511.0957,577.3952,891.1618,861.1078,789.0490,604.1523,533.9011,1878.4782
1,20220601,0,11320690,23085.1602,755.9624,435.2516,565.9015,590.9774,819.7142,722.6053,...,717.5183,747.9030,754.8199,807.2703,807.9252,992.9216,1032.5522,940.7521,795.9263,2033.7097
2,20220601,0,11380560,29703.2603,1217.6397,713.8988,825.1904,687.8945,812.2351,820.0138,...,970.9891,971.5359,1159.7740,1132.7461,1300.6919,1194.4632,1464.8496,1076.7829,930.1484,2577.2582
3,20220601,0,11110570,7876.7825,267.7128,171.2113,248.3879,323.4676,207.1846,184.5314,...,213.3041,189.5982,302.3843,279.8961,415.1416,284.0484,349.1367,323.6021,232.3676,638.2145
4,20220601,0,11710566,15287.2143,486.0278,502.2923,781.3518,602.3776,350.2765,330.5736,...,384.7944,344.5254,506.4428,569.7050,654.0039,582.9374,623.3090,548.3310,588.7402,1119.3336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305275,20220630,23,11110530,14793.2090,353.9245,157.2998,233.5248,338.2185,523.4700,613.8242,...,618.3283,658.3241,787.6529,639.1344,815.3907,525.7581,598.9164,471.1095,338.3312,1012.2623
305276,20220630,23,11380632,14556.9236,497.2446,338.0476,454.6732,373.4069,479.4481,438.2496,...,553.4183,534.7154,560.3783,508.7001,610.1573,539.5748,654.9026,671.8505,472.4650,1095.3381
305277,20220630,23,11320690,23022.9223,718.5428,413.7068,525.9950,586.5120,843.2292,668.9877,...,793.8093,688.7783,746.5794,816.6978,823.8753,1087.5158,1056.2795,932.5162,805.9788,2025.4382
305278,20220630,23,11260565,29926.6145,793.4312,401.8573,609.8149,908.1556,1242.1713,1203.5292,...,1451.8976,1289.5537,1331.3974,963.0683,1163.2269,1461.7815,1347.6131,1152.5971,843.5788,2166.6724
305279,20220630,23,11260570,20444.1221,674.8914,307.9980,383.8792,499.7959,663.7887,682.8206,...,746.0764,687.0497,905.1473,737.2991,817.4089,836.2038,950.2514,886.9428,639.8784,1759.3034

### 데이터 전처리

#### 동매핑 데이터 불러오기

In [352]:
mapping_bh_dong = pd.read_csv('clean_map_dh_dong.csv', index_col=0)
mapping_bh_dong

    시군구명     행정동코드   행정동명     법정동코드 법정동명  법정동개수
0    종로구  11110515  청운효자동  11110101  청운동     10
1    종로구  11110515  청운효자동  11110102  신교동     10
2    종로구  11110515  청운효자동  11110103  궁정동     10
3    종로구  11110515  청운효자동  11110104  효자동     10
4    종로구  11110515  청운효자동  11110105  창성동     10
..   ...       ...    ...       ...  ...    ...
736  강동구  11740650  성내제2동  11740108  성내동      1
737  강동구  11740660  성내제3동  11740108  성내동      1
738  강동구  11740685     길동  11740105   길동      1
739  강동구  11740690  둔촌제1동  11740106  둔촌동      1
740  강동구  11740700  둔촌제2동  11740106  둔촌동      1

[741 rows x 6 columns]

#### 유동인구 데이터 내 행정동 코드가 모두 존재하는지 확인
- <span style = 'color:red'>
서울시 열린광장데이터는 생활인구 데이터는 2016년 집계구, 행정동 코드를 사용하고 있어서 2020년에 추가된 행정동(=항동)이 없다고 함
    </span>

In [725]:
len(move_df['행정동코드'].unique())

424

In [726]:
raw_dong = list((mapping_bh_dong['행정동코드'].unique()).astype(int))
move_dong = list(move_df['행정동코드'].unique())
for i in move_df['행정동코드'].unique():
    try:
        raw_dong.remove(i)
        move_dong.remove(i)
    except:
        pass
print(raw_dong, move_dong)

[11305595, 11305603, 11305608, 11305615, 11305625, 11305635, 11530800] [11305610, 11305600, 11305630, 11305606, 11305590, 11305620]

In [727]:
mapping_bh_dong[(mapping_bh_dong['행정동코드']).isin(raw_dong)]

    시군구명     행정동코드  행정동명     법정동코드 법정동명  법정동개수
348  강북구  11305595   번1동  11305102   번동      1
349  강북구  11305603   번2동  11305102   번동      1
350  강북구  11305608   번3동  11305102   번동      1
351  강북구  11305615  수유1동  11305103  수유동      1
352  강북구  11305625  수유2동  11305103  수유동      1
353  강북구  11305635  수유3동  11305103  수유동      1
543  구로구  11530800    항동  11530112   항동      1

In [728]:
mapping_bh_dong[mapping_bh_dong['행정동명']=='항동']

    시군구명     행정동코드 행정동명     법정동코드 법정동명  법정동개수
543  구로구  11530800   항동  11530112   항동      1

In [729]:
move_df[(move_df['행정동코드']).isin(move_dong)]

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
102,20220601,0,11305610,20256.0694,586.1789,347.2973,469.3624,658.9446,712.9618,647.8157,...,914.1032,694.2290,667.5228,620.9037,715.4859,839.7606,957.6951,890.4014,676.1574,1918.0812
131,20220601,0,11305600,14987.1316,479.2004,280.9425,380.2860,361.4007,428.5510,355.6349,...,555.5432,346.8174,466.9451,390.1501,650.2276,611.6430,685.7376,646.5062,494.6825,1715.9668
174,20220601,0,11305630,30820.0443,536.7832,274.1645,628.5211,1695.5818,2049.9208,1291.3936,...,1487.8675,993.3909,1063.2877,929.9902,1082.3943,1171.2765,1155.3441,1110.0443,807.5951,2199.7279
217,20220601,0,11305606,17547.1164,587.1184,313.8509,419.4254,405.5065,406.9957,372.0384,...,515.9918,482.9484,507.2548,577.0374,844.5237,729.0148,867.4232,723.0901,687.9372,2258.1537
285,20220601,0,11305590,17772.7478,355.9657,223.5811,342.1058,747.2122,859.0277,630.8846,...,836.2811,586.8083,574.0814,555.9177,699.0798,652.4413,706.5186,626.8968,494.2128,1533.0098
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304876,20220630,23,11305590,17271.3107,339.6664,213.3442,316.5203,695.4765,832.9874,637.2976,...,765.4978,592.7374,565.4293,547.0319,734.8765,671.3704,708.4782,591.3019,516.4055,1475.0211
304881,20220630,23,11305600,15409.9800,511.7465,300.0229,398.0777,368.5503,463.3242,388.0889,...,589.2355,378.8340,508.5716,409.3594,657.6805,607.0460,726.3879,636.0863,534.6743,1700.0550
304886,20220630,23,11305606,17445.2389,618.5792,330.6692,412.9378,398.0144,425.0325,366.2272,...,480.0890,477.6631,511.9668,583.2177,816.2083,717.1115,824.5539,730.7502,679.1704,2226.6342
305138,20220630,23,11305630,28141.3085,436.7262,223.0598,568.8721,1454.6174,1565.4898,1083.8314,...,1404.5215,971.0258,1000.7635,973.4507,1077.3430,1125.7095,1092.7339,1031.6764,759.2486,2060.2496
305171,20220630,23,11305610,20296.8519,569.0591,337.1540,501.2204,641.3854,794.3360,642.1926,...,885.7258,704.6455,658.3328,648.8933,748.2095,815.1146,915.8704,872.2880,677.7154,1867.2673

- 11305610 :수유1동
- 11305600: 번2동
- 11305630: 수유3동
- 11305606: 번3동
- 11305590: 번1동
- 11305620: 수유2동

In [730]:
move_df[move_df['행정동코드']==11530800]

Empty DataFrame
Columns: [기준일ID, 시간대구분, 행정동코드, 총생활인구수, 남자0세부터9세생활인구수, 남자10세부터14세생활인구수, 남자15세부터19세생활인구수, 남자20세부터24세생활인구수, 남자25세부터29세생활인구수, 남자30세부터34세생활인구수, 남자35세부터39세생활인구수, 남자40세부터44세생활인구수, 남자45세부터49세생활인구수, 남자50세부터54세생활인구수, 남자55세부터59세생활인구수, 남자60세부터64세생활인구수, 남자65세부터69세생활인구수, 남자70세이상생활인구수, 여자0세부터9세생활인구수, 여자10세부터14세생활인구수, 여자15세부터19세생활인구수, 여자20세부터24세생활인구수, 여자25세부터29세생활인구수, 여자30세부터34세생활인구수, 여자35세부터39세생활인구수, 여자40세부터44세생활인구수, 여자45세부터49세생활인구수, 여자50세부터54세생활인구수, 여자55세부터59세생활인구수, 여자60세부터64세생활인구수, 여자65세부터69세생활인구수, 여자70세이상생활인구수]
Index: []

[0 rows x 32 columns]

#### 유동인구 데이터 내 행정동코드 리코딩

In [731]:
move_df['행정동코드'].replace([11305610, 11305600, 11305630, 11305606, 11305590, 11305620], [11305615, 11305603, 11305635,  11305608,11305595,11305625], inplace = True)

In [732]:
move_df[(move_df['행정동코드']).isin(move_dong)].iloc[:,:4]

Empty DataFrame
Columns: [기준일ID, 시간대구분, 행정동코드, 총생활인구수]
Index: []

#### 연령대를 10단위로 묶기

In [733]:
move_df_clean = move_df.iloc[:,:4]
move_df_clean['남성 10대 미만'] = move_df.iloc[:,4]
move_df_clean['남성 10대 '] = move_df.iloc[:,5]+move_df.iloc[:,6]
move_df_clean['남성 20대 '] = move_df.iloc[:,7]+move_df.iloc[:,8]
move_df_clean['남성 30대 '] = move_df.iloc[:,9]+move_df.iloc[:,10]
move_df_clean['남성 40대 '] = move_df.iloc[:,11]+move_df.iloc[:,12]
move_df_clean['남성 50대 '] = move_df.iloc[:,13]+move_df.iloc[:,14]
move_df_clean['남성 60대 '] = move_df.iloc[:,15]+move_df.iloc[:,16]
move_df_clean['남성 70대 이상'] = move_df.iloc[:,17]

move_df_clean['여성 10대 미만'] = move_df.iloc[:,18]
move_df_clean['여성 10대 '] = move_df.iloc[:,19]+move_df.iloc[:,20]
move_df_clean['여성 20대 '] = move_df.iloc[:,21]+move_df.iloc[:,22]
move_df_clean['여성 30대 '] = move_df.iloc[:,23]+move_df.iloc[:,24]
move_df_clean['여성 40대 '] = move_df.iloc[:,25]+move_df.iloc[:,26]
move_df_clean['여성 50대 '] = move_df.iloc[:,27]+move_df.iloc[:,28]
move_df_clean['여성 60대 '] = move_df.iloc[:,29]+move_df.iloc[:,30]
move_df_clean['여성 70대 이상'] = move_df.iloc[:,31]

move_df_age_mf = move_df_clean.copy()
move_df_age_mf

,기준일ID,시간대구분,행정동코드,총생활인구수,남성 10대 미만,남성 10대,남성 20대,남성 30대,남성 40대,남성 50대,남성 60대,남성 70대 이상,여성 10대 미만,여성 10대,여성 20대,여성 30대,여성 40대,여성 50대,여성 60대,여성 70대 이상
0,20220601,0,11350624,17421.7541,516.6827,1128.3112,900.6711,812.6601,1269.0192,1303.5731,975.7310,929.2735,611.3113,998.3117,947.1780,893.7852,1468.5570,1650.1568,1138.0534,1878.4782
1,20220601,0,11320690,23085.1602,755.9624,1001.1531,1410.6916,1667.6907,1748.4383,1860.3136,1451.5077,1339.1973,693.4690,812.5470,1430.4085,1502.7229,1615.1955,2025.4738,1736.6784,2033.7097
2,20220601,0,11380560,29703.2603,1217.6397,1539.0892,1500.1296,1869.8984,2013.2663,2117.7307,1574.5644,1558.6950,1062.0427,1560.6500,1881.3053,2131.3099,2433.4380,2659.3128,2006.9313,2577.2582
3,20220601,0,11110570,7876.7825,267.7128,419.5992,530.6522,421.7136,503.0091,580.5809,405.3734,402.6984,344.3421,534.7866,451.9258,491.9825,695.0377,633.1851,555.9697,638.2145
4,20220601,0,11710566,15287.2143,486.0278,1283.6441,952.6541,617.4123,1050.2490,1225.6233,891.3942,839.2873,437.6426,1075.0333,890.9196,850.9682,1223.7089,1206.2464,1137.0712,1119.3336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305275,20220630,23,11110530,14793.2090,353.9245,390.8246,861.6885,1378.5450,1539.5635,1209.2786,643.1064,664.9022,349.9998,475.0269,1079.4699,1445.9770,1454.5251,1124.6745,809.4407,1012.2623
305276,20220630,23,11380632,14556.9236,497.2446,792.7208,852.8550,1060.2417,1105.7938,978.8942,891.2488,740.2054,438.7575,592.5742,958.3059,1095.0937,1118.8574,1194.4774,1144.3155,1095.3381
305277,20220630,23,11320690,23022.9223,718.5428,939.7018,1429.7412,1576.6320,1741.3926,1785.9109,1475.6807,1350.9153,683.0545,824.7511,1512.9392,1435.3577,1640.5731,2143.7953,1738.4950,2025.4382
305278,20220630,23,11260565,29926.6145,793.4312,1011.6722,2150.3269,2610.0603,2138.7176,2567.9168,1544.0249,1268.9496,707.4493,911.0518,2503.5246,2620.9511,2126.2952,2809.3946,1996.1759,2166.6724
305279,20220630,23,11260570,20444.1221,674.8914,691.8772,1163.5846,1598.3954,1647.4586,1628.7150,1217.5909,1054.9349,642.2755,572.6571,1332.2606,1592.1970,1554.7080,1786.4552,1526.8212,1759.3034

#### 성별 관계없이 연령대 10단위로 묶기

In [734]:
move_df_age = move_df_age_mf.iloc[:,:4]

move_df_age['10대 미만'] = move_df_age_mf.iloc[:,4]+move_df_age_mf.iloc[:,12]
move_df_age['10대'] = move_df_age_mf.iloc[:,5]+move_df_age_mf.iloc[:,13]
move_df_age['20대'] = move_df_age_mf.iloc[:,6]+move_df_age_mf.iloc[:,14]
move_df_age['30대'] = move_df_age_mf.iloc[:,7]+move_df_age_mf.iloc[:,15]
move_df_age['40대'] = move_df_age_mf.iloc[:,8]+move_df_age_mf.iloc[:,16]
move_df_age['50대'] = move_df_age_mf.iloc[:,9]+move_df_age_mf.iloc[:,17]
move_df_age['60대'] = move_df_age_mf.iloc[:,10]+move_df_age_mf.iloc[:,18]
move_df_age['70대 이상'] = move_df_age_mf.iloc[:,11]+move_df_age_mf.iloc[:,19]

In [735]:
move_df_age

,기준일ID,시간대구분,행정동코드,총생활인구수,10대 미만,10대,20대,30대,40대,50대,60대,70대 이상
0,20220601,0,11350624,17421.7541,1127.9940,2126.6229,1847.8491,1706.4453,2737.5762,2953.7299,2113.7844,2807.7517
1,20220601,0,11320690,23085.1602,1449.4314,1813.7001,2841.1001,3170.4136,3363.6338,3885.7874,3188.1861,3372.9070
2,20220601,0,11380560,29703.2603,2279.6824,3099.7392,3381.4349,4001.2083,4446.7043,4777.0435,3581.4957,4135.9532
3,20220601,0,11110570,7876.7825,612.0549,954.3858,982.5780,913.6961,1198.0468,1213.7660,961.3431,1040.9129
4,20220601,0,11710566,15287.2143,923.6704,2358.6774,1843.5737,1468.3805,2273.9579,2431.8697,2028.4654,1958.6209
...,...,...,...,...,...,...,...,...,...,...,...,...
305275,20220630,23,11110530,14793.2090,703.9243,865.8515,1941.1584,2824.5220,2994.0886,2333.9531,1452.5471,1677.1645
305276,20220630,23,11380632,14556.9236,936.0021,1385.2950,1811.1609,2155.3354,2224.6512,2173.3716,2035.5643,1835.5435
305277,20220630,23,11320690,23022.9223,1401.5973,1764.4529,2942.6804,3011.9897,3381.9657,3929.7062,3214.1757,3376.3535
305278,20220630,23,11260565,29926.6145,1500.8805,1922.7240,4653.8515,5231.0114,4265.0128,5377.3114,3540.2008,3435.6220
305279,20220630,23,11260570,20444.1221,1317.1669,1264.5343,2495.8452,3190.5924,3202.1666,3415.1702,2744.4121,2814.2383

### 분석을 위한 데이터프레임 생성(연령대별 컬럼 있음)

#### 행정동<-> 법정동 매칭(성별/연령별)

In [741]:
move_df_age_mf.columns

Index(['기준일ID', '시간대구분', '행정동코드', '총생활인구수', '남성 10대 미만', '남성 10대 ', '남성 20대 ',
       '남성 30대 ', '남성 40대 ', '남성 50대 ', '남성 60대 ', '남성 70대 이상', '여성 10대 미만',
       '여성 10대 ', '여성 20대 ', '여성 30대 ', '여성 40대 ', '여성 50대 ', '여성 60대 ',
       '여성 70대 이상'],
      dtype='object')

In [744]:
move_df_map_mf = pd.merge(move_df_age_mf, df2_count[['시군구명','행정동코드','읍면동명','법정동코드','동리명','법정동개수']], how = 'left')
move_df_map_mf = move_df_map_mf [['기준일ID','시간대구분','시군구명','행정동코드','읍면동명','법정동코드','동리명','법정동개수','총생활인구수', '남성 10대 미만', '남성 10대 ', '남성 20대 ',
       '남성 30대 ', '남성 40대 ', '남성 50대 ', '남성 60대 ', '남성 70대 이상', '여성 10대 미만',
       '여성 10대 ', '여성 20대 ', '여성 30대 ', '여성 40대 ', '여성 50대 ', '여성 60대 ',
       '여성 70대 이상']]

In [745]:
move_df_map_mf

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,법정동개수,총생활인구수,남성 10대 미만,...,남성 60대,남성 70대 이상,여성 10대 미만,여성 10대,여성 20대,여성 30대,여성 40대,여성 50대,여성 60대,여성 70대 이상
0,20220601,0,노원구,11350624,중계4동,11350105,상계동,2,17421.7541,516.6827,...,975.7310,929.2735,611.3113,998.3117,947.1780,893.7852,1468.5570,1650.1568,1138.0534,1878.4782
1,20220601,0,노원구,11350624,중계4동,11350106,중계동,2,17421.7541,516.6827,...,975.7310,929.2735,611.3113,998.3117,947.1780,893.7852,1468.5570,1650.1568,1138.0534,1878.4782
2,20220601,0,도봉구,11320690,방학제1동,11320106,방학동,1,23085.1602,755.9624,...,1451.5077,1339.1973,693.4690,812.5470,1430.4085,1502.7229,1615.1955,2025.4738,1736.6784,2033.7097
3,20220601,0,은평구,11380560,구산동,11380105,구산동,1,29703.2603,1217.6397,...,1574.5644,1558.6950,1062.0427,1560.6500,1881.3053,2131.3099,2433.4380,2659.3128,2006.9313,2577.2582
4,20220601,0,종로구,11110570,무악동,11110187,무악동,1,7876.7825,267.7128,...,405.3734,402.6984,344.3421,534.7866,451.9258,491.9825,695.0377,633.1851,555.9697,638.2145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532795,20220630,23,종로구,11110530,사직동,11110121,신문로2가,12,14793.2090,353.9245,...,643.1064,664.9022,349.9998,475.0269,1079.4699,1445.9770,1454.5251,1124.6745,809.4407,1012.2623
532796,20220630,23,은평구,11380632,신사제2동,11380109,신사동,1,14556.9236,497.2446,...,891.2488,740.2054,438.7575,592.5742,958.3059,1095.0937,1118.8574,1194.4774,1144.3155,1095.3381
532797,20220630,23,도봉구,11320690,방학제1동,11320106,방학동,1,23022.9223,718.5428,...,1475.6807,1350.9153,683.0545,824.7511,1512.9392,1435.3577,1640.5731,2143.7953,1738.4950,2025.4382
532798,20220630,23,중랑구,11260565,면목본동,11260101,면목동,1,29926.6145,793.4312,...,1544.0249,1268.9496,707.4493,911.0518,2503.5246,2620.9511,2126.2952,2809.3946,1996.1759,2166.6724
532799,20220630,23,중랑구,11260570,면목제7동,11260101,면목동,1,20444.1221,674.8914,...,1217.5909,1054.9349,642.2755,572.6571,1332.2606,1592.1970,1554.7080,1786.4552,1526.8212,1759.3034

In [746]:
move_df_map_mf.iloc[:,8:] = move_df_map_mf.iloc[:,8:].apply(lambda x: x/move_df_map_mf.iloc[:,7])
move_df_map_mf

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,법정동개수,총생활인구수,남성 10대 미만,...,남성 60대,남성 70대 이상,여성 10대 미만,여성 10대,여성 20대,여성 30대,여성 40대,여성 50대,여성 60대,여성 70대 이상
0,20220601,0,노원구,11350624,중계4동,11350105,상계동,2,8710.877050,258.341350,...,487.8655,464.636750,305.65565,499.155850,473.589000,446.892600,734.278500,825.078400,569.026700,939.239100
1,20220601,0,노원구,11350624,중계4동,11350106,중계동,2,8710.877050,258.341350,...,487.8655,464.636750,305.65565,499.155850,473.589000,446.892600,734.278500,825.078400,569.026700,939.239100
2,20220601,0,도봉구,11320690,방학제1동,11320106,방학동,1,23085.160200,755.962400,...,1451.5077,1339.197300,693.46900,812.547000,1430.408500,1502.722900,1615.195500,2025.473800,1736.678400,2033.709700
3,20220601,0,은평구,11380560,구산동,11380105,구산동,1,29703.260300,1217.639700,...,1574.5644,1558.695000,1062.04270,1560.650000,1881.305300,2131.309900,2433.438000,2659.312800,2006.931300,2577.258200
4,20220601,0,종로구,11110570,무악동,11110187,무악동,1,7876.782500,267.712800,...,405.3734,402.698400,344.34210,534.786600,451.925800,491.982500,695.037700,633.185100,555.969700,638.214500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532795,20220630,23,종로구,11110530,사직동,11110121,신문로2가,12,1232.767417,29.493708,...,53.5922,55.408517,29.16665,39.585575,89.955825,120.498083,121.210425,93.722875,67.453392,84.355192
532796,20220630,23,은평구,11380632,신사제2동,11380109,신사동,1,14556.923600,497.244600,...,891.2488,740.205400,438.75750,592.574200,958.305900,1095.093700,1118.857400,1194.477400,1144.315500,1095.338100
532797,20220630,23,도봉구,11320690,방학제1동,11320106,방학동,1,23022.922300,718.542800,...,1475.6807,1350.915300,683.05450,824.751100,1512.939200,1435.357700,1640.573100,2143.795300,1738.495000,2025.438200
532798,20220630,23,중랑구,11260565,면목본동,11260101,면목동,1,29926.614500,793.431200,...,1544.0249,1268.949600,707.44930,911.051800,2503.524600,2620.951100,2126.295200,2809.394600,1996.175900,2166.672400
532799,20220630,23,중랑구,11260570,면목제7동,11260101,면목동,1,20444.122100,674.891400,...,1217.5909,1054.934900,642.27550,572.657100,1332.260600,1592.197000,1554.708000,1786.455200,1526.821200,1759.303400

In [747]:
move_df_map_mf.drop('법정동개수', inplace = True, axis = 1)
move_df_map_mf

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,총생활인구수,남성 10대 미만,남성 10대,...,남성 60대,남성 70대 이상,여성 10대 미만,여성 10대,여성 20대,여성 30대,여성 40대,여성 50대,여성 60대,여성 70대 이상
0,20220601,0,노원구,11350624,중계4동,11350105,상계동,8710.877050,258.341350,564.155600,...,487.8655,464.636750,305.65565,499.155850,473.589000,446.892600,734.278500,825.078400,569.026700,939.239100
1,20220601,0,노원구,11350624,중계4동,11350106,중계동,8710.877050,258.341350,564.155600,...,487.8655,464.636750,305.65565,499.155850,473.589000,446.892600,734.278500,825.078400,569.026700,939.239100
2,20220601,0,도봉구,11320690,방학제1동,11320106,방학동,23085.160200,755.962400,1001.153100,...,1451.5077,1339.197300,693.46900,812.547000,1430.408500,1502.722900,1615.195500,2025.473800,1736.678400,2033.709700
3,20220601,0,은평구,11380560,구산동,11380105,구산동,29703.260300,1217.639700,1539.089200,...,1574.5644,1558.695000,1062.04270,1560.650000,1881.305300,2131.309900,2433.438000,2659.312800,2006.931300,2577.258200
4,20220601,0,종로구,11110570,무악동,11110187,무악동,7876.782500,267.712800,419.599200,...,405.3734,402.698400,344.34210,534.786600,451.925800,491.982500,695.037700,633.185100,555.969700,638.214500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532795,20220630,23,종로구,11110530,사직동,11110121,신문로2가,1232.767417,29.493708,32.568717,...,53.5922,55.408517,29.16665,39.585575,89.955825,120.498083,121.210425,93.722875,67.453392,84.355192
532796,20220630,23,은평구,11380632,신사제2동,11380109,신사동,14556.923600,497.244600,792.720800,...,891.2488,740.205400,438.75750,592.574200,958.305900,1095.093700,1118.857400,1194.477400,1144.315500,1095.338100
532797,20220630,23,도봉구,11320690,방학제1동,11320106,방학동,23022.922300,718.542800,939.701800,...,1475.6807,1350.915300,683.05450,824.751100,1512.939200,1435.357700,1640.573100,2143.795300,1738.495000,2025.438200
532798,20220630,23,중랑구,11260565,면목본동,11260101,면목동,29926.614500,793.431200,1011.672200,...,1544.0249,1268.949600,707.44930,911.051800,2503.524600,2620.951100,2126.295200,2809.394600,1996.175900,2166.672400
532799,20220630,23,중랑구,11260570,면목제7동,11260101,면목동,20444.122100,674.891400,691.877200,...,1217.5909,1054.934900,642.27550,572.657100,1332.260600,1592.197000,1554.708000,1786.455200,1526.821200,1759.303400

#### 행정동<-> 법정동 매칭(연령별)

In [748]:
move_df_age.columns

Index(['기준일ID', '시간대구분', '행정동코드', '총생활인구수', '10대 미만', '10대', '20대', '30대',
       '40대', '50대', '60대', '70대 이상'],
      dtype='object')

In [749]:
move_df_map = pd.merge(move_df_age, df2_count[['시군구명','행정동코드','읍면동명','법정동코드','동리명','법정동개수']], how = 'left')
move_df_map = move_df_map[['기준일ID','시간대구분','시군구명','행정동코드','읍면동명','법정동코드','동리명','법정동개수','총생활인구수', '10대 미만', '10대', '20대', '30대',
       '40대', '50대', '60대', '70대 이상']]

In [750]:
move_df_map

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,법정동개수,총생활인구수,10대 미만,10대,20대,30대,40대,50대,60대,70대 이상
0,20220601,0,노원구,11350624,중계4동,11350105,상계동,2,17421.7541,1127.9940,2126.6229,1847.8491,1706.4453,2737.5762,2953.7299,2113.7844,2807.7517
1,20220601,0,노원구,11350624,중계4동,11350106,중계동,2,17421.7541,1127.9940,2126.6229,1847.8491,1706.4453,2737.5762,2953.7299,2113.7844,2807.7517
2,20220601,0,도봉구,11320690,방학제1동,11320106,방학동,1,23085.1602,1449.4314,1813.7001,2841.1001,3170.4136,3363.6338,3885.7874,3188.1861,3372.9070
3,20220601,0,은평구,11380560,구산동,11380105,구산동,1,29703.2603,2279.6824,3099.7392,3381.4349,4001.2083,4446.7043,4777.0435,3581.4957,4135.9532
4,20220601,0,종로구,11110570,무악동,11110187,무악동,1,7876.7825,612.0549,954.3858,982.5780,913.6961,1198.0468,1213.7660,961.3431,1040.9129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532795,20220630,23,종로구,11110530,사직동,11110121,신문로2가,12,14793.2090,703.9243,865.8515,1941.1584,2824.5220,2994.0886,2333.9531,1452.5471,1677.1645
532796,20220630,23,은평구,11380632,신사제2동,11380109,신사동,1,14556.9236,936.0021,1385.2950,1811.1609,2155.3354,2224.6512,2173.3716,2035.5643,1835.5435
532797,20220630,23,도봉구,11320690,방학제1동,11320106,방학동,1,23022.9223,1401.5973,1764.4529,2942.6804,3011.9897,3381.9657,3929.7062,3214.1757,3376.3535
532798,20220630,23,중랑구,11260565,면목본동,11260101,면목동,1,29926.6145,1500.8805,1922.7240,4653.8515,5231.0114,4265.0128,5377.3114,3540.2008,3435.6220
532799,20220630,23,중랑구,11260570,면목제7동,11260101,면목동,1,20444.1221,1317.1669,1264.5343,2495.8452,3190.5924,3202.1666,3415.1702,2744.4121,2814.2383

In [370]:
move_df_map.iloc[:,8:] = move_df_map.iloc[:,8:].apply(lambda x: x/move_df_map.iloc[:,7])
move_df_map

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,법정동개수,총생활인구수,10대 미만,10대,20대,30대,40대,50대,60대,70대 이상
0,20220601,0,노원구,11350624,중계4동,11350105,상계동,2,8710.877050,563.997000,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450
1,20220601,0,노원구,11350624,중계4동,11350106,중계동,2,8710.877050,563.997000,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450
2,20220601,0,도봉구,11320690,방학제1동,11320106,방학동,1,23085.160200,1449.431400,1813.700100,1813.700100,1813.700100,1813.700100,1813.700100,1813.700100,1813.700100
3,20220601,0,은평구,11380560,구산동,11380105,구산동,1,29703.260300,2279.682400,3099.739200,3099.739200,3099.739200,3099.739200,3099.739200,3099.739200,3099.739200
4,20220601,0,종로구,11110570,무악동,11110187,무악동,1,7876.782500,612.054900,954.385800,954.385800,954.385800,954.385800,954.385800,954.385800,954.385800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532795,20220630,23,종로구,11110530,사직동,11110121,신문로2가,12,1232.767417,58.660358,72.154292,72.154292,72.154292,72.154292,72.154292,72.154292,72.154292
532796,20220630,23,은평구,11380632,신사제2동,11380109,신사동,1,14556.923600,936.002100,1385.295000,1385.295000,1385.295000,1385.295000,1385.295000,1385.295000,1385.295000
532797,20220630,23,도봉구,11320690,방학제1동,11320106,방학동,1,23022.922300,1401.597300,1764.452900,1764.452900,1764.452900,1764.452900,1764.452900,1764.452900,1764.452900
532798,20220630,23,중랑구,11260565,면목본동,11260101,면목동,1,29926.614500,1500.880500,1922.724000,1922.724000,1922.724000,1922.724000,1922.724000,1922.724000,1922.724000
532799,20220630,23,중랑구,11260570,면목제7동,11260101,면목동,1,20444.122100,1317.166900,1264.534300,1264.534300,1264.534300,1264.534300,1264.534300,1264.534300,1264.534300

In [751]:
move_df_map['시군구명'].unique(), len(move_df_map['시군구명'].unique())

(array(['노원구', '도봉구', '은평구', '종로구', '송파구', '성동구', '성북구', '강남구', '영등포구',
        '강서구', '중랑구', '광진구', '금천구', '강북구', '마포구', '구로구', '용산구', '중구',
        '서초구', '동작구', '양천구', '동대문구', '서대문구', '강동구', '관악구'], dtype=object),
 25)

In [752]:
move_df_map['법정동코드'].unique(), len(move_df_map['법정동코드'].unique())

(array([11350105, 11350106, 11320106, 11380105, 11110187, 11710111,
        11200106, 11200107, 11290103, 11290105, 11290106, 11290108,
        11290111, 11290112, 11290113, 11290114, 11290115, 11680106,
        11560127, 11560128, 11560129, 11560130, 11560131, 11560134,
        11680108, 11380108, 11320107, 11200114, 11500103, 11200108,
        11260101, 11680103, 11680114, 11215105, 11545103, 11305101,
        11215104, 11440114, 11440115, 11440116, 11440117, 11440118,
        11500105, 11500108, 11500109, 11530108, 11530111, 11170124,
        11170125, 11170126, 11170127, 11170128, 11140162, 11680104,
        11290134, 11290138, 11170119, 11650101, 11650108, 11590105,
        11500102, 11470103, 11290101, 11290102, 11290104, 11290107,
        11440108, 11440110, 11440111, 11470102, 11215103, 11230103,
        11440124, 11305103, 11710108, 11140111, 11140113, 11140114,
        11140115, 11140116, 11140117, 11140119, 11140166, 11140167,
        11140168, 11140169, 11140170, 11410119, 11710101, 11590109,
        11170130, 11590102, 11590103, 11170132, 11170133, 11170134,
        11170135, 11740108, 11710107, 11710109, 11170112, 11170113,
        11170122, 11170123, 11470101, 11500104, 11380103, 11260105,
        11170129, 11560133, 11620101, 11290136, 11290137, 11350103,
        11410118, 11440112, 11440113, 11500111, 11500112, 11500113,
        11440125, 11230108, 11710103, 11680107, 11680110, 11710102,
        11230107, 11200118, 11530106, 11290109, 11290110, 11290116,
        11290117, 11290118, 11290119, 11290120, 11410111, 11350102,
        11740109, 11740106, 11545102, 11710114, 11440122, 11230106,
        11560132, 11740107, 11620102, 11440123, 11590107, 11170114,
        11170115, 11170116, 11170117, 11170118, 11380107, 11110184,
        11110185, 11110186, 11410117, 11140150, 11140151, 11140152,
        11140153, 11140155, 11140156, 11140157, 11140159, 11140160,
        11140161, 11230105, 11380102, 11710106, 11305102, 11680105,
        11650107, 11440101, 11440102, 11440109, 11710104, 11290139,
        11530107, 11320105, 11410112, 11410113, 11410114, 11410115,
        11410116, 11350104, 11140163, 11140164, 11740102, 11230110,
        11140132, 11140133, 11140136, 11140137, 11140138, 11140139,
        11140140, 11140141, 11140142, 11140144, 11140158, 11170131,
        11680101, 11170120, 11170121, 11140171, 11140172, 11140173,
        11140174, 11680115, 11260106, 11110175, 11290121, 11290122,
        11290123, 11290124, 11290125, 11110174, 11230104, 11710113,
        11380114, 11650109, 11650110, 11650111, 11170102, 11170103,
        11530102, 11590106, 11380109, 11110106, 11110107, 11110112,
        11110113, 11110114, 11110115, 11110116, 11110117, 11110118,
        11110119, 11110120, 11110121, 11410110, 11410105, 11410106,
        11410107, 11410108, 11410109, 11650102, 11650104, 11680118,
        11560111, 11560112, 11560113, 11200110, 11200111, 11320108,
        11410120, 11650106, 11140134, 11140135, 11140145, 11140146,
        11140147, 11140148, 11140149, 11140154, 11200115, 11560101,
        11560102, 11560103, 11560104, 11560105, 11560106, 11560107,
        11560108, 11560109, 11260102, 11530109, 11530110, 11230109,
        11260104, 11500101, 11290133, 11260103, 11215101, 11170136,
        11140165, 11290126, 11290127, 11290128, 11290129, 11290130,
        11290131, 11290132, 11380101, 11380104, 11680111, 11680112,
        11680113, 11140101, 11140102, 11140103, 11140104, 11140105,
        11140106, 11140107, 11140108, 11140109, 11140110, 11140121,
        11140122, 11140123, 11140124, 11140125, 11140126, 11140127,
        11140128, 11140129, 11140130, 11140131, 11440127, 11440120,
        11440121, 11590101, 11590104, 11200101, 11200102, 11200103,
        11200104, 11650103, 11590108, 11620103, 11440104, 11440105,
        11440106, 11440107, 11440103, 11140112, 11140118, 11140120,
        11740101, 11560110, 11740105, 11200112, 11530101, 11170101,
        11200122, 11110146, 11110147, 11110148, 11110149, 11200105,
        11170104, 11170105, 11170106, 11170107, 11200113, 11560119,
        11560120, 11560121, 11560122, 11560123, 11560124, 11740103,
        11740110, 11305104, 11560118, 11215102, 11110176, 11110177,
        11110178, 11110179, 11110180, 11110181, 11500106, 11500107,
        11710105, 11230101, 11230102, 11110139, 11110140, 11110141,
        11110142, 11110143, 11110144, 11110145, 11215107, 11560114,
        11560115, 11560116, 11560117, 11500110, 11530103, 11110101,
        11110102, 11110103, 11110104, 11110105, 11110108, 11110109,
        11110110, 11110111, 11410101, 11410102, 11410103, 11410104,
        11110122, 11110123, 11110124, 11110125, 11110126, 11110127,
        11110128, 11110129, 11110130, 11110131, 11110132, 11110133,
        11110134, 11110135, 11110136, 11110137, 11110138, 11110150,
        11110151, 11110152, 11110153, 11110154, 11110155, 11110156,
        11110157, 11110158, 11110159, 11110161, 11110169, 11110170,
        11110171, 11110172, 11110173, 11110160, 11110162, 11110163,
        11110164, 11110167, 11110165, 11110166, 11110168, 11560125,
        11560126, 11215109, 11440126, 11170108, 11170109, 11170110,
        11170111, 11380110, 11545101, 11380106, 11110182, 11110183,
        11290135, 11140143, 11200109, 11710112], dtype=int64),
 466)

In [753]:
move_df_map['동리명'].unique(), len(move_df_map['동리명'].unique())

(array(['상계동', '중계동', '방학동', '구산동', '무악동', '방이동', '사근동', '행당동', '돈암동',
        '동소문동2가', '동소문동3가', '동소문동5가', '삼선동1가', '삼선동2가', '삼선동3가', '삼선동4가',
        '삼선동5가', '대치동', '양평동3가', '양평동4가', '양평동5가', '양평동6가', '양화동', '양평동',
        '논현동', '역촌동', '창동', '성수동1가', '화곡동', '응봉동', '면목동', '개포동', '일원동',
        '자양동', '시흥동', '미아동', '광장동', '창전동', '상수동', '하중동', '신정동', '당인동',
        '마곡동', '공항동', '방화동', '오류동', '천왕동', '한강로1가', '한강로2가', '용산동3가',
        '용산동5가', '한강로3가', '신당동', '청담동', '길음동', '장위동', '효창동', '방배동', '서초동',
        '흑석동', '등촌동', '신월동', '성북동', '성북동1가', '동소문동1가', '동소문동4가', '대흥동',
        '노고산동', '신수동', '목동', '구의동', '제기동', '연남동', '수유동', '문정동', '소공동',
        '북창동', '태평로2가', '남대문로2가', '남대문로3가', '남대문로4가', '봉래동1가', '서소문동',
        '정동', '순화동', '의주로1가', '충정로1가', '북가좌동', '잠실동', '신대방동', '이태원동',
        '상도동', '상도1동', '동빙고동', '서빙고동', '주성동', '용산동6가', '성내동', '가락동', '장지동',
        '원효로1가', '원효로2가', '문배동', '신계동', '가양동', '불광동', '망우동', '이촌동', '대림동',
        '봉천동', '하월곡동', '상월곡동', '공릉동', '홍은동', '현석동', '구수동', '과해동', '오곡동',
        '오쇠동', '성산동', '회기동', '풍납동', '신사동', '압구정동', '신천동', '청량리동', '송정동',
        '고척동', '동소문동6가', '동소문동7가', '동선동1가', '동선동2가', '동선동3가', '동선동4가',
        '동선동5가', '홍제동', '월계동', '천호동', '둔촌동', '독산동', '마천동', '합정동', '장안동',
        '신길동', '암사동', '신림동', '망원동', '사당동', '신창동', '산천동', '청암동', '원효로3가',
        '원효로4가', '응암동', '부암동', '홍지동', '신영동', '연희동', '을지로4가', '을지로5가',
        '주교동', '방산동', '을지로3가', '입정동', '산림동', '초동', '인현동1가', '저동2가', '답십리동',
        '녹번동', '삼전동', '번동', '삼성동', '반포동', '아현동', '공덕동', '염리동', '송파동',
        '석관동', '개봉동', '쌍문동', '대현동', '대신동', '신촌동', '봉원동', '창천동', '하계동',
        '흥인동', '무학동', '고덕동', '이문동', '충무로4가', '충무로5가', '묵정동', '필동1가',
        '필동2가', '필동3가', '남학동', '주자동', '예장동', '장충동2가', '충무로3가', '한남동',
        '역삼동', '도원동', '용문동', '중림동', '의주로2가', '만리동1가', '만리동2가', '수서동',
        '신내동', '숭인동', '안암동1가', '안암동2가', '안암동3가', '안암동4가', '안암동5가', '창신동',
        '전농동', '거여동', '진관동', '내곡동', '염곡동', '신원동', '용산동2가', '용산동4가', '구로동',
        '동작동', '통의동', '적선동', '체부동', '필운동', '내자동', '사직동', '도렴동', '당주동',
        '내수동', '세종로', '신문로1가', '신문로2가', '북아현동', '냉천동', '천연동', '옥천동', '영천동',
        '현저동', '양재동', '원지동', '도곡동', '당산동1가', '당산동2가', '당산동3가', '금호동2가',
        '금호동3가', '도봉동', '남가좌동', '잠원동', '인현동2가', '예관동', '광희동1가', '광희동2가',
        '쌍림동', '을지로6가', '을지로7가', '오장동', '성수동2가', '영등포동', '영등포동1가',
        '영등포동2가', '영등포동3가', '영등포동4가', '영등포동5가', '영등포동6가', '영등포동7가',
        '영등포동8가', '상봉동', '궁동', '온수동', '휘경동', '묵동', '염창동', '정릉동', '중화동',
        '중곡동', '보광동', '황학동', '보문동4가', '보문동5가', '보문동6가', '보문동7가', '보문동1가',
        '보문동2가', '보문동3가', '수색동', '갈현동', '세곡동', '자곡동', '율현동', '무교동', '다동',
        '태평로1가', '을지로1가', '을지로2가', '남대문로1가', '삼각동', '수하동', '장교동', '수표동',
        '회현동1가', '회현동2가', '회현동3가', '충무로1가', '충무로2가', '명동1가', '명동2가',
        '남산동1가', '남산동2가', '남산동3가', '저동1가', '상암동', '서교동', '동교동', '노량진동',
        '본동', '상왕십리동', '하왕십리동', '홍익동', '도선동', '우면동', '대방동', '남현동', '도화동',
        '용강동', '토정동', '마포동', '신공덕동', '남창동', '남대문로5가', '봉래동2가', '명일동',
        '여의도동', '길동', '금호동4가', '신도림동', '후암동', '용답동', '가회동', '재동', '계동',
        '원서동', '마장동', '갈월동', '남영동', '용산동1가', '동자동', '옥수동', '문래동1가',
        '문래동2가', '문래동3가', '문래동4가', '문래동5가', '문래동6가', '상일동', '강일동', '우이동',
        '도림동', '능동', '교남동', '평동', '송월동', '홍파동', '교북동', '행촌동', '내발산동',
        '외발산동', '석촌동', '신설동', '용두동', '팔판동', '삼청동', '안국동', '소격동', '화동',
        '사간동', '송현동', '화양동', '당산동4가', '당산동5가', '당산동6가', '당산동', '개화동',
        '가리봉동', '청운동', '신교동', '궁정동', '효자동', '창성동', '통인동', '누상동', '누하동',
        '옥인동', '충정로2가', '충정로3가', '합동', '미근동', '청진동', '서린동', '수송동', '중학동',
        '종로1가', '공평동', '관훈동', '견지동', '와룡동', '권농동', '운니동', '익선동', '경운동',
        '관철동', '인사동', '낙원동', '종로2가', '훈정동', '묘동', '봉익동', '돈의동', '장사동',
        '관수동', '종로3가', '인의동', '예지동', '원남동', '종로4가', '혜화동', '명륜1가', '명륜2가',
        '명륜4가', '명륜3가', '연지동', '효제동', '종로5가', '종로6가', '충신동', '이화동', '연건동',
        '동숭동', '양평동1가', '양평동2가', '군자동', '중동', '서계동', '청파동1가', '청파동2가',
        '청파동3가', '증산동', '가산동', '대조동', '구기동', '평창동', '종암동', '장충동1가',
        '금호동1가', '오금동'], dtype=object),
 464)

In [754]:
move_df_map.drop('법정동개수', axis = 1, inplace = True)
move_df_map

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,총생활인구수,10대 미만,10대,20대,30대,40대,50대,60대,70대 이상
0,20220601,0,노원구,11350624,중계4동,11350105,상계동,17421.7541,1127.9940,2126.6229,1847.8491,1706.4453,2737.5762,2953.7299,2113.7844,2807.7517
1,20220601,0,노원구,11350624,중계4동,11350106,중계동,17421.7541,1127.9940,2126.6229,1847.8491,1706.4453,2737.5762,2953.7299,2113.7844,2807.7517
2,20220601,0,도봉구,11320690,방학제1동,11320106,방학동,23085.1602,1449.4314,1813.7001,2841.1001,3170.4136,3363.6338,3885.7874,3188.1861,3372.9070
3,20220601,0,은평구,11380560,구산동,11380105,구산동,29703.2603,2279.6824,3099.7392,3381.4349,4001.2083,4446.7043,4777.0435,3581.4957,4135.9532
4,20220601,0,종로구,11110570,무악동,11110187,무악동,7876.7825,612.0549,954.3858,982.5780,913.6961,1198.0468,1213.7660,961.3431,1040.9129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532795,20220630,23,종로구,11110530,사직동,11110121,신문로2가,14793.2090,703.9243,865.8515,1941.1584,2824.5220,2994.0886,2333.9531,1452.5471,1677.1645
532796,20220630,23,은평구,11380632,신사제2동,11380109,신사동,14556.9236,936.0021,1385.2950,1811.1609,2155.3354,2224.6512,2173.3716,2035.5643,1835.5435
532797,20220630,23,도봉구,11320690,방학제1동,11320106,방학동,23022.9223,1401.5973,1764.4529,2942.6804,3011.9897,3381.9657,3929.7062,3214.1757,3376.3535
532798,20220630,23,중랑구,11260565,면목본동,11260101,면목동,29926.6145,1500.8805,1922.7240,4653.8515,5231.0114,4265.0128,5377.3114,3540.2008,3435.6220
532799,20220630,23,중랑구,11260570,면목제7동,11260101,면목동,20444.1221,1317.1669,1264.5343,2495.8452,3190.5924,3202.1666,3415.1702,2744.4121,2814.2383

#### 유동인구 평균(지역구/법정동/시간대별/성별/연령대별)

In [375]:
pd.options.display.max_rows = 200

move_df_clean_allmean = move_df_map_mf.groupby(by = ['시군구명','법정동코드','동리명','시간대구분']).mean()
move_df_clean_allmean

                              기준일ID       행정동코드        총생활인구수    남성 10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      20220615.5  11680645.0  59469.443548  1616.117463
                  1      20220615.5  11680645.0  58189.023058  1588.027972
                  2      20220615.5  11680645.0  57589.591212  1576.843940
                  3      20220615.5  11680645.0  57224.332185  1569.612115
                  4      20220615.5  11680645.0  56702.214993  1552.476005
...                             ...         ...           ...          ...
중랑구  11260106 신내동 19     20220615.5  11260685.0  26179.834640  1374.551520
                  20     20220615.5  11260685.0  26463.129918  1374.254425
                  21     20220615.5  11260685.0  26838.629228  1372.787313
                  22     20220615.5  11260685.0  27110.528498  1374.416983
                  23     20220615.5  11260685.0  28798.299925  1444.316625

                             남성 10대       남성 20대       남성 30대       남성 40대   \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2632.084380  5043.093030  7161.905375  6817.484777
                  1      2567.865258  4926.969750  6963.674550  6603.449972
                  2      2544.717527  4859.516263  6842.791098  6471.732098
                  3      2536.640523  4812.944452  6767.222203  6399.886898
                  4      2511.026740  4772.181632  6680.406570  6298.469993
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1307.565472  1304.474632  1626.347355  1960.831877
                  20     1299.893322  1315.402382  1661.969205  1997.084533
                  21     1313.638250  1336.235717  1701.370097  2028.792082
                  22     1318.999538  1369.547668  1726.168927  2059.933977
                  23     1403.577107  1439.060832  1832.679472  2193.416820

                             남성 50대       남성 60대     남성 70대 이상    여성 10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      4025.376693  1624.970012  1297.972035  1530.654858
                  1      3922.715687  1597.560698  1288.569055  1521.639345
                  2      3889.166503  1590.919475  1285.672702  1520.050163
                  3      3855.880817  1581.825710  1291.224797  1511.995618
                  4      3798.718300  1571.157032  1291.257003  1487.865583
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1837.208162  1508.133883  1233.295657  1312.409115
                  20     1873.641302  1541.375173  1244.961055  1289.461557
                  21     1900.931653  1564.125108  1260.093508  1279.657290
                  22     1930.276318  1586.726977  1267.500560  1267.214780
                  23     2012.510348  1688.487907  1351.144880  1353.010662

                             여성 10대       여성 20대       여성 30대       여성 40대   \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2728.146748  6185.520950  6441.681177  5616.616618
                  1      2679.182290  6032.026287  6323.207755  5521.579717
                  2      2653.315267  5952.058753  6271.257387  5490.166460
                  3      2647.038368  5905.411175  6244.455692  5464.553482
                  4      2601.452670  5863.906967  6203.307948  5418.263907
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1302.927487  1374.334897  1866.470898  1988.167318
                  20     1295.314243  1407.539123  1913.250238  2011.064160
                  21     1306.383447  1454.021208  1961.060738  2030.023108
                  22     1308.890860  1500.355073  1994.681058  2042.069870
                  23     1414.106267  1616.217300  2115.077953  2156.603388

                             여성 50대       여성 60대     여성 70대 이상
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2917.441740  1891.666880  1938.710673
                  1      2876.151025  1866.921900  1909.481758
                  2      2870.023947  1863.230473  1908.129208
                  3      2864.755607  1865.187875  1905.697058
                  4      2865.675613  1867.400560  1918.648583
...                              ...          ...          ...
중랑구  11260106 신내동 19     2239.522683  1841.169878  2102.423785
                  20     2268.073277  1861.358652  2108.487290
                  21     2312.776992  1900.080517  2116.652097
                  22     2328.819770  1914.233668  2120.692485
                  23     2471.492922  2030.991185  2275.606180

[11184 rows x 19 columns]

In [376]:
move_df_clean_allmean.columns

Index(['기준일ID', '행정동코드', '총생활인구수', '남성 10대 미만', '남성 10대 ', '남성 20대 ',
       '남성 30대 ', '남성 40대 ', '남성 50대 ', '남성 60대 ', '남성 70대 이상', '여성 10대 미만',
       '여성 10대 ', '여성 20대 ', '여성 30대 ', '여성 40대 ', '여성 50대 ', '여성 60대 ',
       '여성 70대 이상'],
      dtype='object')

In [377]:
move_df_clean_allmean.to_csv('moveallmean.csv')

#### 유동인구 평균(지역구/법정동/시간대별/연령대별)

In [378]:
move_df_clean_mean = move_df_map.groupby(by = ['시군구명','법정동코드','동리명','시간대구분']).mean()
move_df_clean_mean

                              기준일ID       행정동코드        총생활인구수       10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      20220615.5  11680645.0  59469.443548  3146.772322
                  1      20220615.5  11680645.0  58189.023058  3109.667317
                  2      20220615.5  11680645.0  57589.591212  3096.894103
                  3      20220615.5  11680645.0  57224.332185  3081.607733
                  4      20220615.5  11680645.0  56702.214993  3040.341588
...                             ...         ...           ...          ...
중랑구  11260106 신내동 19     20220615.5  11260685.0  26179.834640  2686.960635
                  20     20220615.5  11260685.0  26463.129918  2663.715982
                  21     20220615.5  11260685.0  26838.629228  2652.444603
                  22     20220615.5  11260685.0  27110.528498  2641.631763
                  23     20220615.5  11260685.0  28798.299925  2797.327287

                                 10대          20대          30대          40대  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      5360.231128  5360.231128  5360.231128  5360.231128
                  1      5247.047548  5247.047548  5247.047548  5247.047548
                  2      5198.032793  5198.032793  5198.032793  5198.032793
                  3      5183.678892  5183.678892  5183.678892  5183.678892
                  4      5112.479410  5112.479410  5112.479410  5112.479410
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     2610.492958  2610.492958  2610.492958  2610.492958
                  20     2595.207565  2595.207565  2595.207565  2595.207565
                  21     2620.021697  2620.021697  2620.021697  2620.021697
                  22     2627.890398  2627.890398  2627.890398  2627.890398
                  23     2817.683373  2817.683373  2817.683373  2817.683373

                                 50대          60대       70대 이상
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      5360.231128  5360.231128  5360.231128
                  1      5247.047548  5247.047548  5247.047548
                  2      5198.032793  5198.032793  5198.032793
                  3      5183.678892  5183.678892  5183.678892
                  4      5112.479410  5112.479410  5112.479410
...                              ...          ...          ...
중랑구  11260106 신내동 19     2610.492958  2610.492958  2610.492958
                  20     2595.207565  2595.207565  2595.207565
                  21     2620.021697  2620.021697  2620.021697
                  22     2627.890398  2627.890398  2627.890398
                  23     2817.683373  2817.683373  2817.683373

[11184 rows x 11 columns]

In [379]:
move_df_clean_mean.to_csv('movemean.csv')

#### 유동인구 평균(지역구/법정동/주중, 주말/시간대별/성별/연령별)

##### 주말(금~일)

In [380]:
weekend = [20220603,20220604,20220605,20220610,20220611,20220612,20220617,20220618,20220619,20220624,20220625,20220626]

move_df_mf_weekend = move_df_map_mf[move_df_map_mf['기준일ID'].isin(weekend)]
move_df_mf_weekend

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,총생활인구수,남성 10대 미만,남성 10대,...,남성 60대,남성 70대 이상,여성 10대 미만,여성 10대,여성 20대,여성 30대,여성 40대,여성 50대,여성 60대,여성 70대 이상
35520,20220603,0,종로구,11110515,청운효자동,11110101,청운동,1561.59246,59.07293,97.23986,...,62.42452,69.04838,64.31917,76.02022,92.59043,111.01521,168.13208,127.37543,84.29671,129.72808
35521,20220603,0,종로구,11110515,청운효자동,11110102,신교동,1561.59246,59.07293,97.23986,...,62.42452,69.04838,64.31917,76.02022,92.59043,111.01521,168.13208,127.37543,84.29671,129.72808
35522,20220603,0,종로구,11110515,청운효자동,11110103,궁정동,1561.59246,59.07293,97.23986,...,62.42452,69.04838,64.31917,76.02022,92.59043,111.01521,168.13208,127.37543,84.29671,129.72808
35523,20220603,0,종로구,11110515,청운효자동,11110104,효자동,1561.59246,59.07293,97.23986,...,62.42452,69.04838,64.31917,76.02022,92.59043,111.01521,168.13208,127.37543,84.29671,129.72808
35524,20220603,0,종로구,11110515,청운효자동,11110105,창성동,1561.59246,59.07293,97.23986,...,62.42452,69.04838,64.31917,76.02022,92.59043,111.01521,168.13208,127.37543,84.29671,129.72808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461755,20220626,23,송파구,11710550,마천2동,11710114,마천동,16810.86560,533.17830,695.98510,...,1169.77360,939.27630,511.71980,609.60110,939.68540,1184.06240,1115.36970,1489.94660,1371.57110,1345.69950
461756,20220626,23,송파구,11710566,오륜동,11710111,방이동,14959.93210,528.83450,1304.99840,...,880.32010,768.79740,388.15470,985.87810,870.78670,884.72910,1246.58690,1174.12030,1015.11590,1124.38560
461757,20220626,23,송파구,11710590,송파2동,11710104,송파동,20252.90600,847.33710,1085.77590,...,1023.60110,776.47320,951.03980,1171.22160,1376.87410,1625.98210,1702.84890,1677.19600,1342.06760,1203.92710
461758,20220626,23,송파구,11710580,송파1동,11710104,송파동,31352.64990,1305.93690,1194.40550,...,1306.79500,954.98030,1054.50380,1110.16260,2896.80280,3416.35950,2660.19330,2264.05170,1742.62040,1629.51480
461759,20220626,23,송파구,11710570,오금동,11710112,오금동,39182.19400,1829.05900,2096.74060,...,2129.48290,1560.17850,1422.06240,1823.97430,2175.70430,3018.21910,3072.09960,3758.55760,2854.65090,2556.33240

In [381]:
move_df_mf_weekend_mean = move_df_mf_weekend.groupby(by = ['시군구명','법정동코드','동리명','시간대구분']).mean()
move_df_mf_weekend_mean

                              기준일ID       행정동코드        총생활인구수    남성 10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      20220614.5  11680645.0  59417.258121  1600.430617
                  1      20220614.5  11680645.0  57998.792621  1580.668292
                  2      20220614.5  11680645.0  57396.336621  1572.535233
                  3      20220614.5  11680645.0  56975.618167  1559.091196
                  4      20220614.5  11680645.0  56362.337617  1544.907550
...                             ...         ...           ...          ...
중랑구  11260106 신내동 19     20220614.5  11260685.0  26144.997912  1343.726271
                  20     20220614.5  11260685.0  26388.195858  1348.198600
                  21     20220614.5  11260685.0  26779.115192  1360.312475
                  22     20220614.5  11260685.0  27049.438954  1364.084121
                  23     20220614.5  11260685.0  28658.041350  1441.739787

                             남성 10대       남성 20대       남성 30대       남성 40대   \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2635.584567  5145.322783  7192.368917  6745.013012
                  1      2565.805183  5013.563962  6959.813371  6519.985704
                  2      2551.738587  4909.611254  6834.095817  6392.936475
                  3      2535.943904  4861.796442  6749.428979  6315.089858
                  4      2510.425371  4825.478721  6657.953163  6198.780787
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1297.465688  1320.489967  1667.469775  1980.175254
                  20     1308.442562  1326.690342  1685.344912  2013.836696
                  21     1315.944308  1344.585021  1725.248625  2048.570850
                  22     1318.751425  1378.516954  1740.615604  2062.675179
                  23     1401.208588  1444.558783  1820.647687  2182.826467

                             남성 50대       남성 60대     남성 70대 이상    여성 10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      4001.544042  1605.878800  1290.299200  1520.205675
                  1      3884.942133  1572.955554  1280.416233  1519.974942
                  2      3862.704767  1572.447592  1279.199117  1521.294508
                  3      3821.238104  1562.884483  1282.822854  1515.746304
                  4      3753.178537  1538.477571  1279.688767  1490.129050
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1878.510050  1538.123358  1231.430187  1275.480925
                  20     1907.485746  1557.449804  1234.195342  1262.959112
                  21     1924.341808  1581.218713  1258.092979  1254.045325
                  22     1955.498429  1599.419042  1266.171108  1260.990171
                  23     2022.853437  1693.672783  1343.831087  1330.645688

                             여성 10대       여성 20대       여성 30대       여성 40대   \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2720.803138  6285.116896  6397.530608  5570.289871
                  1      2677.372746  6086.720562  6247.736800  5476.752046
                  2      2664.773942  5983.658613  6195.619300  5456.730108
                  3      2660.091437  5933.278063  6164.238300  5429.356163
                  4      2620.119092  5879.604596  6127.485658  5373.863633
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1274.071867  1345.702958  1829.546367  1957.742108
                  20     1271.031563  1378.679421  1862.795479  1973.290208
                  21     1288.353192  1428.790354  1915.802792  1994.929808
                  22     1310.920363  1468.427758  1946.536750  2011.683262
                  23     1416.296979  1591.529308  2052.231625  2128.952517

                             여성 50대       여성 60대     여성 70대 이상
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2906.494825  1862.497971  1937.876971
                  1      2859.989067  1838.365554  1913.730446
                  2      2859.032392  1831.041663  1908.917571
                  3      2851.582279  1830.013042  1903.017142
                  4      2836.785646  1823.143792  1902.315850
...                              ...          ...          ...
중랑구  11260106 신내동 19     2236.945567  1830.836625  2137.281300
                  20     2252.723029  1862.887633  2142.185217
                  21     2291.393450  1897.008146  2150.477146
                  22     2311.525733  1907.334571  2146.288346
                  23     2463.802138  2026.235496  2297.008871

[11184 rows x 19 columns]

In [382]:
move_df_mf_weekend_mean.to_csv('weekendallmean.csv')

##### 주중(월~목)

In [383]:
move_df_mf_weekday = move_df_map_mf[move_df_map_mf['기준일ID'].isin(weekend) == False]
move_df_mf_weekday

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,총생활인구수,남성 10대 미만,남성 10대,...,남성 60대,남성 70대 이상,여성 10대 미만,여성 10대,여성 20대,여성 30대,여성 40대,여성 50대,여성 60대,여성 70대 이상
0,20220601,0,노원구,11350624,중계4동,11350105,상계동,8710.877050,258.341350,564.155600,...,487.8655,464.636750,305.65565,499.155850,473.589000,446.892600,734.278500,825.078400,569.026700,939.239100
1,20220601,0,노원구,11350624,중계4동,11350106,중계동,8710.877050,258.341350,564.155600,...,487.8655,464.636750,305.65565,499.155850,473.589000,446.892600,734.278500,825.078400,569.026700,939.239100
2,20220601,0,도봉구,11320690,방학제1동,11320106,방학동,23085.160200,755.962400,1001.153100,...,1451.5077,1339.197300,693.46900,812.547000,1430.408500,1502.722900,1615.195500,2025.473800,1736.678400,2033.709700
3,20220601,0,은평구,11380560,구산동,11380105,구산동,29703.260300,1217.639700,1539.089200,...,1574.5644,1558.695000,1062.04270,1560.650000,1881.305300,2131.309900,2433.438000,2659.312800,2006.931300,2577.258200
4,20220601,0,종로구,11110570,무악동,11110187,무악동,7876.782500,267.712800,419.599200,...,405.3734,402.698400,344.34210,534.786600,451.925800,491.982500,695.037700,633.185100,555.969700,638.214500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532795,20220630,23,종로구,11110530,사직동,11110121,신문로2가,1232.767417,29.493708,32.568717,...,53.5922,55.408517,29.16665,39.585575,89.955825,120.498083,121.210425,93.722875,67.453392,84.355192
532796,20220630,23,은평구,11380632,신사제2동,11380109,신사동,14556.923600,497.244600,792.720800,...,891.2488,740.205400,438.75750,592.574200,958.305900,1095.093700,1118.857400,1194.477400,1144.315500,1095.338100
532797,20220630,23,도봉구,11320690,방학제1동,11320106,방학동,23022.922300,718.542800,939.701800,...,1475.6807,1350.915300,683.05450,824.751100,1512.939200,1435.357700,1640.573100,2143.795300,1738.495000,2025.438200
532798,20220630,23,중랑구,11260565,면목본동,11260101,면목동,29926.614500,793.431200,1011.672200,...,1544.0249,1268.949600,707.44930,911.051800,2503.524600,2620.951100,2126.295200,2809.394600,1996.175900,2166.672400
532799,20220630,23,중랑구,11260570,면목제7동,11260101,면목동,20444.122100,674.891400,691.877200,...,1217.5909,1054.934900,642.27550,572.657100,1332.260600,1592.197000,1554.708000,1786.455200,1526.821200,1759.303400

In [384]:
move_df_mf_weekday_mean = move_df_mf_weekday.groupby(by = ['시군구명','법정동코드','동리명','시간대구분']).mean()
move_df_mf_weekday_mean

                                기준일ID       행정동코드        총생활인구수    남성 10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2.022062e+07  11680645.0  59504.233833  1626.575361
                  1      2.022062e+07  11680645.0  58315.843350  1592.934425
                  2      2.022062e+07  11680645.0  57718.427606  1579.716411
                  3      2.022062e+07  11680645.0  57390.141531  1576.626061
                  4      2.022062e+07  11680645.0  56928.799911  1557.521642
...                               ...         ...           ...          ...
중랑구  11260106 신내동 19     2.022062e+07  11260685.0  26203.059125  1395.101686
                  20     2.022062e+07  11260685.0  26513.085958  1391.624975
                  21     2.022062e+07  11260685.0  26878.305253  1381.103872
                  22     2.022062e+07  11260685.0  27151.254861  1381.305558
                  23     2.022062e+07  11260685.0  28891.805642  1446.034517

                             남성 10대       남성 20대       남성 30대       남성 40대   \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2629.750922  4974.939861  7141.596347  6865.799286
                  1      2569.238642  4869.240275  6966.248669  6659.092817
                  2      2540.036819  4826.119603  6848.587953  6524.262514
                  3      2537.104936  4780.376458  6779.084353  6456.418258
                  4      2511.427653  4736.650239  6695.375508  6364.929464
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1314.298661  1293.797742  1598.932408  1947.936292
                  20     1294.193828  1307.877075  1646.385400  1985.916425
                  21     1312.100878  1330.669514  1685.451078  2015.606236
                  22     1319.164947  1363.568144  1716.537808  2058.106508
                  23     1405.156119  1435.395531  1840.700661  2200.477056

                             남성 50대       남성 60대     남성 70대 이상    여성 10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      4041.265128  1637.697486  1303.087258  1537.620981
                  1      3947.898056  1613.964128  1294.004269  1522.748947
                  2      3906.807661  1603.234064  1289.988425  1519.220600
                  3      3878.975958  1594.453194  1296.826092  1509.495161
                  4      3829.078142  1592.943339  1298.969161  1486.356606
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1809.673569  1488.140900  1234.539303  1337.027908
                  20     1851.078339  1530.658753  1252.138197  1307.129853
                  21     1885.324883  1552.729372  1261.427194  1296.731933
                  22     1913.461578  1578.265600  1268.386861  1271.364519
                  23     2005.614956  1685.031322  1356.020742  1367.920644

                             여성 10대       여성 20대       여성 30대       여성 40대   \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2733.042489  6119.123653  6471.114889  5647.501117
                  1      2680.388653  5995.563436  6373.521725  5551.464831
                  2      2645.676150  5930.992181  6321.682778  5512.457361
                  3      2638.336322  5886.833250  6297.933953  5488.018361
                  4      2589.008389  5853.441881  6253.856142  5447.864089
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     1322.164567  1393.422856  1891.087253  2008.450792
                  20     1311.502697  1426.778925  1946.886744  2036.246794
                  21     1318.403617  1470.841778  1991.232703  2053.418642
                  22     1307.537858  1521.639950  2026.777264  2062.327608
                  23     1412.645792  1632.675961  2156.975506  2175.037303

                             여성 50대       여성 60대     여성 70대 이상
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2924.739683  1911.112819  1939.266475
                  1      2886.925664  1885.959464  1906.649300
                  2      2877.351650  1884.689681  1907.603633
                  3      2873.537825  1888.637764  1907.483669
                  4      2884.935592  1896.905072  1929.537072
...                              ...          ...          ...
중랑구  11260106 신내동 19     2241.240761  1848.058714  2079.185442
                  20     2278.306775  1860.339331  2086.022006
                  21     2327.032686  1902.128764  2094.102064
                  22     2340.349128  1918.833067  2103.628578
                  23     2476.620111  2034.161644  2261.337719

[11184 rows x 19 columns]

In [385]:
move_df_mf_weekday_mean.to_csv('weekdayallmean.csv')

#### 유동인구 평균(지역구/법정동/주중, 주말/시간대별/연령별)

##### 주말(금~일)

In [386]:
weekend = [20220603,20220604,20220605,20220610,20220611,20220612,20220617,20220618,20220619,20220624,20220625,20220626]

move_df_weekend = move_df_map[move_df_map['기준일ID'].isin(weekend)]
move_df_weekend

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,총생활인구수,10대 미만,10대,20대,30대,40대,50대,60대,70대 이상
35520,20220603,0,종로구,11110515,청운효자동,11110101,청운동,1561.59246,123.3921,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008
35521,20220603,0,종로구,11110515,청운효자동,11110102,신교동,1561.59246,123.3921,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008
35522,20220603,0,종로구,11110515,청운효자동,11110103,궁정동,1561.59246,123.3921,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008
35523,20220603,0,종로구,11110515,청운효자동,11110104,효자동,1561.59246,123.3921,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008
35524,20220603,0,종로구,11110515,청운효자동,11110105,창성동,1561.59246,123.3921,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008,173.26008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461755,20220626,23,송파구,11710550,마천2동,11710114,마천동,16810.86560,1044.8981,1305.58620,1305.58620,1305.58620,1305.58620,1305.58620,1305.58620,1305.58620
461756,20220626,23,송파구,11710566,오륜동,11710111,방이동,14959.93210,916.9892,2290.87650,2290.87650,2290.87650,2290.87650,2290.87650,2290.87650,2290.87650
461757,20220626,23,송파구,11710590,송파2동,11710104,송파동,20252.90600,1798.3769,2256.99750,2256.99750,2256.99750,2256.99750,2256.99750,2256.99750,2256.99750
461758,20220626,23,송파구,11710580,송파1동,11710104,송파동,31352.64990,2360.4407,2304.56810,2304.56810,2304.56810,2304.56810,2304.56810,2304.56810,2304.56810
461759,20220626,23,송파구,11710570,오금동,11710112,오금동,39182.19400,3251.1214,3920.71490,3920.71490,3920.71490,3920.71490,3920.71490,3920.71490,3920.71490

In [387]:
move_df_weekend_mean = move_df_weekend.groupby(by = ['시군구명','법정동코드','동리명','시간대구분']).mean()
move_df_weekend_mean

                              기준일ID       행정동코드        총생활인구수       10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      20220614.5  11680645.0  59417.258121  3120.636292
                  1      20220614.5  11680645.0  57998.792621  3100.643233
                  2      20220614.5  11680645.0  57396.336621  3093.829742
                  3      20220614.5  11680645.0  56975.618167  3074.837500
                  4      20220614.5  11680645.0  56362.337617  3035.036600
...                             ...         ...           ...          ...
중랑구  11260106 신내동 19     20220614.5  11260685.0  26144.997912  2619.207196
                  20     20220614.5  11260685.0  26388.195858  2611.157712
                  21     20220614.5  11260685.0  26779.115192  2614.357800
                  22     20220614.5  11260685.0  27049.438954  2625.074292
                  23     20220614.5  11260685.0  28658.041350  2772.385475

                                 10대          20대          30대          40대  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      5356.387704  5356.387704  5356.387704  5356.387704
                  1      5243.177929  5243.177929  5243.177929  5243.177929
                  2      5216.512529  5216.512529  5216.512529  5216.512529
                  3      5196.035342  5196.035342  5196.035342  5196.035342
                  4      5130.544463  5130.544463  5130.544463  5130.544463
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     2571.537554  2571.537554  2571.537554  2571.537554
                  20     2579.474125  2579.474125  2579.474125  2579.474125
                  21     2604.297500  2604.297500  2604.297500  2604.297500
                  22     2629.671787  2629.671787  2629.671787  2629.671787
                  23     2817.505567  2817.505567  2817.505567  2817.505567

                                 50대          60대       70대 이상
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      5356.387704  5356.387704  5356.387704
                  1      5243.177929  5243.177929  5243.177929
                  2      5216.512529  5216.512529  5216.512529
                  3      5196.035342  5196.035342  5196.035342
                  4      5130.544463  5130.544463  5130.544463
...                              ...          ...          ...
중랑구  11260106 신내동 19     2571.537554  2571.537554  2571.537554
                  20     2579.474125  2579.474125  2579.474125
                  21     2604.297500  2604.297500  2604.297500
                  22     2629.671787  2629.671787  2629.671787
                  23     2817.505567  2817.505567  2817.505567

[11184 rows x 11 columns]

In [388]:
move_df_weekend_mean.to_csv('weekendmean.csv')

##### 주말(월~목)

In [389]:
move_df_weekday = move_df_map[move_df_map['기준일ID'].isin(weekend) == False]
move_df_weekday

,기준일ID,시간대구분,시군구명,행정동코드,읍면동명,법정동코드,동리명,총생활인구수,10대 미만,10대,20대,30대,40대,50대,60대,70대 이상
0,20220601,0,노원구,11350624,중계4동,11350105,상계동,8710.877050,563.997000,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450
1,20220601,0,노원구,11350624,중계4동,11350106,중계동,8710.877050,563.997000,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450,1063.311450
2,20220601,0,도봉구,11320690,방학제1동,11320106,방학동,23085.160200,1449.431400,1813.700100,1813.700100,1813.700100,1813.700100,1813.700100,1813.700100,1813.700100
3,20220601,0,은평구,11380560,구산동,11380105,구산동,29703.260300,2279.682400,3099.739200,3099.739200,3099.739200,3099.739200,3099.739200,3099.739200,3099.739200
4,20220601,0,종로구,11110570,무악동,11110187,무악동,7876.782500,612.054900,954.385800,954.385800,954.385800,954.385800,954.385800,954.385800,954.385800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532795,20220630,23,종로구,11110530,사직동,11110121,신문로2가,1232.767417,58.660358,72.154292,72.154292,72.154292,72.154292,72.154292,72.154292,72.154292
532796,20220630,23,은평구,11380632,신사제2동,11380109,신사동,14556.923600,936.002100,1385.295000,1385.295000,1385.295000,1385.295000,1385.295000,1385.295000,1385.295000
532797,20220630,23,도봉구,11320690,방학제1동,11320106,방학동,23022.922300,1401.597300,1764.452900,1764.452900,1764.452900,1764.452900,1764.452900,1764.452900,1764.452900
532798,20220630,23,중랑구,11260565,면목본동,11260101,면목동,29926.614500,1500.880500,1922.724000,1922.724000,1922.724000,1922.724000,1922.724000,1922.724000,1922.724000
532799,20220630,23,중랑구,11260570,면목제7동,11260101,면목동,20444.122100,1317.166900,1264.534300,1264.534300,1264.534300,1264.534300,1264.534300,1264.534300,1264.534300

In [390]:
move_df_weekday_mean = move_df_weekday.groupby(by = ['시군구명','법정동코드','동리명','시간대구분']).mean()
move_df_weekday_mean

                                기준일ID       행정동코드        총생활인구수       10대 미만  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      2.022062e+07  11680645.0  59504.233833  3164.196342
                  1      2.022062e+07  11680645.0  58315.843350  3115.683372
                  2      2.022062e+07  11680645.0  57718.427606  3098.937011
                  3      2.022062e+07  11680645.0  57390.141531  3086.121222
                  4      2.022062e+07  11680645.0  56928.799911  3043.878247
...                               ...         ...           ...          ...
중랑구  11260106 신내동 19     2.022062e+07  11260685.0  26203.059125  2732.129594
                  20     2.022062e+07  11260685.0  26513.085958  2698.754828
                  21     2.022062e+07  11260685.0  26878.305253  2677.835806
                  22     2.022062e+07  11260685.0  27151.254861  2652.670078
                  23     2.022062e+07  11260685.0  28891.805642  2813.955161

                                 10대          20대          30대          40대  \
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      5362.793411  5362.793411  5362.793411  5362.793411
                  1      5249.627294  5249.627294  5249.627294  5249.627294
                  2      5185.712969  5185.712969  5185.712969  5185.712969
                  3      5175.441258  5175.441258  5175.441258  5175.441258
                  4      5100.436042  5100.436042  5100.436042  5100.436042
...                              ...          ...          ...          ...
중랑구  11260106 신내동 19     2636.463228  2636.463228  2636.463228  2636.463228
                  20     2605.696525  2605.696525  2605.696525  2605.696525
                  21     2630.504494  2630.504494  2630.504494  2630.504494
                  22     2626.702806  2626.702806  2626.702806  2626.702806
                  23     2817.801911  2817.801911  2817.801911  2817.801911

                                 50대          60대       70대 이상
시군구명 법정동코드    동리명 시간대구분
강남구  11680101 역삼동 0      5362.793411  5362.793411  5362.793411
                  1      5249.627294  5249.627294  5249.627294
                  2      5185.712969  5185.712969  5185.712969
                  3      5175.441258  5175.441258  5175.441258
                  4      5100.436042  5100.436042  5100.436042
...                              ...          ...          ...
중랑구  11260106 신내동 19     2636.463228  2636.463228  2636.463228
                  20     2605.696525  2605.696525  2605.696525
                  21     2630.504494  2630.504494  2630.504494
                  22     2626.702806  2626.702806  2626.702806
                  23     2817.801911  2817.801911  2817.801911

[11184 rows x 11 columns]

In [391]:
move_df_weekday_mean.to_csv('weekdaymean.csv')

### 분석을 위한 데이터프레임 생성(연령대를 하나의 컬럼으로)

In [392]:
move_df_age_mf.head()

,기준일ID,시간대구분,행정동코드,총생활인구수,남성 10대 미만,남성 10대,남성 20대,남성 30대,남성 40대,남성 50대,남성 60대,남성 70대 이상,여성 10대 미만,여성 10대,여성 20대,여성 30대,여성 40대,여성 50대,여성 60대,여성 70대 이상
0,20220601,0,11350624,17421.7541,516.6827,1128.3112,900.6711,812.6601,1269.0192,1303.5731,975.7310,929.2735,611.3113,998.3117,947.1780,893.7852,1468.5570,1650.1568,1138.0534,1878.4782
1,20220601,0,11320690,23085.1602,755.9624,1001.1531,1410.6916,1667.6907,1748.4383,1860.3136,1451.5077,1339.1973,693.4690,812.5470,1430.4085,1502.7229,1615.1955,2025.4738,1736.6784,2033.7097
2,20220601,0,11380560,29703.2603,1217.6397,1539.0892,1500.1296,1869.8984,2013.2663,2117.7307,1574.5644,1558.6950,1062.0427,1560.6500,1881.3053,2131.3099,2433.4380,2659.3128,2006.9313,2577.2582
3,20220601,0,11110570,7876.7825,267.7128,419.5992,530.6522,421.7136,503.0091,580.5809,405.3734,402.6984,344.3421,534.7866,451.9258,491.9825,695.0377,633.1851,555.9697,638.2145
4,20220601,0,11710566,15287.2143,486.0278,1283.6441,952.6541,617.4123,1050.2490,1225.6233,891.3942,839.2873,437.6426,1075.0333,890.9196,850.9682,1223.7089,1206.2464,1137.0712,1119.3336

In [393]:
move_df_age_mf.columns

Index(['기준일ID', '시간대구분', '행정동코드', '총생활인구수', '남성 10대 미만', '남성 10대 ', '남성 20대 ',
       '남성 30대 ', '남성 40대 ', '남성 50대 ', '남성 60대 ', '남성 70대 이상', '여성 10대 미만',
       '여성 10대 ', '여성 20대 ', '여성 30대 ', '여성 40대 ', '여성 50대 ', '여성 60대 ',
       '여성 70대 이상'],
      dtype='object')

#### 행열 전치

In [394]:
move_df_age_mf_t = pd.melt(move_df_age_mf, id_vars =['기준일ID', '행정동코드', '시간대구분'], var_name = '연령코드', value_name = '인구수')
move_df_age_mf_t

            기준일ID     행정동코드  시간대구분       연령코드         인구수
0        20220601  11350624      0     총생활인구수  17421.7541
1        20220601  11320690      0     총생활인구수  23085.1602
2        20220601  11380560      0     총생활인구수  29703.2603
3        20220601  11110570      0     총생활인구수   7876.7825
4        20220601  11710566      0     총생활인구수  15287.2143
...           ...       ...    ...        ...         ...
5189755  20220630  11110530     23  여성 70대 이상   1012.2623
5189756  20220630  11380632     23  여성 70대 이상   1095.3381
5189757  20220630  11320690     23  여성 70대 이상   2025.4382
5189758  20220630  11260565     23  여성 70대 이상   2166.6724
5189759  20220630  11260570     23  여성 70대 이상   1759.3034

[5189760 rows x 5 columns]

In [395]:
move_df_age_mf_t = move_df_age_mf_t.pivot_table(index = ['기준일ID', '행정동코드', '시간대구분','연령코드']).reset_index()
move_df_age_mf_t

            기준일ID     행정동코드  시간대구분       연령코드         인구수
0        20220601  11110515      0    남성 10대     955.2076
1        20220601  11110515      0  남성 10대 미만    610.5276
2        20220601  11110515      0    남성 20대     895.2502
3        20220601  11110515      0    남성 30대     960.7172
4        20220601  11110515      0    남성 40대    1299.9254
...           ...       ...    ...        ...         ...
5189755  20220630  11740700     23    여성 40대    2146.1937
5189756  20220630  11740700     23    여성 50대    2349.9986
5189757  20220630  11740700     23    여성 60대    1982.1217
5189758  20220630  11740700     23  여성 70대 이상   1977.5272
5189759  20220630  11740700     23     총생활인구수  28077.6086

[5189760 rows x 5 columns]

##### 총 인구수만 분리

In [396]:
move_df_age_mf_t_all = move_df_age_mf_t.loc[move_df_age_mf_t['연령코드'] == '총생활인구수'].reset_index().drop('index',axis = 1)
move_df_age_mf_t_all = move_df_age_mf_t_all.drop('연령코드', axis = 1)
move_df_age_mf_t_all

           기준일ID     행정동코드  시간대구분         인구수
0       20220601  11110515      0  15553.9252
1       20220601  11110515      1  15657.1187
2       20220601  11110515      2  15625.4127
3       20220601  11110515      3  15576.9278
4       20220601  11110515      4  15592.5280
...          ...       ...    ...         ...
305275  20220630  11740700     19  26911.6946
305276  20220630  11740700     20  27429.9188
305277  20220630  11740700     21  28194.4599
305278  20220630  11740700     22  28731.4479
305279  20220630  11740700     23  28077.6086

[305280 rows x 4 columns]

##### 총 인구수 빼고 분리

In [397]:
move_df_age_mf_t = move_df_age_mf_t.loc[move_df_age_mf_t['연령코드'] != '총생활인구수'].reset_index().drop('index',axis = 1)
move_df_age_mf_t

            기준일ID     행정동코드  시간대구분       연령코드        인구수
0        20220601  11110515      0    남성 10대    955.2076
1        20220601  11110515      0  남성 10대 미만   610.5276
2        20220601  11110515      0    남성 20대    895.2502
3        20220601  11110515      0    남성 30대    960.7172
4        20220601  11110515      0    남성 40대   1299.9254
...           ...       ...    ...        ...        ...
4884475  20220630  11740700     23    여성 30대   1989.7825
4884476  20220630  11740700     23    여성 40대   2146.1937
4884477  20220630  11740700     23    여성 50대   2349.9986
4884478  20220630  11740700     23    여성 60대   1982.1217
4884479  20220630  11740700     23  여성 70대 이상  1977.5272

[4884480 rows x 5 columns]

##### 성별, 연령대 분리

In [398]:
def gender(x):
    if x =='남성': 
        y = 1 
    elif x == '여성': 
        y = 2 
    else: 
        y=99
    return y

move_df_age_mf_t['성별코드'] = move_df_age_mf_t['연령코드'].apply(lambda x: x.split(' ')[0])
move_df_age_mf_t['성별코드_n'] = move_df_age_mf_t['성별코드'].apply(lambda x: gender(x))
move_df_age_mf_t['연령코드'] = move_df_age_mf_t['연령코드'].apply(lambda x: ' '.join(x.split(' ')[1:]))
move_df_age_mf_t

            기준일ID     행정동코드  시간대구분    연령코드        인구수 성별코드  성별코드_n
0        20220601  11110515      0    10대    955.2076   남성       1
1        20220601  11110515      0  10대 미만   610.5276   남성       1
2        20220601  11110515      0    20대    895.2502   남성       1
3        20220601  11110515      0    30대    960.7172   남성       1
4        20220601  11110515      0    40대   1299.9254   남성       1
...           ...       ...    ...     ...        ...  ...     ...
4884475  20220630  11740700     23    30대   1989.7825   여성       2
4884476  20220630  11740700     23    40대   2146.1937   여성       2
4884477  20220630  11740700     23    50대   2349.9986   여성       2
4884478  20220630  11740700     23    60대   1982.1217   여성       2
4884479  20220630  11740700     23  70대 이상  1977.5272   여성       2

[4884480 rows x 7 columns]

#### 법정동<-> 행정동 매칭

In [433]:
map_move_df_age_mf_t = pd.merge(move_df_age_mf_t,mapping_bh_dong)
map_move_df_age_mf_t

,기준일ID,행정동코드,시간대구분,연령코드,인구수,성별코드,성별코드_n,시군구명,행정동명,법정동코드,법정동명,법정동개수
0,20220601,11110515,0,10대,955.2076,남성,1,종로구,청운효자동,11110101,청운동,10
1,20220601,11110515,0,10대,955.2076,남성,1,종로구,청운효자동,11110102,신교동,10
2,20220601,11110515,0,10대,955.2076,남성,1,종로구,청운효자동,11110103,궁정동,10
3,20220601,11110515,0,10대,955.2076,남성,1,종로구,청운효자동,11110104,효자동,10
4,20220601,11110515,0,10대,955.2076,남성,1,종로구,청운효자동,11110105,창성동,10
...,...,...,...,...,...,...,...,...,...,...,...,...
8524795,20220630,11740700,23,30대,1989.7825,여성,2,강동구,둔촌제2동,11740106,둔촌동,1
8524796,20220630,11740700,23,40대,2146.1937,여성,2,강동구,둔촌제2동,11740106,둔촌동,1
8524797,20220630,11740700,23,50대,2349.9986,여성,2,강동구,둔촌제2동,11740106,둔촌동,1
8524798,20220630,11740700,23,60대,1982.1217,여성,2,강동구,둔촌제2동,11740106,둔촌동,1
8524799,20220630,11740700,23,70대 이상,1977.5272,여성,2,강동구,둔촌제2동,11740106,둔촌동,1

In [434]:
map_move_df_age_mf_t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8524800 entries, 0 to 8524799
Data columns (total 12 columns):
 #   Column  Dtype
---  ------  -----
 0   기준일ID   int64
 1   행정동코드   int64
 2   시간대구분   int64
 3   연령코드    object
 4   인구수     float64
 5   성별코드    object
 6   성별코드_n  int64
 7   시군구명    object
 8   행정동명    object
 9   법정동코드   int64
 10  법정동명    object
 11  법정동개수   int64
dtypes: float64(1), int64(6), object(5)
memory usage: 845.5+ MB

In [435]:
pd.merge(move_df_age_mf_t,mapping_bh_dong, how = 'outer')

,기준일ID,행정동코드,시간대구분,연령코드,인구수,성별코드,성별코드_n,시군구명,행정동명,법정동코드,법정동명,법정동개수
0,20220601.0,11110515,0.0,10대,955.2076,남성,1.0,종로구,청운효자동,11110101,청운동,10
1,20220601.0,11110515,0.0,10대,955.2076,남성,1.0,종로구,청운효자동,11110102,신교동,10
2,20220601.0,11110515,0.0,10대,955.2076,남성,1.0,종로구,청운효자동,11110103,궁정동,10
3,20220601.0,11110515,0.0,10대,955.2076,남성,1.0,종로구,청운효자동,11110104,효자동,10
4,20220601.0,11110515,0.0,10대,955.2076,남성,1.0,종로구,청운효자동,11110105,창성동,10
...,...,...,...,...,...,...,...,...,...,...,...,...
8524796,20220630.0,11740700,23.0,40대,2146.1937,여성,2.0,강동구,둔촌제2동,11740106,둔촌동,1
8524797,20220630.0,11740700,23.0,50대,2349.9986,여성,2.0,강동구,둔촌제2동,11740106,둔촌동,1
8524798,20220630.0,11740700,23.0,60대,1982.1217,여성,2.0,강동구,둔촌제2동,11740106,둔촌동,1
8524799,20220630.0,11740700,23.0,70대 이상,1977.5272,여성,2.0,강동구,둔촌제2동,11740106,둔촌동,1
8524800,NaN,11530800,NaN,NaN,NaN,NaN,NaN,구로구,항동,11530112,항동,1

In [436]:
map_move_df_age_mf_t['생활인구수'] = map_move_df_age_mf_t['인구수']/map_move_df_age_mf_t['법정동개수']
map_move_df_age_mf_t['행정동코드'] = map_move_df_age_mf_t['행정동코드']*100
map_move_df_age_mf_t['법정동코드'] = map_move_df_age_mf_t['법정동코드']*100
map_move_df_age_mf_t

,기준일ID,행정동코드,시간대구분,연령코드,인구수,성별코드,성별코드_n,시군구명,행정동명,법정동코드,법정동명,법정동개수,생활인구수
0,20220601,1111051500,0,10대,955.2076,남성,1,종로구,청운효자동,1111010100,청운동,10,95.52076
1,20220601,1111051500,0,10대,955.2076,남성,1,종로구,청운효자동,1111010200,신교동,10,95.52076
2,20220601,1111051500,0,10대,955.2076,남성,1,종로구,청운효자동,1111010300,궁정동,10,95.52076
3,20220601,1111051500,0,10대,955.2076,남성,1,종로구,청운효자동,1111010400,효자동,10,95.52076
4,20220601,1111051500,0,10대,955.2076,남성,1,종로구,청운효자동,1111010500,창성동,10,95.52076
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8524795,20220630,1174070000,23,30대,1989.7825,여성,2,강동구,둔촌제2동,1174010600,둔촌동,1,1989.78250
8524796,20220630,1174070000,23,40대,2146.1937,여성,2,강동구,둔촌제2동,1174010600,둔촌동,1,2146.19370
8524797,20220630,1174070000,23,50대,2349.9986,여성,2,강동구,둔촌제2동,1174010600,둔촌동,1,2349.99860
8524798,20220630,1174070000,23,60대,1982.1217,여성,2,강동구,둔촌제2동,1174010600,둔촌동,1,1982.12170
8524799,20220630,1174070000,23,70대 이상,1977.5272,여성,2,강동구,둔촌제2동,1174010600,둔촌동,1,1977.52720

In [437]:
clean_map_move_df = map_move_df_age_mf_t[['기준일ID','시군구명','행정동코드','행정동명','법정동코드','법정동명','성별코드','성별코드_n','연령코드','시간대구분','인구수','생활인구수']]

In [438]:
clean_map_move_df

,기준일ID,시군구명,행정동코드,행정동명,법정동코드,법정동명,성별코드,성별코드_n,연령코드,시간대구분,인구수,생활인구수
0,20220601,종로구,1111051500,청운효자동,1111010100,청운동,남성,1,10대,0,955.2076,95.52076
1,20220601,종로구,1111051500,청운효자동,1111010200,신교동,남성,1,10대,0,955.2076,95.52076
2,20220601,종로구,1111051500,청운효자동,1111010300,궁정동,남성,1,10대,0,955.2076,95.52076
3,20220601,종로구,1111051500,청운효자동,1111010400,효자동,남성,1,10대,0,955.2076,95.52076
4,20220601,종로구,1111051500,청운효자동,1111010500,창성동,남성,1,10대,0,955.2076,95.52076
...,...,...,...,...,...,...,...,...,...,...,...,...
8524795,20220630,강동구,1174070000,둔촌제2동,1174010600,둔촌동,여성,2,30대,23,1989.7825,1989.78250
8524796,20220630,강동구,1174070000,둔촌제2동,1174010600,둔촌동,여성,2,40대,23,2146.1937,2146.19370
8524797,20220630,강동구,1174070000,둔촌제2동,1174010600,둔촌동,여성,2,50대,23,2349.9986,2349.99860
8524798,20220630,강동구,1174070000,둔촌제2동,1174010600,둔촌동,여성,2,60대,23,1982.1217,1982.12170
8524799,20220630,강동구,1174070000,둔촌제2동,1174010600,둔촌동,여성,2,70대 이상,23,1977.5272,1977.52720

In [439]:
clean_map_move_df = clean_map_move_df.rename(columns = {'인구수': '행정동단위 생활인구수', '생활인구수': '법정동 단위 생활인구수'})
clean_map_move_df

,기준일ID,시군구명,행정동코드,행정동명,법정동코드,법정동명,성별코드,성별코드_n,연령코드,시간대구분,행정동단위 생활인구수,법정동 단위 생활인구수
0,20220601,종로구,1111051500,청운효자동,1111010100,청운동,남성,1,10대,0,955.2076,95.52076
1,20220601,종로구,1111051500,청운효자동,1111010200,신교동,남성,1,10대,0,955.2076,95.52076
2,20220601,종로구,1111051500,청운효자동,1111010300,궁정동,남성,1,10대,0,955.2076,95.52076
3,20220601,종로구,1111051500,청운효자동,1111010400,효자동,남성,1,10대,0,955.2076,95.52076
4,20220601,종로구,1111051500,청운효자동,1111010500,창성동,남성,1,10대,0,955.2076,95.52076
...,...,...,...,...,...,...,...,...,...,...,...,...
8524795,20220630,강동구,1174070000,둔촌제2동,1174010600,둔촌동,여성,2,30대,23,1989.7825,1989.78250
8524796,20220630,강동구,1174070000,둔촌제2동,1174010600,둔촌동,여성,2,40대,23,2146.1937,2146.19370
8524797,20220630,강동구,1174070000,둔촌제2동,1174010600,둔촌동,여성,2,50대,23,2349.9986,2349.99860
8524798,20220630,강동구,1174070000,둔촌제2동,1174010600,둔촌동,여성,2,60대,23,1982.1217,1982.12170
8524799,20220630,강동구,1174070000,둔촌제2동,1174010600,둔촌동,여성,2,70대 이상,23,1977.5272,1977.52720

In [446]:
clean_map_move_df.to_csv('clean_map_move_df.csv')

#### 법정동 기준 데이터프레임/ 행정동 기준 데이터프레임 나누기

In [771]:
clean_map_move_df

,기준일ID,시군구명,행정동코드,행정동명,법정동코드,법정동명,성별코드,성별코드_n,연령코드,시간대구분,행정동단위 생활인구수,법정동 단위 생활인구수
0,20220601,종로구,1111051500,청운효자동,1111010100,청운동,남성,1,10대,0,955.2076,95.52076
1,20220601,종로구,1111051500,청운효자동,1111010200,신교동,남성,1,10대,0,955.2076,95.52076
2,20220601,종로구,1111051500,청운효자동,1111010300,궁정동,남성,1,10대,0,955.2076,95.52076
3,20220601,종로구,1111051500,청운효자동,1111010400,효자동,남성,1,10대,0,955.2076,95.52076
4,20220601,종로구,1111051500,청운효자동,1111010500,창성동,남성,1,10대,0,955.2076,95.52076
...,...,...,...,...,...,...,...,...,...,...,...,...
8524795,20220630,강동구,1174070000,둔촌제2동,1174010600,둔촌동,여성,2,30대,23,1989.7825,1989.78250
8524796,20220630,강동구,1174070000,둔촌제2동,1174010600,둔촌동,여성,2,40대,23,2146.1937,2146.19370
8524797,20220630,강동구,1174070000,둔촌제2동,1174010600,둔촌동,여성,2,50대,23,2349.9986,2349.99860
8524798,20220630,강동구,1174070000,둔촌제2동,1174010600,둔촌동,여성,2,60대,23,1982.1217,1982.12170
8524799,20220630,강동구,1174070000,둔촌제2동,1174010600,둔촌동,여성,2,70대 이상,23,1977.5272,1977.52720

In [813]:
clean_map_move_df_b = clean_map_move_df[['시군구명', '법정동코드', '법정동명','연령코드','시간대구분','법정동 단위 생활인구수']].groupby(['시군구명', '법정동코드', '법정동명','연령코드','시간대구분']).sum().reset_index()
clean_map_move_df_b

      시군구명       법정동코드 법정동명    연령코드  시간대구분  법정동 단위 생활인구수
0      강남구  1168010100  역삼동    10대       0   321613.8677
1      강남구  1168010100  역삼동    10대       1   314822.8529
2      강남구  1168010100  역삼동    10대       2   311881.9676
3      강남구  1168010100  역삼동    10대       3   311020.7335
4      강남구  1168010100  역삼동    10대       4   306748.7646
...    ...         ...  ...     ...    ...           ...
89467  중랑구  1126010600  신내동  70대 이상     19   200143.1665
89468  중랑구  1126010600  신내동  70대 이상     20   201206.9007
89469  중랑구  1126010600  신내동  70대 이상     21   202604.7363
89470  중랑구  1126010600  신내동  70대 이상     22   203291.5827
89471  중랑구  1126010600  신내동  70대 이상     23   217605.0636

[89472 rows x 6 columns]

In [814]:
clean_map_move_df_b['연령코드'] = clean_map_move_df_b['연령코드'].apply(lambda x: x.strip())

In [815]:
clean_map_move_df_b.to_csv('clean_map_move_df_b.csv')

In [816]:
clean_map_move_df_h = clean_map_move_df[['시군구명', '행정동코드', '행정동명','연령코드','시간대구분','행정동단위 생활인구수']].groupby(['시군구명', '행정동코드', '행정동명','연령코드','시간대구분',]).sum().reset_index()
clean_map_move_df_h

      시군구명       행정동코드  행정동명    연령코드  시간대구분  행정동단위 생활인구수
0      강남구  1168051000   신사동    10대       0  138759.6166
1      강남구  1168051000   신사동    10대       1  132918.1494
2      강남구  1168051000   신사동    10대       2  130745.9104
3      강남구  1168051000   신사동    10대       3  129200.9574
4      강남구  1168051000   신사동    10대       4  127416.1328
...    ...         ...   ...     ...    ...          ...
81403  중랑구  1126069000  신내2동  70대 이상     19   69479.1781
81404  중랑구  1126069000  신내2동  70대 이상     20   69960.1441
81405  중랑구  1126069000  신내2동  70대 이상     21   69708.0590
81406  중랑구  1126069000  신내2동  70대 이상     22   69749.7186
81407  중랑구  1126069000  신내2동  70대 이상     23   83107.6337

[81408 rows x 6 columns]

In [817]:
clean_map_move_df_h['연령코드'] = clean_map_move_df_h['연령코드'].apply(lambda x: x.strip())

In [818]:
clean_map_move_df_h.to_csv('clean_map_move_df_h.csv')

## 거주인구, 유동인구 merge

In [2]:
#거주인구
import pandas as pd

clean_map_live_df_b = pd.read_csv('clean_map_live_df_b.csv',index_col = 0).rename(columns = {'연령별':'연령코드'})
clean_map_live_df_b

     시군구명       법정동코드 법정동명    연령코드  법정동단위 거주인구
0     강남구  1168010100  역삼동     10대      7057.0
1     강남구  1168010100  역삼동  10대 미만      3389.0
2     강남구  1168010100  역삼동     20대     12245.0
3     강남구  1168010100  역삼동     30대     14967.0
4     강남구  1168010100  역삼동     40대     14947.0
...   ...         ...  ...     ...         ...
3731  중랑구  1126010600  신내동     30대      7453.0
3732  중랑구  1126010600  신내동     40대      8877.0
3733  중랑구  1126010600  신내동     50대      9741.0
3734  중랑구  1126010600  신내동     60대      9319.0
3735  중랑구  1126010600  신내동  70대 이상      7161.0

[3736 rows x 5 columns]

In [3]:
clean_map_live_df_b['연령코드'].unique()

array(['10대', '10대 미만', '20대', '30대', '40대', '50대', '60대', '70대 이상'],
      dtype=object)

In [4]:
clean_map_move_df_b = pd.read_csv('clean_map_move_df_b.csv',index_col = 0)
clean_map_move_df_b

      시군구명       법정동코드 법정동명    연령코드  시간대구분  법정동 단위 생활인구수
0      강남구  1168010100  역삼동     10대      0   321613.8677
1      강남구  1168010100  역삼동     10대      1   314822.8529
2      강남구  1168010100  역삼동     10대      2   311881.9676
3      강남구  1168010100  역삼동     10대      3   311020.7335
4      강남구  1168010100  역삼동     10대      4   306748.7646
...    ...         ...  ...     ...    ...           ...
89467  중랑구  1126010600  신내동  70대 이상     19   200143.1665
89468  중랑구  1126010600  신내동  70대 이상     20   201206.9007
89469  중랑구  1126010600  신내동  70대 이상     21   202604.7363
89470  중랑구  1126010600  신내동  70대 이상     22   203291.5827
89471  중랑구  1126010600  신내동  70대 이상     23   217605.0636

[89472 rows x 6 columns]

In [5]:
a = list(clean_map_live_df_b['법정동명'].unique())
b = list(clean_map_move_df_b['법정동명'].unique())

for i in b:
    try:
        a.remove(i)
    except:
        print(i)
print(a)

['항동']

In [6]:
clean_move_live_df_b = pd.merge(clean_map_live_df_b, clean_map_move_df_b)
clean_move_live_df_b

      시군구명       법정동코드 법정동명    연령코드  법정동단위 거주인구  시간대구분  법정동 단위 생활인구수
0      강남구  1168010100  역삼동     10대      7057.0      0   321613.8677
1      강남구  1168010100  역삼동     10대      7057.0      1   314822.8529
2      강남구  1168010100  역삼동     10대      7057.0      2   311881.9676
3      강남구  1168010100  역삼동     10대      7057.0      3   311020.7335
4      강남구  1168010100  역삼동     10대      7057.0      4   306748.7646
...    ...         ...  ...     ...         ...    ...           ...
89467  중랑구  1126010600  신내동  70대 이상      7161.0     19   200143.1665
89468  중랑구  1126010600  신내동  70대 이상      7161.0     20   201206.9007
89469  중랑구  1126010600  신내동  70대 이상      7161.0     21   202604.7363
89470  중랑구  1126010600  신내동  70대 이상      7161.0     22   203291.5827
89471  중랑구  1126010600  신내동  70대 이상      7161.0     23   217605.0636

[89472 rows x 7 columns]

In [7]:
clean_move_live_df = pd.merge(clean_map_live_df_b,clean_map_move_df_b, how = 'outer')
clean_move_live_df

      시군구명       법정동코드 법정동명    연령코드  법정동단위 거주인구  시간대구분  법정동 단위 생활인구수
0      강남구  1168010100  역삼동     10대      7057.0    0.0   321613.8677
1      강남구  1168010100  역삼동     10대      7057.0    1.0   314822.8529
2      강남구  1168010100  역삼동     10대      7057.0    2.0   311881.9676
3      강남구  1168010100  역삼동     10대      7057.0    3.0   311020.7335
4      강남구  1168010100  역삼동     10대      7057.0    4.0   306748.7646
...    ...         ...  ...     ...         ...    ...           ...
89475  중랑구  1126010600  신내동  70대 이상      7161.0   19.0   200143.1665
89476  중랑구  1126010600  신내동  70대 이상      7161.0   20.0   201206.9007
89477  중랑구  1126010600  신내동  70대 이상      7161.0   21.0   202604.7363
89478  중랑구  1126010600  신내동  70대 이상      7161.0   22.0   203291.5827
89479  중랑구  1126010600  신내동  70대 이상      7161.0   23.0   217605.0636

[89480 rows x 7 columns]

In [8]:
len(clean_move_live_df['법정동명'].unique())

465

In [9]:
clean_move_live_df_b.to_csv('clean_move_live_df_b.csv')

PermissionError: [Errno 13] Permission denied: 'clean_move_live_df_b.csv'

In [ ]:
clean_move_live_df_b

In [ ]:
clean_move_live_df_b_time = clean_move_live_df_b.groupby(['시군구명','법정동코드','법정동명','연령코드']).mean().reset_index()
clean_move_live_df_b_time

In [ ]:
clean_move_live_df_b_time_age = clean_move_live_df_b_time.groupby(['시군구명','법정동코드','법정동명']).sum().reset_index()
clean_move_live_df_b_time_age

In [ ]:
clean_move_live_df_b_time_age_all = clean_move_live_df_b_time_age[['법정동명','법정동단위 거주인구','법정동 단위 생활인구수']]
clean_move_live_df_b_time_age_all = clean_move_live_df_b_time_age_all.drop_duplicates('법정동명')
clean_move_live_df_b_time_age_all = clean_move_live_df_b_time_age_all.set_index(['법정동명'])
clean_move_live_df_b_time_age_all

In [ ]:
clean_move_live_df_b_time_age_all.to_csv('clean_move_live_df_b_time_age_all.csv')

In [ ]:
import warnings  
from collections import Counter
from matplotlib import rc
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

rc('font', family='Malgun Gothic')
plt.rcParams['axes.unicode_minus']=False     # 마이너스 부호 깨짐 방지

# normalizer 생성
min_max_scaler = MinMaxScaler()

# 표준화하기
clean_move_live_df_b_time_age_all[['법정동단위 거주인구','법정동 단위 생활인구수']] = min_max_scaler.fit_transform(clean_move_live_df_b_time_age_all[['법정동단위 거주인구','법정동 단위 생활인구수']])


# 클러스터링 생성
estimator = KMeans(n_clusters = 11)
cluster_ids = estimator.fit_predict(clean_move_live_df_b_time_age_all)


# 플롯
plt.figure(figsize=(18,18))
plt.scatter(clean_move_live_df_b_time_age_all['법정동단위 거주인구'], clean_move_live_df_b_time_age_all['법정동 단위 생활인구수'], c=cluster_ids)
plt.xlabel("")
plt.ylabel("법정동")

# 범례 달기
for dong_p, live, move in clean_move_live_df_b_time_age_all.itertuples():
    plt.annotate(dong_p, (live, move))
    
plt.show()

In [ ]:
from sklearn.preprocessing import MinMaxScaler

rc('font', family='Malgun Gothic')
plt.rcParams['axes.unicode_minus']=False     # 마이너스 부호 깨짐 방지

# normalizer 생성
min_max_scaler = MinMaxScaler()

# 표준화하기
clean_move_live_df_b_time_age_all[['법정동단위 거주인구','법정동 단위 생활인구수']] = min_max_scaler.fit_transform(clean_move_live_df_b_time_age_all[['법정동단위 거주인구','법정동 단위 생활인구수']])


# 클러스터링 생성
estimator = KMeans(n_clusters = 8)
cluster_ids = estimator.fit_predict(clean_move_live_df_b_time_age_all)


# 플롯
plt.figure(figsize=(18,18))
plt.scatter(clean_move_live_df_b_time_age_all['법정동단위 거주인구'], clean_move_live_df_b_time_age_all['법정동 단위 생활인구수'], c=cluster_ids)
plt.xlabel("")
plt.ylabel("법정동")

# 범례 달기
for dong_p, live, move in clean_move_live_df_b_time_age_all.itertuples():
    plt.annotate(dong_p, (live, move))
    
plt.show()

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# 두 가지 feature를 대상
data = clean_move_live_df_b_time_age_all[['법정동단위 거주인구','법정동 단위 생활인구수']]

# 정규화 진행
scaler = MinMaxScaler()
data_scale = scaler.fit_transform(data)

In [ ]:
data_scale

In [ ]:
from sklearn.cluster import KMeans

k = 15

# 그룹 수, random_state 설정
model = KMeans(n_clusters = k, random_state = 10)

# 정규화된 데이터에 학습
model.fit(data_scale)

# 클러스터링 결과 각 데이터가 몇 번째 그룹에 속하는지 저장
data['cluster'] = model.fit_predict(data_scale)