# 업종코드 리코딩

In [1]:
import pandas as pd

In [4]:
type = pd.read_excel('업종코드.xlsx', header = None)
type

                                  0
0        TOBU_BIDVS_CD 업종대분류코드 1 숙박
1    TOBU_BIDVS_CD 업종대분류코드 2 오프라인유통
2       TOBU_BIDVS_CD 업종대분류코드 3 F&B
3      TOBU_BIDVS_CD 업종대분류코드 4 가전가구
4      TOBU_BIDVS_CD 업종대분류코드 5 패션잡화
5      TOBU_BIDVS_CD 업종대분류코드 6 문화여가
6     TOBU_BIDVS_CD 업종대분류코드 7 생활서비스
7       TOBU_MEDVS_CD 업종중분류코드 11 숙박
8      TOBU_MEDVS_CD 업종중분류코드 21 백화점
9       TOBU_MEDVS_CD 업종중분류코드 22 마트
10     TOBU_MEDVS_CD 업종중분류코드 23 편의점
11     TOBU_MEDVS_CD 업종중분류코드 24 면세점
12     TOBU_MEDVS_CD 업종중분류코드 25 소매점
13     TOBU_MEDVS_CD 업종중분류코드 26 식료품
14      TOBU_MEDVS_CD 업종중분류코드 31 한식
15      TOBU_MEDVS_CD 업종중분류코드 32 양식
16      TOBU_MEDVS_CD 업종중분류코드 33 일식
17      TOBU_MEDVS_CD 업종중분류코드 34 중식
18      TOBU_MEDVS_CD 업종중분류코드 35 부페
19  TOBU_MEDVS_CD 업종중분류코드 36 일반대중음식
20  TOBU_MEDVS_CD 업종중분류코드 37 카페베이커리
21   TOBU_MEDVS_CD 업종중분류코드 38 패스트푸드
22    TOBU_MEDVS_CD 업종중분류코드 39 유흥주점
23      TOBU_MEDVS_CD 업종중분류코드 41 가전
24    TOBU_MEDVS_CD 업종중분류코드 42 인테리어
25      TOBU_MEDVS_CD 업종중분류코드 43 가구
26    TOBU_MEDVS_CD 업종중분류코드 44 문구기타
27    TOBU_MEDVS_CD 업종중분류코드 51 성인의류
28   TOBU_MEDVS_CD 업종중분류코드 52 아동캐주얼
29   TOBU_MEDVS_CD 업종중분류코드 53 스포츠용품
30    TOBU_MEDVS_CD 업종중분류코드 54 침구직물
31      TOBU_MEDVS_CD 업종중분류코드 55 잡화
32     TOBU_MEDVS_CD 업종중분류코드 56 주얼리
33      TOBU_MEDVS_CD 업종중분류코드 57 안경
34     TOBU_MEDVS_CD 업종중분류코드 58 화장품
35    TOBU_MEDVS_CD 업종중분류코드 59 기타잡화
36    TOBU_MEDVS_CD 업종중분류코드 61 극장공연
37     TOBU_MEDVS_CD 업종중분류코드 62 스포츠
38      TOBU_MEDVS_CD 업종중분류코드 63 오락
39      TOBU_MEDVS_CD 업종중분류코드 64 미술
40      TOBU_MEDVS_CD 업종중분류코드 65 음악
41      TOBU_MEDVS_CD 업종중분류코드 66 서점
42    TOBU_MEDVS_CD 업종중분류코드 71 미용건강
43      TOBU_MEDVS_CD 업종중분류코드 72 의료
44      TOBU_MEDVS_CD 업종중분류코드 73 교육
45      TOBU_MEDVS_CD 업종중분류코드 74 주유
46     TOBU_MEDVS_CD 업종중분류코드 75 자동차
47    TOBU_MEDVS_CD 업종중분류코드 76 애완동물
48    TOBU_MEDVS_CD 업종중분류코드 77 생활기타

### 대분류/중분류 업종코드 데이터프레임화

#### 업종코드 데이터프레임화

In [15]:
# 업종코드별 세부타입 데이터프레임 만들기
type_clean = pd.DataFrame(columns = ['code','type'])

code_list = []
type_list = []

for i in type[0]:
    code_str = i.split(' ')[-2]## 업종코드 리코딩### 업종코드 데이터프레임화
    type_str = i.split(' ')[-1]
    
    code_list.append(code_str)
    type_list.append(type_str)
    
    
type_clean['code'] = code_list
type_clean['type'] = type_list

type_clean

   code    type
0     1      숙박
1     2  오프라인유통
2     3     F&B
3     4    가전가구
4     5    패션잡화
5     6    문화여가
6     7   생활서비스
7    11      숙박
8    21     백화점
9    22      마트
10   23     편의점
11   24     면세점
12   25     소매점
13   26     식료품
14   31      한식
15   32      양식
16   33      일식
17   34      중식
18   35      부페
19   36  일반대중음식
20   37  카페베이커리
21   38   패스트푸드
22   39    유흥주점
23   41      가전
24   42    인테리어
25   43      가구
26   44    문구기타
27   51    성인의류
28   52   아동캐주얼
29   53   스포츠용품
30   54    침구직물
31   55      잡화
32   56     주얼리
33   57      안경
34   58     화장품
35   59    기타잡화
36   61    극장공연
37   62     스포츠
38   63      오락
39   64      미술
40   65      음악
41   66      서점
42   71    미용건강
43   72      의료
44   73      교육
45   74      주유
46   75     자동차
47   76    애완동물
48   77    생활기타

#### 중분류 업종코드 데이터프레임화

In [16]:
# 세부업종 코드 데이터프레임

detail_type_clean = type_clean[7:]
detail_type_clean.rename(columns = {'type': 'detail_type'}, inplace = True)
detail_type_clean#### 업종코드 데이터프레임화

C:\Users\NEW\AppData\Local\Temp\ipykernel_22308\4212051277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detail_type_clean.rename(columns = {'type': 'detail_type'}, inplace = True)

   code detail_type
7    11          숙박
8    21         백화점
9    22          마트
10   23         편의점
11   24         면세점
12   25         소매점
13   26         식료품
14   31          한식
15   32          양식
16   33          일식
17   34          중식
18   35          부페
19   36      일반대중음식
20   37      카페베이커리
21   38       패스트푸드
22   39        유흥주점
23   41          가전
24   42        인테리어
25   43          가구
26   44        문구기타
27   51        성인의류
28   52       아동캐주얼
29   53       스포츠용품
30   54        침구직물
31   55          잡화
32   56         주얼리
33   57          안경
34   58         화장품
35   59        기타잡화
36   61        극장공연
37   62         스포츠
38   63          오락
39   64          미술
40   65          음악
41   66          서점
42   71        미용건강
43   72          의료
44   73          교육
45   74          주유
46   75         자동차
47   76        애완동물
48   77        생활기타

In [31]:
# 코드를 문자 ->숫자화

detail_type_clean['code'] = detail_type_clean['code'].astype(int)

C:\Users\NEW\AppData\Local\Temp\ipykernel_22308\2019651133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detail_type_clean['code'] = detail_type_clean['code'].astype(int)

In [33]:
detail_type_clean['code'].dtype

dtype('int32')

#### 대분류 업종코드 데이터프레임화

In [17]:
#업종별 코드

type_clean = type_clean[:7]
type_clean

  code    type
0    1      숙박
1    2  오프라인유통
2    3     F&B
3    4    가전가구
4    5    패션잡화
5    6    문화여가
6    7   생활서비스

In [35]:
# 코드를 문자 ->숫자화

type_clean['code'] = detail_type_clean['code'].astype(int)

C:\Users\NEW\AppData\Local\Temp\ipykernel_22308\1319186383.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  type_clean['code'] = detail_type_clean['code'].astype(int)

#### merge로 확인해보기

In [36]:
te = pd.DataFrame(columns = ['test'])
te['test'] = range(50)
te.head()

   test
0     0
1     1
2     2
3     3
4     4

In [39]:
pd.merge(te, detail_type_clean, left_on = 'test' , right_on = 'code', how = 'inner' )

    test  code detail_type
0     11    11          숙박
1     21    21         백화점
2     22    22          마트
3     23    23         편의점
4     24    24         면세점
5     25    25         소매점
6     26    26         식료품
7     31    31          한식
8     32    32          양식
9     33    33          일식
10    34    34          중식
11    35    35          부페
12    36    36      일반대중음식
13    37    37      카페베이커리
14    38    38       패스트푸드
15    39    39        유흥주점
16    41    41          가전
17    42    42        인테리어
18    43    43          가구
19    44    44        문구기타