## 행정동-> 법정동 코드 변환

- 행정안전부가 제공하는 행정동 및 법정동의 코드 매핑 파일을 이용해 행정동
- 참고: https://www.mois.go.kr/frt/bbs/type001/commonSelectBoardList.do?bbsId=BBSMSTR_000000000052
- 참고: https://www.mois.go.kr/frt/bbs/type001/commonSelectBoardArticle.do?bbsId=BBSMSTR_000000000052&nttId=78739

In [2]:
#서울
import pandas as pd

df = pd.read_excel('KIKmix.20200720.xlsx')
df

            행정동코드      시도명  시군구명   읍면동명       법정동코드    동리명      생성일자  말소일자
0      1100000000    서울특별시   NaN    NaN  1100000000  서울특별시  19880423   NaN
1      1111000000    서울특별시   종로구    NaN  1111000000    종로구  19880423   NaN
2      1111051500    서울특별시   종로구  청운효자동  1111010100    청운동  20081101   NaN
3      1111051500    서울특별시   종로구  청운효자동  1111010200    신교동  20081101   NaN
4      1111051500    서울특별시   종로구  청운효자동  1111010300    궁정동  20081101   NaN
...           ...      ...   ...    ...         ...    ...       ...   ...
21715  5013061000  제주특별자치도  서귀포시    중문동  5013011400    대포동  20060701   NaN
21716  5013061000  제주특별자치도  서귀포시    중문동  5013011800    하원동  20060701   NaN
21717  5013062000  제주특별자치도  서귀포시    예래동  5013011900    색달동  20060701   NaN
21718  5013062000  제주특별자치도  서귀포시    예래동  5013012000    상예동  20060701   NaN
21719  5013062000  제주특별자치도  서귀포시    예래동  5013012100    하예동  20060701   NaN

[21720 rows x 8 columns]

In [4]:
#서울특별시만 추출

df_seoul = df[df['시도명'] == '서울특별시']
df_seoul

          행정동코드    시도명 시군구명   읍면동명       법정동코드    동리명      생성일자  말소일자
0    1100000000  서울특별시  NaN    NaN  1100000000  서울특별시  19880423   NaN
1    1111000000  서울특별시  종로구    NaN  1111000000    종로구  19880423   NaN
2    1111051500  서울특별시  종로구  청운효자동  1111010100    청운동  20081101   NaN
3    1111051500  서울특별시  종로구  청운효자동  1111010200    신교동  20081101   NaN
4    1111051500  서울특별시  종로구  청운효자동  1111010300    궁정동  20081101   NaN
..          ...    ...  ...    ...         ...    ...       ...   ...
762  1174065000  서울특별시  강동구  성내제2동  1174010800    성내동  19880423   NaN
763  1174066000  서울특별시  강동구  성내제3동  1174010800    성내동  19880423   NaN
764  1174068500  서울특별시  강동구     길동  1174010500     길동  20080707   NaN
765  1174069000  서울특별시  강동구  둔촌제1동  1174010600    둔촌동  19880423   NaN
766  1174070000  서울특별시  강동구  둔촌제2동  1174010600    둔촌동  19880423   NaN

[767 rows x 8 columns]

In [6]:
df_need = df_seoul[['시군구명','행정동코드','읍면동명','법정동코드','동리명']]
df_need

    시군구명       행정동코드   읍면동명       법정동코드    동리명
0    NaN  1100000000    NaN  1100000000  서울특별시
1    종로구  1111000000    NaN  1111000000    종로구
2    종로구  1111051500  청운효자동  1111010100    청운동
3    종로구  1111051500  청운효자동  1111010200    신교동
4    종로구  1111051500  청운효자동  1111010300    궁정동
..   ...         ...    ...         ...    ...
762  강동구  1174065000  성내제2동  1174010800    성내동
763  강동구  1174066000  성내제3동  1174010800    성내동
764  강동구  1174068500     길동  1174010500     길동
765  강동구  1174069000  둔촌제1동  1174010600    둔촌동
766  강동구  1174070000  둔촌제2동  1174010600    둔촌동

[767 rows x 5 columns]

In [10]:
df_need.dropna(axis = 0,inplace = True)

C:\Users\admin\AppData\Local\Temp\ipykernel_6528\361724113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_need.dropna(axis = 0,inplace = True)

In [11]:
df_need

    시군구명       행정동코드   읍면동명       법정동코드  동리명
2    종로구  1111051500  청운효자동  1111010100  청운동
3    종로구  1111051500  청운효자동  1111010200  신교동
4    종로구  1111051500  청운효자동  1111010300  궁정동
5    종로구  1111051500  청운효자동  1111010400  효자동
6    종로구  1111051500  청운효자동  1111010500  창성동
..   ...         ...    ...         ...  ...
762  강동구  1174065000  성내제2동  1174010800  성내동
763  강동구  1174066000  성내제3동  1174010800  성내동
764  강동구  1174068500     길동  1174010500   길동
765  강동구  1174069000  둔촌제1동  1174010600  둔촌동
766  강동구  1174070000  둔촌제2동  1174010600  둔촌동

[741 rows x 5 columns]

In [28]:
#전체 행정동 개수

len(set(df_need['읍면동명']))

424

In [30]:
# 전체 행정동 코드 개수

len(set(df_need['행정동코드']))

425

In [29]:
#전체 법정동 개수

len(set(df_need['동리명']))

465

In [31]:
len(set(df_need['법정동코드']))

467

#### 중복된 읍면동이 있는지 확인

In [32]:
#행정구 개수 확인

len(set(df_need.set_index('시군구명').index))

25

In [40]:
#중복되는 행정동명 추출

dong = []
gudong_dict = {}
for i in set(df_need.set_index('시군구명').index):
    dong_raw = list(set(df_need.loc[df_need['시군구명'] == i, '읍면동명']))
    for j in dong_raw:
        dong.append(j)
    gudong_dict[i] = dong_raw

    s_dong = set(dong)
    raw_dong = dong
    if len(s_dong) != len(raw_dong):
        for k in s_dong:
            raw_dong.remove(k)
        print(raw_dong)

['신사동']

- 신사동은 강남구, 관악구에 각각 존재함

In [41]:
#중복되는 법정동명 추출

dong = []
gudong_dict = {}
for i in set(df_need.set_index('시군구명').index):
    dong_raw = list(set(df_need.loc[df_need['시군구명'] == i, '동리명']))
    for j in dong_raw:
        dong.append(j)
    gudong_dict[i] = dong_raw

    s_dong = set(dong)
    raw_dong = dong
    if len(s_dong) != len(raw_dong):
        for k in s_dong:
            raw_dong.remove(k)
        print(raw_dong)

['신정동']
['신사동']

- 신정동은 마포구, 양천구에 존재
- 신사동은 강남구, 은평구에 존재

---

## 행정동->법정동 코드 변환(말소코드포함)

In [16]:
#말소코드 포함

df2 = pd.read_excel('KIKmix.20200720(말소코드포함).xlsx')
df2

            행정동코드      시도명  시군구명 읍면동명       법정동코드    동리명      생성일자        말소일자
0      1100000000    서울특별시   NaN  NaN  1100000000  서울특별시  19880423         NaN
1      1111000000    서울특별시   종로구  NaN  1111000000    종로구  19880423         NaN
2      1111000000    서울특별시   종로구  NaN  1111090100   창신1동  19880423  19880423.0
3      1111000000    서울특별시   종로구  NaN  1111090200   창신2동  19880423  19880423.0
4      1111000000    서울특별시   종로구  NaN  1111090300   창신3동  19880423  19880423.0
...           ...      ...   ...  ...         ...    ...       ...         ...
51246  5013061000  제주특별자치도  서귀포시  중문동  5013011400    대포동  20060701         NaN
51247  5013061000  제주특별자치도  서귀포시  중문동  5013011800    하원동  20060701         NaN
51248  5013062000  제주특별자치도  서귀포시  예래동  5013011900    색달동  20060701         NaN
51249  5013062000  제주특별자치도  서귀포시  예래동  5013012000    상예동  20060701         NaN
51250  5013062000  제주특별자치도  서귀포시  예래동  5013012100    하예동  20060701         NaN

[51251 rows x 8 columns]

In [17]:
#서울특별시만 추출

df2_seoul = df2[df2['시도명'] == '서울특별시']
df2_seoul

           행정동코드    시도명 시군구명   읍면동명       법정동코드    동리명      생성일자        말소일자
0     1100000000  서울특별시  NaN    NaN  1100000000  서울특별시  19880423         NaN
1     1111000000  서울특별시  종로구    NaN  1111000000    종로구  19880423         NaN
2     1111000000  서울특별시  종로구    NaN  1111090100   창신1동  19880423  19880423.0
3     1111000000  서울특별시  종로구    NaN  1111090200   창신2동  19880423  19880423.0
4     1111000000  서울특별시  종로구    NaN  1111090300   창신3동  19880423  19880423.0
...          ...    ...  ...    ...         ...    ...       ...         ...
1833  1174068000  서울특별시  강동구   길제2동  1174010500     길동  19880423  20080707.0
1834  1174068500  서울특별시  강동구     길동  1174010500     길동  20080707         NaN
1835  1174069000  서울특별시  강동구  둔촌제1동  1174010600    둔촌동  19880423         NaN
1836  1174070000  서울특별시  강동구  둔촌제2동  1174010500     길동  19880423  20070501.0
1837  1174070000  서울특별시  강동구  둔촌제2동  1174010600    둔촌동  19880423         NaN

[1838 rows x 8 columns]

In [20]:
df2_need = df2_seoul[['시군구명','행정동코드','읍면동명','법정동코드','동리명']]
df2_need

     시군구명       행정동코드   읍면동명       법정동코드    동리명
0     NaN  1100000000    NaN  1100000000  서울특별시
1     종로구  1111000000    NaN  1111000000    종로구
2     종로구  1111000000    NaN  1111090100   창신1동
3     종로구  1111000000    NaN  1111090200   창신2동
4     종로구  1111000000    NaN  1111090300   창신3동
...   ...         ...    ...         ...    ...
1833  강동구  1174068000   길제2동  1174010500     길동
1834  강동구  1174068500     길동  1174010500     길동
1835  강동구  1174069000  둔촌제1동  1174010600    둔촌동
1836  강동구  1174070000  둔촌제2동  1174010500     길동
1837  강동구  1174070000  둔촌제2동  1174010600    둔촌동

[1838 rows x 5 columns]

In [21]:
df2_need.dropna(axis = 0,inplace = True)

C:\Users\admin\AppData\Local\Temp\ipykernel_6528\521164974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_need.dropna(axis = 0,inplace = True)

In [22]:
df2_need

     시군구명       행정동코드   읍면동명       법정동코드  동리명
7     종로구  1111051000    청운동  1111010100  청운동
8     종로구  1111051000    청운동  1111010200  신교동
9     종로구  1111051000    청운동  1111010300  궁정동
10    종로구  1111051000    청운동  1111011900  세종로
11    종로구  1111051500  청운효자동  1111010100  청운동
...   ...         ...    ...         ...  ...
1833  강동구  1174068000   길제2동  1174010500   길동
1834  강동구  1174068500     길동  1174010500   길동
1835  강동구  1174069000  둔촌제1동  1174010600  둔촌동
1836  강동구  1174070000  둔촌제2동  1174010500   길동
1837  강동구  1174070000  둔촌제2동  1174010600  둔촌동

[1236 rows x 5 columns]

424