# 07/13

#### Q. 남녀 파트너 정해주기 프로그램(zip) 
같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [5]:
male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

- male = 철수,갑돌,로미오,이몽룡,온돌
- female = 미미,갑순,줄리엣,성춘향,평강

In [ ]:
#랜덤 커플 지정 함수 

import random

def couple_match(li_1,li_2):
    try:        
        random_m=random.sample(li_1,len(li_1))
        random_f=random.sample(li_2,len(li_2))

        couple=[]
        for i in range(len(li_1)):
            couple.append((random_m[i],random_f[i]))
        return couple
    except:
        if IndexError:
            print('※경고※ 같은 수의 남녀 리스트를 입력하세요!\n')
        

couple_match(male,female)

In [28]:
#프로그래밍

male=input(">>랜덤 파트너 남자들의 이름을 ','로 분리하여 입력하세요. \nex)갑돌,갑작,갑주 \n")
female=input(">>랜덤 파트너 여자들의 이름을 ','로 분리하여 입력하세요. \nex)갑돌,갑작,갑주 \n")

male=list(male.split(','))
female=list(female.split(','))

couple_match(male, female)

>>랜덤 파트너 남자들의 이름을 ','로 분리하여 입력하세요.
ex)갑돌,갑작,갑주
갑돌,갑작,갑주
>>랜덤 파트너 여자들의 이름을 ','로 분리하여 입력하세요.
ex)갑돌,갑작,갑주
미미,갑순,줄리엣

[('갑돌', '줄리엣'), ('갑작', '갑순'), ('갑주 ', '미미')]

In [6]:
#zip방식
def couple_match(li_1,li_2):
    try:        
        random_m=random.sample(li_1,len(li_1))
        random_f=random.sample(li_2,len(li_2))

        r_zip=zip(random_m,random_f)
        
        for i,j in enumerate(r_zip):
            print(f'{i+1}번째 매칭: {j[0]} ♥ {j[1]}')
        
    except:
        if IndexError:
            print('※경고※ 같은 수의 남녀 리스트를 입력하세요!')

1번째 매칭: 갑돌 ♥ 줄리엣
2번째 매칭: 로미오 ♥ 미미
3번째 매칭: 온돌 ♥ 성춘향
4번째 매칭: 이몽룡 ♥ 갑순
5번째 매칭: 철수 ♥ 평강

In [7]:
#프로그래밍

male=input(">>랜덤 파트너 남자들의 이름을 ','로 분리하여 입력하세요. \nex)갑돌,갑작,갑주 \n")
female=input(">>랜덤 파트너 여자들의 이름을 ','로 분리하여 입력하세요. \nex)갑돌,갑작,갑주 \n")

male=list(male.split(','))
female=list(female.split(','))

couple_match(male, female)

>>랜덤 파트너 남자들의 이름을 ','로 분리하여 입력하세요.
ex)갑돌,갑작,갑주
갑돌,갑작,갑주
>>랜덤 파트너 여자들의 이름을 ','로 분리하여 입력하세요.
ex)갑돌,갑작,갑주
갑돌,갑작,갑주
1번째 매칭: 갑돌 ♥ 갑주
2번째 매칭: 갑주  ♥ 갑작
3번째 매칭: 갑작 ♥ 갑돌

#### Q2. 사용자가 입력한 횟수만큼 로또 번호를 출력하는 프로그램 작성하세요.(중복 금지)

In [11]:
#로또번호 개수를 입력하는 경우

#함수지정
def lotto_num(x): 
    return sorted(random.sample(list(range(1,46)),x))

In [15]:
#프로그래밍
x=int(input(">>원하시는 번호의 개수를 입력하세요\n"))
lotto_num(x)

>>원하시는 번호의 개수를 입력하세요
8

[3, 5, 14, 16, 22, 27, 29, 32]

In [18]:
#로또번호 묶음 개수를 입력하는 경우

#함수지정
def lotto_count(c):
    for i in range(c):
        time.sleep(1)
        print(f'{i+1}번째 로또번호 모음: {sorted(random.sample(list(range(1,46)),6))}')

In [19]:
#프로그래밍
x=int(input(">>원하시는 로또번호 묶음 개수를 입력하세요\n"))
        
lotto_count(x)

>>원하시는 로또번호 묶음 개수를 입력하세요
2
1번째 로또번호 모음: [1, 4, 18, 24, 26, 35]
2번째 로또번호 모음: [17, 21, 22, 23, 34, 37]

#### [도전과제] 발표자를 원하는 수만큼 랜덤하게 출력하는 프로그램 작성하기

In [58]:
#함수 정의
import random
import time

def goodluck(n):
    cakd7 = ['박영권','김현지','김덕현','변서연','한지웅','양주희','이호원','정지은',
         '이정현A','이정현B','이명진','이상윤','조승현','강유한','김영선','최애림',
         '김민섭','박혜린','윤정준','김진형','정승기','진청아','신창훈','김병석','박세희']
    
    r_s=random.sample(cakd7,n)
    for i in range(n):
        time.sleep(1)
        print(f'{i+1}번째 발표자는 "{r_s[i]}"님 입니다.')

In [59]:
#프로그래밍

n=int(input('>>발표자 수를 입력하세요.\n'))
goodluck(n)

>>발표자 수를 입력하세요.
1
1번째 발표자는 "이호원"님 입니다.

In [64]:
import random
import time

cakd7 = ['김현지','변서연','양주희','정지은','이정현A','이정현B','이명진','김영선','최애림','박혜린','진청아','박세희']


for i in range(4):
    r_s=random.sample(cakd7,3)
    time.sleep(2)
    print(f'{i+1}조 조원: {r_s}')
    for j in r_s:
        cakd7.remove(j)

1조 조원: ['박혜린', '진청아', '정지은']
2조 조원: ['이정현B', '변서연', '이정현A']
3조 조원: ['김영선', '김현지', '박세희']
4조 조원: ['양주희', '최애림', '이명진']

# 07/14

#### Q3.입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요. ex) abc->bca

In [31]:
#다음문자를 출력하는 함수

def next_text(x):
    return x[-1]+x[:-1]

In [32]:
x=input('>>문자를 입력하세요.\n')
print('\n')
next_text(x)

>>문자를 입력하세요.
가나다라

'라가나다'

In [5]:
#문자를 반대로 출력해주는 함수

def change(x):
    r_idx_x=sorted(list(range(len(x))),reverse=True)
    for r_idx in r_idx_x:
        print(x[r_idx],end='')

In [6]:
x=input('>>문자를 입력하세요. 반대로 출력해드립니다.\n')

change(x)

>>문자를 입력하세요. 반대로 출력해드립니다.문자를 반대로
로대반 를자문

#### Q4.url에서 호스트 도메인을 추출하여 출력하세요.
- url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
- 호스트 도메인: news.naver.com

In [22]:
import re

url='http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [24]:
url.split('/')[2]

'news.naver.com'

In [54]:
#findall로 찾기
p=re.compile('http://([\w.]+)')
p.findall(url)

['news.naver.com']

In [58]:
#finditer로 찾기

for i in p.finditer(url):
    print(i.group(1))

news.naver.com

In [60]:
#search로 찾기

p.search(url).group(1)

'news.naver.com'

In [63]:
#match로 찾기

p.match(url).group(1)

'news.naver.com'

In [65]:
p2=re.compile('(?<=http://)(\w+)(?=/)')
p2.findall(url)

[]

#### Q5. url에서 쿼리문을 출력하기

- url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로  구분되어 나열된다.
- url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [7]:
import re

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

p=re.compile('[\w./:]+[?]([\w./:=&]+)')


query=p.search(url).group(1).split('&')

for i in range(len(query)):
    print(f'{i+1}번째 쿼리문자열: {query[i]}')

1번째 쿼리문자열: mode=LSD
2번째 쿼리문자열: mid=shm
3번째 쿼리문자열: sid1=105
4번째 쿼리문자열: oid=028
5번째 쿼리문자열: aid=0002334601

#### Q6. 텍스트 파일(mydata.txt)을 읽고  파일의 내용에서 나타나는 문자들에 대해 자주 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
- \[ \] -> [177]회 나타남
- [e] -> [97]회 나타남
- [t] -> [85]회 나타남

In [30]:
def text_contents(filename):
    with open(filename, 'r') as f:
        contents=f.read()
        fa={}
        for text in contents:
            if text in fa:
                fa[text]+=1
            else:
                fa[text]=1
        return fa

dictionary=text_contents('dataset/mydata.txt').items()
dictionary=sorted(dictionary, key=lambda x: x[1], reverse=True)
dictionary

for k,v in dictionary:
    if k=='\n':
        pass
    else:
        print(f'[{k}] -> {v}개')

[ ] -> 177개
[e] -> 97개
[t] -> 85개
[a] -> 78개
[o] -> 73개
[n] -> 60개
[s] -> 60개
[r] -> 54개
[i] -> 50개
[h] -> 48개
[l] -> 34개
[u] -> 27개
[d] -> 24개
[c] -> 23개
[w] -> 20개
[m] -> 20개
[f] -> 17개
[y] -> 15개
[p] -> 15개
[b] -> 13개
[g] -> 11개
[v] -> 9개
['] -> 8개
[k] -> 7개
[!] -> 2개

## 07/18

#### Q7. 두 개의 수를 입력한 후 두 개의 수에 대한 사칙연산을 수행하세요. (0을 입력한 경우 다시 입력하도록 조치)

In [1]:
# Cal4 클래스 만들어서 작성

class Cal4():
    def __init__(self, num1, num2):
        self.num1=num1
        self.num2=num2
        
    def add(self):
        return self.num1+self.num2
    
    def sub(self):
        return self.num1+self.num2
    
    def div(self):
        return self.num1/self.num2
    
    def mul(self):
        return self.num1*self.num2
    
while True:
    digits=input('>> 사칙연산을 수행할 숫자 두 개를 입력하세요\nex) 4,5\n')
    
    if digits[0]=='0' or digits[1]==0:
        print('>> 경고!!!!!! 0이 아닌 숫자를 두 개를 입력해주세요!!!')
        continue
        
    else:
        digit=digits.split(',')
        c=Cal4(int(digit[0]),int(digit[1]))
        
        print('*'*50)
        print('''
        1. 덧셈
        2. 뺄셈
        3. 나눗셈
        4. 곱셈
        ''')
        print('*'*50)
        
        cal=input('>> 수행하고 싶은 사칙연산을 고르세요.\n')
        if cal=='1':
            print(c.add())
        elif cal=='2':
            print(c.sub())
        elif cal=='3':
            print(c.div())
        elif cal=='4':
            print(c.mul())
        break

>> 사칙연산을 수행할 숫자 두 개를 입력하세요
ex) 4,5
4,5
**************************************************

        1. 덧셈
        2. 뺄셈
        3. 나눗셈
        4. 곱셈

**************************************************
>> 수행하고 싶은 사칙연산을 고르세요.
2
9

#### Q8. Order 클래스를 상속받아 extraOrder 클래스에서 메서드 오버라이딩하여 출력가격에 원이 추가되도록 출력하세요.

In [4]:
class Order: 
    def __init__(self, name): 
        self.customer = 0 
        self.name = name 
        
    def order(self, price): 
        self.customer += price 
        return self.customer

order=Order('kevin')
print(order.order(1000))


class ExtraOrder(Order):
    def __init__(self,name):
        super().__init__(self)
        
    def order(self, price):   
        super().order(price)
#         self.customer += price 
        return f'{self.customer}원'

1000

In [5]:
order=ExtraOrder('kevin')
order.order(1000)

'1000원'

#### Q9. 업무미팅이 2시임을 알려주는 자동 이메일 클래스 AutoEmail을 작성하여 아래와 같이 출력하세요.
-안녕하세요. Kevin님, 업무미팅은 2시입니다.

In [86]:
import time
from datetime import datetime 

while True:
    time.sleep(1)
    now_time=datetime.now()
    now_hours=now_time.hour
    now_minutes=now_time.minute
    if (now_hours==13) & (now_minutes==50):
        print('안녕하세요. Kevin님, 업무미팅은 2시입니다.')
        break

안녕하세요. Kevin님, 업무미팅은 2시입니다.

In [12]:
import time
from datetime import datetime 

class AutoEmail:
    def __init__(self,task,name,time):
        self.task=task
        self.name=name
        self.time=time
    def alarm(self):
        if datetime.now().hour==self.time:
            print(f'{self.name}님, 업무미팅이 진행중입니다.')
        else:
            print(f'{self.name}님, {self.time}시에 {self.task}이 존재합니다.')

In [13]:
a=AutoEmail('점심약속','애림',13)
a.alarm()

애림님, 13시에 점심약속이 존재합니다.

## 07/19

#### Q10. 정규표현식을 사용하여 text에서 전화번호만 출력하세요.

text="문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."

In [19]:
import re

text="문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."

In [20]:
#search활용

p=re.compile('\d+[-]\d+[-]\d+')
p.search(text).group()

'032-232-3245'

In [26]:
#finditer 활용

p=re.compile('\d+[-]\d+[-]\d+')
for i in p.finditer(text):
    print(i.group())

032-232-3245

In [32]:
#findall 활용
p=re.compile('\d+[-]\d+[-]\d+')
p.findall(text)

['032-232-3245']

#### Q11. 정규표현식을 사용하여 text 에서 에러가 들어간 부분만 포함하는 리스트 출력하세요.

text="에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx"

In [17]:
import re

text="에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx"

p=re.compile('[에러][\s\w]+')
p.findall(text)

['에러 1122', '에러 1033', '에러 xxx']

#### Q12. 정규표현식을 사용하여 text 에서 지역코드만 출력하세요

text="문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."

In [34]:
import re

text="문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."

In [39]:
#search 활용

p=re.compile('\d+')
p.search(text).group()

'032'

In [55]:
#finditer 활용

p=re.compile('\d+')

li=[]
for i in p.finditer(text):
    li.append(i.group())
print(li[0])

032

In [56]:
#findall 활용

p=re.compile('\d+')
p.findall(text)[0]

'032'

#### Q13. 정규표현식을 사용하여 text 에서 지역코드를 제외한 번호만 출력하세요

text="문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."

In [124]:
text="문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."

In [131]:
#findall 활용

p=re.compile('-([\d]+)')
p.findall(text)

['232', '3245']

#### Q14. 'abcdefghij'에 대해 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e를 출력하세요.

In [112]:
text='abcdefghij'
p=re.compile('(\w(\w(\w(\w(\w)\w)\w)\w)\w)')

In [66]:
#search 활용

s=p.search(text)
s.group(1), s.group(5)

('abcdefghi', 'e')

In [68]:
#match 활용

m=p.match(text)
m.group(1),m.group(5)

('abcdefghi', 'e')

In [82]:
#findall 활용

f=p.findall(text)
f[0][0],f[0][4]

('abcdefghi', 'e')

#### Q15. 위 문제에서 모든 서브 그룹에 대한 문자열을 포함하는 튜플을 출력하세요.

In [ ]:
text='abcdefghij'
p=re.compile('(\w(\w(\w(\w(\w)\w)\w)\w)\w)')

In [100]:
#findall 활용

f=p.findall(text)
f[0]

('abcdefghi', 'bcdefgh', 'cdefg', 'def', 'e')

#### Q16. 이름으로 그룹을 참조하여 'Lots of punctuation'에서 Lots를 출력하세요.

In [7]:
import re

text='Lots of punctuation'

p=re.compile('(?P<그룹>\w+)\s\w+\s(?P<그룹2>\w+)')
p.search(text).group('그룹')

'Lots'

#### Q17. 'Paris is very very beautiful'에서 'very very'를 출력하기

In [14]:
import re

text='Paris is very very beautiful'

p=re.compile('\w+\s\w+')
p.findall(text)[1]

'very very'

#### Q18. 정규 표현식을 작성하여 아래와 같이 출력하세요.
'1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr'

In [8]:
text='1 apple,5 oranges,3 boys,4 girls;10 army|11 mr'

In [9]:
#findall 활용

p=re.compile('\d \w+')
p.findall(text)

['1 apple', '5 oranges', '3 boys', '4 girls', '0 army', '1 mr']

#### Q19. text에서 'H,h'만 출력하세요.

In [10]:
import re

text='Hello my friend! Life is too short'

p=re.compile('[Hh]')
p.findall(text)

['H', 'h']

#### Q20. text에서 'H,h'만 빼고 출력하세요.

In [11]:
import re

text='Hello my friend! Life is too short'

p=re.compile('[^Hh]')
p.findall(text)

['e',
 'l',
 'l',
 'o',
 ' ',
 'm',
 'y',
 ' ',
 'f',
 'r',
 'i',
 'e',
 'n',
 'd',
 '!',
 ' ',
 'L',
 'i',
 'f',
 'e',
 ' ',
 'i',
 's',
 ' ',
 't',
 'o',
 'o',
 ' ',
 's',
 'o',
 'r',
 't']

# 7/21

#### Q21.  'we are going home'에서 home만 출력하세요.

In [16]:
import re

text='we are going home'

p=re.compile('\w+')
p.findall(text)[-1]

'home'

In [1]:
import re

text='we are going home'

p=re.compile('\w+$')
p.findall(text)

['home']

#### Q22. '199305, 1923A, a93247'에서 '199305'만 출력하세요.

In [28]:
import re

text='199305, 1923A, a93247'

p=re.compile('(\w+)')
p.findall(text)[0]

'199305'

In [2]:
import re

text='199305, 1923A, a93247'

p=re.compile('^\w+')
p.findall(text)

['199305']

#### Q23. '12345abc'에서 'abc'만 출력하세요.

In [29]:
import re

text= '12345abc'
p=re.compile('[a-z]+')
p.search(text).group()

'abc'

#### Q24. 'abc12345Abc'에서 'a'만 출력하세요.

In [30]:
import re

text='abc12345Abc'

p=re.compile('\w')
p.findall(text)[0]

'a'

In [7]:
#숫자가 아닌 것은 공백으로 대체하기

import re

text='12345abc'

re.sub('[^0-9]','',text)

'12345'

#### Q25. 'abc12345Abc'에서 'A'만 출력하세요.

In [31]:
import re

text='abc12345Abc'

p=re.compile('[A-Z]')
p.search(text).group()

'A'

# 7/22

#### Q26. 'Banker'에서 'anker', 'banker123'에서 'banker'를 출력하세요

In [2]:
import re
text='Banker'
text2='banker123'
'''
'anker'
'banker'
'''

"\n'anker'\n'banker'\n"

In [10]:
re.sub('B','',text)

'anker'

In [14]:
re.sub('\d','',text2)

'banker'

#### Q27. 'KOREA 대한민국'에서 '대'만 출력하세요.

In [16]:
import re

text='KOREA 대한민국'

re.search('[가-힣]',text).group()

'대'

#### Q28. 'aaaaBBBcccDDDeee'을 모두 출력하세요.
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'

In [19]:
import re

text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'

re.search('a{4}B{3}c{3}D{3}e{3}',text).group()

'aaaaBBBcccDDDeee'

#### Q29. 아래의 경우에서 \<html>만 출력하세요

pattern = re.compile('<.*>')

print(len(text)) p = pattern.search(text) p.group()

In [20]:
'''
text = "<html><head><title>Title</title></head><body></body></html>'
'''

'\ntext = "<html><head><title>Title</title></head><body></body></html>\'\n'

In [27]:
text = '<html><head><title>Title</title></head><body></body></html>'

pattern = re.compile('<.*>')      # greedy 방식: '.*'
print(len(text)) 
p = pattern.search(text)
p.group()[:6]

59

'<html>'

In [3]:
text = '<html><head><title>Title</title></head><body></body></html>'

pattern = re.compile('<.*?>')     # non-greedy 방식: '.*?'
print(len(text)) 
p = pattern.search(text)
p.group()[:6]

59

'<html>'

#### Q30. '1234a1234'에서  '1', '2', '3', '4'를 모두 출력하세요.

In [21]:
import re

text='1234a1234'

re.findall('\d',text)

['1', '2', '3', '4', '1', '2', '3', '4']

# 07/25

#### Q32. text에서 전체문장 모두 출력하세요.

```
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('.*')
mo = regex.search(text)
print(mo.group())

```

In [1]:
import re

text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"

In [2]:
#방법2
                                      #'.*': 줄바꿈 문자 전까지만 해당
regex = re.compile('.*',re.DOTALL)    #re.DOTALL: dot(.)이 줄바꿈 문자도 포함해서 매치함
mo = regex.search(text)

print(mo.group())

what are you doing?
it is going to be late for school
we need to hurry up

In [ ]:
#방법1

regex = re.compile('(.|\n)*')    #greedy 방식(줄바꿈 포함)
mo = regex.search(text)

print(mo.group())

#### Q33.  text에서 대소문자 구분없이 전체문장을 한 단어씩 모두 출력하세요

In [6]:
import re

text = 'Friend fRiend friEnd FRIEND'

- 모든단어 추출

In [30]:
print(re.search('[\s\w]+',text).group())

Friend fRiend friEnd FRIEND

In [31]:
print(re.search('.*',text).group())

Friend fRiend friEnd FRIEND

In [32]:
print(re.match('[\s\w]+',text).group())

Friend fRiend friEnd FRIEND

- 한 단어씩 추출

In [12]:
p=re.compile('friend*',re.I)

for t in re.findall(p,text):
    print(t)

Friend
fRiend
friEnd
FRIEND

- 한 글자씩 추출

In [34]:
#방법1

words=re.findall('[\w]',text)

for w in words:
    print(w,end=" ")

F r i e n d f R i e n d f r i E n d F R I E N D

In [9]:
#방법2

p=re.compile('[a-z]',re.IGNORECASE)

for i in re.findall(p,text):
    print(i,end=' ')

F r i e n d f R i e n d f r i E n d F R I E N D

#### Q34. 1609160537.371015을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

In [14]:
time=1609160537.371015

In [16]:
#방법1

from datetime import datetime 

date=datetime.fromtimestamp(time)
date.strftime('%c')

'Mon Dec 28 22:02:17 2020'

In [18]:
#방법2
import time

timestring=time.ctime(1609160537.371015)
timestring

'Mon Dec 28 22:02:17 2020'

- ctime() 함수는 주어진 timestamp를 현지 시간대 기준으로 소위 미국에서 흔히 사용되는 요 월 일 시:분:초 년 포멧으로 변환해줍니다. 그냥 간단하게 timestamp가 나타내는 날짜와 시간을 확인해보는 용도로 쓰기에 좋습니다.

In [20]:
#방법3

from datetime import datetime

time = datetime.fromtimestamp(1609160537.371015)
time = time.strftime("%a %b %d %H:%S:%S %Y")
time

'Mon Dec 28 22:17:17 2020'

#### Q35.  현재 날짜와 시간을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

In [44]:
now=datetime.now()

now.strftime('%c')    #Local version의 날짜와 시간

'Mon Jul 25 20:43:26 2022'

# 07/26

#### Q36. 현재 시간을 년-월-일 시:분:초로 출력하세요.

In [31]:
from datetime import datetime 

now = datetime.now()

print(now.strftime('%Y-%m-%d %H:%M:%S'))

2022-07-26 17:38:39

#### Q37. 현재 시간을 time.time을 불러와서 년-월-일 시:분:초로 출력하세요.

In [35]:
import time 
from datetime import datetime 

now = time.time()
now_datetime = datetime.fromtimestamp(now)

print(now_datetime.strftime('%Y-%m-%d %H:%M:%S'))

2022-07-26 17:40:53

#### Q38. 올해 경과된 날짜수 계산하세요

In [64]:
from datetime import datetime 

startday = datetime.strptime('2022-01-01','%Y-%m-%d')
now = datetime.now()

days = now - startday

print(f'올해 경과된 날짜수는 {days.days}일 입니다.')

올해 경과된 날짜수는 206일 입니다.

#### Q39. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

In [119]:
now=datetime.now()

In [120]:
def get_yoil(x):
    n = x.weekday()
    
    date = x.strftime('%Y-%m-%d')
    yoil = ['월요일','화요일','수요일','목요일','금요일','토요일','일요일']
    
    return date, yoil[n]

In [122]:
print(f'{get_yoil(now)[0]} 오늘은 {get_yoil(now)[1]}입니다.')

2022-07-26 오늘은 화요일입니다.

#### Q40. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.

In [1]:
import time 
from datetime import datetime 

n=0

start_time = datetime.now()

for i in range(1000000):
    n += 1
    
end_time = datetime.now()

print(f'{(end_time - start_time).microseconds} 밀리초(ms)')

98789 밀리초(ms)

In [2]:
import time 
from datetime import datetime 

n=0

start_time = datetime.now()

sum(range(1,1000001))
    
end_time = datetime.now()

print(f'{(end_time - start_time).microseconds} 밀리초(ms)')

34861 밀리초(ms)

# 07/27

#### Q41. 아래 코드를 보완하여 발생 가능한 모든 예외(정수, 인덱스, 미리 파악하지 못한 예외)를 처리한 후 마지막에  '모든 예외처리 완료'를 출력하세요.
- list_num = [52,273,32,72,100]

- num_input = int(input('정수 입력> '))
- print(f'{num_input}번째 요소: {list_num[num_input-1]}')

In [13]:
# IndexError: list index out of range
# ValueError: invalid literal for int() with base 10: '2.3'
# ValueError: invalid literal for int() with base 10: '정수'

while True:
    try:
        list_num = [52,273,32,72,100]
        num_input = int(input('정수 입력> '))
        print(f'{num_input}번째 요소: {list_num[num_input-1]}')  

    except:
        if (IndexError):
            print('※ 경고: 정수만 입력해주세요')
            continue
            
        if (ValueError):
            print('※ 경고: -4 ~ 5 사이의 숫자만 입력해주세요.')
            continue

    finally:
        if num_input>=-4 & num_input<=5:
            print('모든 예외처리 완료')
            break

정수 입력> 9
※ 경고: 정수만 입력해주세요
정수 입력> 45
※ 경고: 정수만 입력해주세요
정수 입력> 2
2번째 요소: 273
모든 예외처리 완료

#### Q42. 기본가격 1000원인 2개의 상품에 대하여 임의의 추가 가격을 입력시 가격 조정한 결과를 반환하는 Price 클래스를 생성 후 객체를 만들어 price1, price2를 수행하세요. 
- price1 : 기본가격 + 추가가격
- price2 : (기본가격 + 추가가격) * 90%

In [55]:
#방법1

class Price:
    def __init__(self):
        self.price1 = 1000      
        self.price2 = 1000      
        
    def add(self, n, add):
        self.add = add
        self.n = n
        
        if self.n == 1:
            self.price1 += self.add
            return f'price1의 기본 가격이 "{self.price1}원"으로 변경되었습니다.'
        elif self.n == 2:
            self.price2 += self.add
            self.price2 *= 0.9
            self.price2 = int(self.price2)
            return f'price2의 기본 가격이 "{self.price2}원"으로 변경되었습니다.'

In [56]:
price = Price()
price.add(1,300)

'price1의 기본 가격이 "1300원"으로 변경되었습니다.'

In [57]:
price = Price()
price.add(2,1000)

'price2의 기본 가격이 "1800원"으로 변경되었습니다.'

In [70]:
#방법2

class Price:
    def __init__(self):
        self.price1 = 1000      
        self.price2 = 1000      
        
    def price1_add(self, add):
        self.add = add
        self.price1 += self.add
        return f'price1의 기본 가격이 "{str(self.price1)}원"으로 변경되었습니다.'
    
    def price2_add(self, add):
        self.add = add    
        self.price2 = int((self.price2 + self.add)*0.9)
        return f'price2의 기본 가격이 "{str(self.price2)}원"으로 변경되었습니다.'

In [73]:
price = Price()
price.price1_add(500)

'price1의 기본 가격이 "1500원"으로 변경되었습니다.'

In [74]:
price.price2_add(2000)

'price2의 기본 가격이 "2700원"으로 변경되었습니다.'

#### Q43. strings를 문자의 크기 순서로 내림차순 정렬하세요
- strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']

In [2]:
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']

In [8]:
#방법1

strings.sort(key = lambda x: len(x), reverse=True)
strings

['ababa', 'aaaa', 'bar', 'ca', 'a']

In [9]:
#방법2

strings.sort(key = len)
strings.reverse()
print(strings)

['ababa', 'aaaa', 'bar', 'ca', 'a']

In [10]:
#방법3

strings.sort(key = len, reverse=True)
strings

['ababa', 'aaaa', 'bar', 'ca', 'a']

#### Q44. strings를 다양한 문자가 포함된 순서로 정렬하세요

- strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
- strings.sort(key = lambda x:len(set(x)))
- strings

In [21]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

strings.sort(key = lambda x:len(set(x)), reverse=True)
strings

['card', 'bar', 'foo', 'abab', 'aaaa']

#### Q45. 'abcde' 를 'edcba'로 바꾸어 출력하세요.(5가지 방법)

In [12]:
word='abcde'

In [13]:
#방법1

word[4]+word[3]+word[2]+word[1]+word[0]

'edcba'

In [14]:
#방법2

word[-1]+word[-2]+word[-3]+word[-4]+word[-5]

'edcba'

In [15]:
#방법3

word[-1::-1]

'edcba'

In [16]:
#방법4

word[5::-1]

'edcba'

In [17]:
#방법5

''.join(sorted(word, reverse=True))

'edcba'

# 07/28

#### Q46. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [29]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [34]:
def numbering(x):
    set_x = sorted(list(set(x)))
    
    for i in set_x:
        print(f'입력하신 리스트에 "{i}"가 {x.count(i)}개 존재합니다.')

In [35]:
numbering(numbers)

입력하신 리스트에 "2"가 2개 존재합니다.
입력하신 리스트에 "3"가 4개 존재합니다.
입력하신 리스트에 "4"가 2개 존재합니다.
입력하신 리스트에 "5"가 2개 존재합니다.
입력하신 리스트에 "6"가 2개 존재합니다.
입력하신 리스트에 "7"가 2개 존재합니다.
입력하신 리스트에 "8"가 2개 존재합니다.
입력하신 리스트에 "9"가 2개 존재합니다.

#### Q47. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요

In [ ]:
list = []
for i in range(0,20,2):
    list.append(i*i)
print(list())

In [36]:
print([i for i in range(0,20,2)])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

#### Q48. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

In [43]:
def factorial_1(n):
    y=1
    for i in range(1,n+1):
        y *= i
    return y

In [44]:
factorial_1(5)

120

In [46]:
factorial_1(10)

3628800

#### Q49. 재귀란 '자기자신을 호출하는 것'을 의미한다. 재귀함수를 이용해서 팩토리얼을 구하는 사용자 함수를 작성하고 1!, 5!, 10!를 구하세요.
factorial(n) = n * factorial(n-1) (n >= 1)

In [47]:
def factorial_2(n):
    if n == 1:
        return 1
    return factorial(n-1)*n

In [48]:
factorial_2(1)

1

In [49]:
factorial(5)

120

In [50]:
factorial(10)

3628800

#### Q50. list a의 모든 원소를 실수형으로 바꾸어 출력하세요
a = [1,2,3,4,5]

In [1]:
a = [1,2,3,4,5]

In [2]:
float_a = [ float(i) for i in a ]
float_a

[1.0, 2.0, 3.0, 4.0, 5.0]

In [3]:
for i, j in enumerate(a):
    a[i] = float(j)
a

[1.0, 2.0, 3.0, 4.0, 5.0]

In [4]:
list(map(lambda x: float(x),a))

[1.0, 2.0, 3.0, 4.0, 5.0]

# 07/29

#### Q.31 [도전과제] 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요.

In [18]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
'''
[출력]
['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']
'''

"\n[출력]\n['Alabama',\n 'Georgia',\n 'Georgia',\n 'Georgia',\n 'Florida',\n 'South   Carolina',\n 'West Virginia']\n "

In [39]:
import re
def cleaning(x):
    cleaned_data = []
    for i in x:
        i = re.search('[a-zA-Z\s]+',i).group()        # 문자, 공백으로 이루어진 부분 찾기
        i = i.strip()                             # 양 옆 공백 제거
        i = i.lower().title()                     # 소문자화-> 단어 첫글자만 대문자화
        cleaned_data.append(i)
    return cleaned_data

In [40]:
cleaning(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

#### Q51. 게시물의 총 건수와 한 페이지에 보여 줄 게시물 수를 입력시 총 페이지 수를 출력하는 프로그램

인자:게시물의 총 건수,한 페이지에 보여 줄 게시물 수

In [61]:
def page_num(all_n, one_n):
    return all_n // one_n +1

In [69]:
x =input('>> 원하시는 게시물의 총 건수와 한 페이지에 보여줄 게시물 수를 출력해주세요.\nex)10,4\n')

all_n = int(x.split(',')[0])
one_n = int(x.split(',')[1])

p = page_num(all_n, one_n)
print('\n총 페이지 수: '+str(p)+'p')

>> 원하시는 게시물의 총 건수와 한 페이지에 보여줄 게시물 수를 출력해주세요.
ex)10,4
28,9

총 페이지 수: 4p

#### Q52. 랜덤하게 1000명의 이름, 키와 몸무게 만들어 저장한 후 다시 불러내어 다음과 같이 출력하세요.

- 이름 :라바
- 몸무게: 80
- 키: 146
- BMI: 37.53049352598987
- 결과: 과체중

In [59]:
import random
import numpy as np
import pandas as pd

word = '김이박최정윤황'
word2 = '가나다라마바사아자차카타파하개내대래매배새애재채캐태패해기니디리미비시이지치키티피히구누두루무부수우주추쿠투푸후'

#이름 랜덤 생성
name = []
for w in range(1000):
    last_name = random.choice([i for i in word])
    first_name = random.sample([i for i in word2],2)
    full_name = last_name + ''.join(first_name)
    name.append(full_name)
    
#몸무게 랜덤 생성
weight = np.random.randint(40, 120, size = 1000)

#키 랜덤 생성
height = np.random.randint(140, 190, size = 1000)

#기본 정보로 데이터프레임 생성
df = pd.DataFrame(columns = ['Name','Weight','Height'])
df['Name'] = name
df['Weight'] = weight
df['Height'] = height

#BMI 컬럼 생성
df['BMI'] = round(df['Weight']/(df['Height']/100*df['Height']/100),2)

#비만도 컬럼 생성
result = []
for i in df['BMI']:
    if i <= 18.5:
        res = '저체중'
    elif i < 23:
        res = '정상'
    elif i < 25:
        res = '과체중'
    else:
        res = '비만'
    result.append(res)
df['Result'] = result

df.head(10)

  Name  Weight  Height    BMI Result
0  정이매      77     187  22.02     정상
1  박투히      67     162  25.53     비만
2  이아사      70     189  19.60     정상
3  최자구      50     162  19.05     정상
4  윤다기      57     165  20.94     정상
5  이부라      94     152  40.69     비만
6  황아매      68     157  27.59     비만
7  최후채      65     161  25.08     비만
8  이바지      57     149  25.67     비만
9  김리차      47     142  23.31    과체중

# 08/01

#### Q53.입력한 숫자를 천 단위로 구분하여 출력하세요

In [1]:
def thousand(n):
    return f'{n:,}'

In [2]:
thousand(4512145878)

'4,512,145,878'

#### Q54. 카운터에서 거스름돈으로 사용할 500원,100원,50원,10원짜리 동전이 무한히 존재한다고 가정한다. 손님에게 거슬러 줘야할 돈이 N원일 때, 거슬러 줘야할 동전의 최소 개수를 구하세요. 단, 거슬러 줘야할 돈 N원은 항상 10의 배수이다. N은 2750원이다.

In [8]:
#방법1

def change(price):
    c1 = price//500
    c2 = (price - 500*c1) // 100
    c3 = (price - 500*c1 - 100*c2) //50
    c4 = (price - 500*c1 - 100*c2 - 50*c3)//10
    print('*****거스름돈*****\n- 500원: '+str(c1)+'개\n- 100원: '+str(c2)+'개\n-  50원: '+str(c3)+'개\n-  10원: '+str(c4)+'개')

In [15]:
change(5360)

*****거스름돈*****
- 500원: 10개
- 100원: 3개
-  50원: 1개
-  10원: 1개

In [7]:
#방법2

def change(n):
    n500, n100 = divmod(n,500)
    n100, n50 = divmod(n100,100)
    n50, n10 = divmod(n50,50)
    n10, n = divmod(n10,10)
    
    print('*****거스름돈*****\n- 500원: '+str(n500)+'개\n- 100원: '+str(n100)+'개\n-  50원: '+str(n50)+'개\n-  10원: '+str(n10)+'개')

In [6]:
change(5360)

*****거스름돈*****
- 500원: 10개
- 100원: 3개
-  50원: 1개
-  10원: 1개

In [11]:
#방법3

n = 2750
count = 0

# 큰 단위의 화폐부터 차례대로 확인하기
coin_types = [500, 100, 50, 10]

for coin in coin_types:
    count += n // coin # 해당 화폐로 거슬러 줄 수 있는 동전의 개수 세기
    n %= coin

print(count)

8

# 08/02

#### Q55. dataset/mydata.txt 파일에 있는 단어 개수를 출력하세요.

In [55]:
import re

with open('dataset/mydata.txt','r') as fr:
    mydata = fr.readlines()
    mydata = ' '.join(mydata)
    mydata = re.sub('\s{1,}',' ',mydata)
    mydata_list = re.findall('[\w\']+', mydata)
# print(mydata_list)
print('총 단어의 개수: '+ str(len([i for i in mydata_list])) + '개')

총 단어의 개수: 213개

In [5]:
import re
with open('dataset/mydata.txt','r') as fr:
    mydata = fr.read()
    mydata = re.sub('\s{1,}',' ',mydata)
    mydata_list = re.findall('[\w\']+', mydata)
print('총 단어의 개수: '+ str(len([i for i in mydata_list])) + '개')

총 단어의 개수: 213개

In [9]:
with open('dataset/mydata.txt','r') as fr:
    mydata = fr.read()
    mydata = re.sub('\s{1,}',' ',mydata)
    mydata_list = re.findall('[\w\']+', mydata)
    mydata_word = []
    for i in mydata_list:
        try:
            if len(re.search('[\'](\w+)',i).group(1)) > 0:
                print(i)
                if i[-1] == 't':
                    if i == "won't":
                        mydata_word.append('will','not')
                    elif i == "don't":
                        mydat_word.append('do','not')
                else:
                    mydata_word.append(i.split("'")[0])
                    if i.split("'")[1] == 've':
                        mydata_word.append('have')
                    elif i.split("'")[1] == 's':
                        mydata_word.append('is')
                    elif i.split("'")[1]  == 're':
                        mydata_word.append('are')
        except:
            mydata_word.append(i)
# print(mydata_word)
print('총 단어의 개수: '+ str(len(mydata_word)) + '개')

we've
there's
won't
don't
you're
it's
it's
it's
총 단어의 개수: 219개

#### Q56. 파일이름과 특정 단어를인자로 입력하면 그 파일에 있는 특정 단어의 개수를 반환하는 사용자 함수를 이용하여 mydata 파일에서 how의 개수를 출력하세요.

In [52]:
def word_count(word):
    with open('dataset/mydata.txt','r') as fr:
        mydata = fr.readlines()
        mydata = ' '.join(mydata)
        mydata = re.sub('\s{1,}',' ',mydata)
        mydata_list = re.findall('[\w\']+', mydata)
        cnt = mydata_list.count(word)
        
    print(f'단어 "{word}"의 개수: {cnt}개')

In [53]:
word_count('how')

단어 "how"의 개수: 2개

In [15]:
def word_count(filename ,word):
    with open('dataset/'+filename,'r') as fr:
        mydata = fr.read()
        mydata = re.sub('\s{1,}',' ',mydata)
        mydata_list = re.findall('[\w\']+', mydata)
        
    mydata_word = []
    for i in mydata_list:
        try:
            if len(re.search('[\'](\w+)',i).group(1)) >= 1:
#                 print(i)
                if i[-1] == 't':
                    if i == "won't":
                        mydata_word.append('will','not')
                    elif i == "don't":
                        mydat_word.append('do','not')
                else:
                    mydata_word.append(i.split("'")[0])
                    if i.split("'")[1] == 've':
                        mydata_word.append('have')
                    elif i.split("'")[1] == 's':
                        mydata_word.append('is')
                    elif i.split("'")[1]  == 're':
                        mydata_word.append('are')
        except:
            mydata_word.append(i)
            
    cnt = mydata_word.count(word)

    print(f'단어 "{word}"의 개수: {cnt}개')

In [16]:
word_count('mydata.txt','how')

단어 "how"의 개수: 2개

In [19]:
def countWord(filename, word):
    word = word.lower()
    with open(filename, 'r') as f:
        text = f.read()
        text = text.lower()
        pos = text.find(word)
        count = 0
        while pos != -1:
            count += 1
            pos = text.find(word, pos+1)
    return count

# 08/03

#### Q57. 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하세요.
- 예) "aaabbcccccca" -> a3b2c6a1

In [25]:
#전체 문자에 대해서

word = input('>>문자를 입력하세요 ')
word_set = set(word)

w_c = ''
if len(word_set) > 1:
    for i in word_set:
        word_name = i
        word_cnt = str(word.count(i))
        w_c += (word_name + word_cnt)
print(w_c)

>>문자를 입력하세요 aasnafsdddd
a3d4n1s2f1

In [1]:
#방법1

word = input('<<문자를 입력하세요.\n')
word_cnt =''

for i in range(len(word)):
    if i == 0:
        word_cnt = word[i]
        cnt = 1
    elif word_cnt[-1] == word[i]:
        cnt += 1
    elif word_cnt[-1] != word[i]:
        word_cnt += str(cnt) + word[i]
        cnt = 1
    if i == len(word)-1:
        word_cnt += str(cnt)
        
print(word_cnt)

<<문자를 입력하세요.
aaabbcccccca
a3b2c6a1

In [ ]:
#방법2

word = input('>>문자를 입력하세요.\n')

w = word[0]

In [8]:
#방법3

from itertools import groupby

t = 'aaaabbbccccdda'

print("".join(f'{x}{list(y)}' for x, y in  groupby(t)))

print("".join(f'{x}{len(list(y))}' for x, y in  groupby(t)))

a['a', 'a', 'a', 'a']b['b', 'b', 'b']c['c', 'c', 'c', 'c']d['d', 'd']a['a']
a4b3c4d2a1

# 08/04

#### Q58. N개의 요소로 이루어진 배열이 있을 때 주어진 수들을 M번 더하여 가장 큰 수를 만드는 프로그램을 작성하세요. 단 배열의 특정한 인덱스(번호)에 해당하는 수가 K번을 초과하여 더해질 수 없는 것이 특징이다.
프로그램은 다음 조건을 만족하는 N, M, K를 공백으로 일차 입력하고 N개의 배열을 공백으로 이차 입력하면 결과물을 출력하는 방식으로 수행함.
- 2 <= N <= 1000
- 1 <= M <= 10000
- 1 <= K <= 10000

1. input('배열 요소로 이루어진 개수' '가장 큰 수가 되게 요소들을 총 M번 더하도록 함' '대신 한 요소당 k번이 최대로 더할 수 있음' )
2. input(배열 요소 입력)
3. 제일 큰 수를 더할 수 있는 제한이 k번

In [41]:
#함수 지정: for문, if문 포함
def array_max(n,m,k, arr):
    total = 0
    while True:
        for i in range(k):
            arr_max = arr.max()    #제일 큰 수를 찾아서 k번 더하기
            total += arr_max       
        idx = np.where(arr==arr_max)  #제일 큰 수의 배열 속 인덱스 찾기
        arr = np.delete(arr,idx)      #제일 큰 수 삭제
        m -= k                #남아있는 덧셈 횟수 조정
    
        if m < k:             #남아있는 덧셈 횟수가 최대 덧셈횟수보다 작은 경우
            for i in range(m):
                arr_max = arr.max()
                total += arr_max     #제일 큰 수를 남아있는 횟수 만큼 더하기
            break                  #그럼 끝
    return f'요소당 최대 덧셈 횟수가 {k}번, 총 덧셈 횟수가 {m}번 일 때, 주어진 배열을 가지고 만들 수 있는 최대값은 {total}입니다.'

In [30]:
#함수 지정: for문, if문 포함2
def array_max(n,m,k, arr):
    total = 0
    x,y = divmod(m,k)
    for i in range(x):
        arr_max = arr.max()    #제일 큰 수를 찾아서 k번 더하기
        total += arr_max*k       
        idx = np.where(arr==arr_max)  #제일 큰 수의 배열 속 인덱스 찾기
        arr = np.delete(arr,idx)      #제일 큰 수 삭제
        
        if i == x-1: 
            arr_max = arr.max()
            total += arr_max*y    #제일 큰 수를 남아있는 횟수 만큼 더하기

    return f'요소당 최대 덧셈 횟수가 {k}번, 총 덧셈 횟수가 {m}번 일 때, 주어진 배열을 가지고 만들 수 있는 최대값은 {total}입니다.'

In [50]:
#함수 지정: for문, if문 미포함

def array_max(n,m,k,arr):
    arr = sorted(arr, reverse = True)
    x, y = divmod(m,k)
    
    if y == 0:
        total = total = sum(arr[:x])*k
    else:
        total = sum(arr[:x])*k + arr[x]*y
    
    return f'요소당 최대 덧셈 횟수가 {k}번, 총 덧셈 횟수가 {m}번 일 때, 주어진 배열을 가지고 만들 수 있는 최대값은 {total}입니다.'

In [51]:
import numpy as np

#함수 인자값을 제대로 받을 때까지 돌리자
while True:     
    x = input('>> 배열 요소의 수, 덧셈할 횟수, 최대 덧셈이 가능한 횟수를 공백으로 분리하여 입력하세요.\n')
    n = int(x.split(' ')[0])
    m = int(x.split(' ')[1])
    k = int(x.split(' ')[2])
    
    if n <= m//k and m % k >= 1:       
        print(f'※경고: 배열 요소의 수를 {m//k+1} 이상의 값으로 입력해주세요')      
        continue
    else:
        break
        
        
#배열 요소값을 제대로 받을 때까지 돌리자
while True:     
    y = input('>> 배열의 요소를 공백으로 분리하여 입력하세요.\n')
    arr = np.array([int(i) for i in y.split(' ')])

    
    if len(arr) != n:    #배열 요소의 개수가 입력값과 다른 경우
        print(f'※경고: 배열 요소의 수를 {n}개가 되도록 입력해주세요')
        continue    
    
    #배열 요소의 개수가 입력값과 같은 경우 
    elif len(set(arr)) == m//k and m%k > 0:   #고유 요소 개수가 총 덧셈 횟수를 최대 덧셈 횟수로 나눴을 때와 같은 경우
            print(f'※경고: 고유한 요소가 {m//k+1}개 이상 되도록 입력해주세요.')
            continue
    elif len(set(arr)) < m//k:  #고유 요소 개수가 총 덧셈 횟수를 최대 덧셈 횟수로 나눴을 때보다 작은 경우
        if m%k >= 1: 
            print(f'※경고: 고유한 요소가 {m//k+1}개 이상 되도록 입력해주세요.')
            continue
        elif m%k == 0: 
            print(f'※경고: 고유한 요소가 {m//k}개 이상 되도록 입력해주세요.')
            continue
    else:
        break

array_max(n,m,k,arr)

>> 배열 요소의 수, 덧셈할 횟수, 최대 덧셈이 가능한 횟수를 공백으로 분리하여 입력하세요.
2 10 5
>> 배열의 요소를 공백으로 분리하여 입력하세요.
1 2

'요소당 최대 덧셈 횟수가 5번, 총 덧셈 횟수가 10번 일 때, 주어진 배열을 가지고 만들 수 있는 최대값은 15입니다.'

#### Q58. N개의 요소로 이루어진 배열이 있을 때 주어진 수들을 M번 더하여 가장 큰 수를 만드는 프로그램을 작성하세요. 단 배열의 특정한 인덱스(번호)에 해당하는 수가 연속해서 K번을 초과하여 더해질 수 없는 것이 특징이다.
프로그램은 다음 조건을 만족하는 N, M, K를 공백으로 일차 입력하고 N개의 배열을 공백으로 이차 입력하면 결과물을 출력하는 방식으로 수행함.
- 2 <= N <= 1000
- 1 <= M <= 10000
- 1 <= K <= 10000

In [ ]:
# N, M, K를 공백을 기준으로 구분하여 입력 받기
n, m, k = map(int, input().split())
# N개의 수를 공백을 기준으로 구분하여 입력 받기
data = list(map(int, input().split()))

data.sort() # 입력 받은 수들 정렬하기
first = data[n - 1] # 가장 큰 수
second = data[n - 2] # 두 번째로 큰 수

# 가장 큰 수가 더해지는 횟수 계산
count = m // (k + 1) * k
count += m % (k + 1)

result = 0
result += (count) * first # 가장 큰 수 더하기
result += (m - count) * second # 두 번째로 큰 수 더하기

print(result) # 최종 답안 출력

# 08/05

#### Q61. file1, 2의 파일 크기를 각각 구하세요.

- file1 = 'data/stockcode.txt'
- file2 = 'data/img_sample.jpg'

In [21]:
from pathlib import Path

Path(r'C:/cakd7/강의/m1_programming/dataset/stockcode.txt').stat()

os.stat_result(st_mode=33206, st_ino=13229323905746951, st_dev=2550895225, st_nlink=1, st_uid=0, st_gid=0, st_size=16339, st_atime=1659914591, st_mtime=1659660150, st_ctime=1659660150)

- st_mode: 파일 유형 및 파일 모드 비트(권한)
- st_ino: 윈도우에서 파일 인덱스를 나타냄
- st_dev: 파일이 있는 장치의 식별자를 나타냄
- st_nlink: 하드 링크의 수를 나타냄
- st_uid: 파일 소유자의 사용자 식별자를 나타냄
- st_gid: 파일 소유자의 그룹 식별자를 나타냄
- st_atime: 최근 액세스한 시간(초단위)
- st_mtime: 최근 컨텐츠를 수정한 시간
- st_ctime:  윈도우에서는 생성시간을 타나냄

In [18]:
#방법1

from pathlib import Path


file_size = Path(r'C:/cakd7/강의/m1_programming/dataset/stockcode.txt').stat().st_size
print(f'stockcode.txt의 파일크기는 {file_size: ,} 바이트 입니다.')

file_size2 = Path(r'C:/cakd7/강의/m1_programming/dataset/img_sample.jpg').stat().st_size
print(f'img_sample.jpg의 파일크기는 {file_size2: ,} 바이트 입니다.')

stockcode.txt의 파일크기는  16,339 바이트 입니다.
img_sample.jpg의 파일크기는  170,005 바이트 입니다.

In [19]:
#방법2

import os

file_size = os.path.getsize('C:/cakd7/강의/m1_programming/dataset/stockcode.txt')
print(f'stockcode.txt의 파일크기는 {file_size: ,} 바이트 입니다.')

file_size2 = os.path.getsize('C:/cakd7/강의/m1_programming/dataset/img_sample.jpg')
print(f'img_sample.jpg의 파일크기는 {file_size2:,} 바이트 입니다.')

stockcode.txt의 파일크기는  16,339 바이트 입니다.
img_sample.jpg의 파일크기는 170,005 바이트 입니다.

In [20]:
#방법3

import os

file_size = os.stat(r'C:/cakd7/강의/m1_programming/dataset/stockcode.txt').st_size
print(f'stockcode.txt의 파일크기는 {file_size: ,} 바이트 입니다.')

file_size2 = os.stat(r'C:/cakd7/강의/m1_programming/dataset/img_sample.jpg').st_size
print(f'img_sample.jpg의 파일크기는 {file_size2: ,} 바이트 입니다.')

stockcode.txt의 파일크기는  16,339 바이트 입니다.
img_sample.jpg의 파일크기는  170,005 바이트 입니다.

#### Q62.stockcode.txt의 105바이트 위치에서 500바이트를 읽어 그 내용은 stock_part.txt에 저장 한 후 출력하세요.

In [10]:
with open('C:/cakd7/강의/m1_programming/dataset/stockcode.txt','rb') as fr:                    #바이트 타입으로 읽기
    with open('stock_part.txt','wb') as fw:            #바이트 타입으로 쓰기
        fr.seek(105)     #105바이트에 위치하는 곳에 커서 이동
        fw.write(fr.read(500))     #500글자만 읽어서 쓰도록
        print(fr.tell())        #현재 커서가 위치하는 곳

605

In [11]:
#500바이트가 맞는지 확인
import os

os.stat(r'stock_part.txt').st_size

500

In [12]:
#내용 확인

with open('stock_part.txt', 'r') as fr:
    print(fr.read())

 유한양행
000101 유한양행우
000120 대한통운
000140 하이트홀딩스
000141 하이트홀딩스우
000150 두산
000151 두산우
000152 두산2우B
000180 성창기업지주
000210 대림산업
000211 대림산업우
000220 유유제약
000221 유유제약1우
000222 유유제약2우B
000230 일동제약
000240 한국타이어
000270 기아차
000300 대유신소재
000320 디피아이홀딩스
000321 디피아이홀딩스우
000322 디피아이홀딩스2B
000360 삼환기업
000361 삼환기업우
000370 한화손해보험
000390 삼화페인트
000400 롯데손해보험
000420 로

#### Q63.네이버 검색에서 관심 주제와 기사 수를 입력하면 그만큼 출력하는 크롤링 프로그램을 작성하여 다음 사항을 수행하세요.

기사 제목과 링크를 데이터프레임으로 가져온 후 본문 내용에서 한글 단어만 출력하여 형태소 분석
최근 국내 'AI'와 관련하여 가장 많이 언급되는 단어에 대한 빈도분석 및 시각화
AI 분야에서의 유의할 만한 트랜드 정보 및 인사이트 도출

In [1]:
import requests
import urllib
from bs4 import BeautifulSoup as BS
import pandas as pd

# 페이지 구조
## 1p-> '&start=01'
## 2p-> '&start=11'
## 3p-> '&start=21'

In [20]:
query = input('> 검색 키워드를 입력해주세요\n')
n = int(input('> 필요한 뉴스기사 수를 입력해주세요\n'))

# 검색어를 문자 -> 퍼센트 인코딩
url='https://search.naver.com/search.naver?where=news&sm=tab_jum&query='
query = urllib.parse.quote(query)     


#### 한 페이지당 기사가 10개씩 존재함

ten_n, one_n = divmod( n, 10)
if one_n !=0:
    ten_n += 1
    
# ten_n = n // 10 +1    #### ex) 35개의 뉴스 타이틀을 긁어오기 위해 4페이지의 5번째까지 긁어와야함
# one_n = n % 10


news_title = []
news_url=[]

for i in range(ten_n):
    
    #크롤링할 url 지정
    query_url = url+query+'&start='+str(i)+'1'
    
    #페이지 소스 크롤링
    res = requests.get(query_url)
    html = res.content
    bs = BS(html, 'html.parser')
    
    #마지막 페이지 소스 크롤링 개수 제한
    if i == (ten_n-1):
        a_url = bs.find_all('a', class_='news_tit', limit = one_n)
    else:
        a_url = bs.find_all('a', class_='news_tit')
        
    for a in a_url:
        news_title.append(a.text)
        news_url.append(a.get('href'))
        
#데이터프레임 만들기
news_df = pd.DataFrame(columns = ['title', 'url'])
news_df['title'] = news_title
news_df['url'] = news_url
#     news_df['descriptions'] = description
 
news_df.index =  news_df.index +1
news_df

> 검색 키워드를 입력해주세요
ai
> 필요한 뉴스기사 수를 입력해주세요
10

,title,url
1,"카카오벤처스 ""AI 임상시험 분석기업 액트노바에 시드투자""",https://www.yna.co.kr/view/AKR2022080903130001...
2,"충북도, AI영재고 카이스트 산하 고교로 설립 추진",https://www.wikitree.co.kr/articles/778793
3,"KT·서울성모병원, 당뇨 관리 돕는 AI 기술 개발",https://biz.chosun.com/it-science/ict/2022/08/...
4,삼성전자 ‘AI 챌린지’,https://www.chosun.com/economy/tech_it/2022/08...
5,"삼성전자, AI인재 키워 반도체·디스플레이 연구한다",https://zdnet.co.kr/view/?no=20220807083406
6,'2022 스마트농업 AI 경진대회' 개최,http://www.aflnews.co.kr/news/articleView.html...
7,"코트라, 'AI 활용'…중견기업 ESG 모니터링 지원",http://www.edaily.co.kr/news/newspath.asp?news...
8,"빅데이터·AI 기술로 교통사고 막는다… 도로교통공단, 위험도로예측 서비스 ...",https://www.donga.com/news/article/all/2022080...
9,"영남중·대구고 SW동아리, MS 주최 AI 경진대회 수상",https://www.pressian.com/pages/articles/202208...
10,"""AI로 기초학력 진단·혁신학교 재구조화""...경기교육감직 인수위, 백서발간",http://www.newsis.com/view/?id=NISX20220808_00...

In [21]:
for i in news_df['url']:
    print(i)

https://www.yna.co.kr/view/AKR20220809031300017?input=1195m
https://www.wikitree.co.kr/articles/778793
https://biz.chosun.com/it-science/ict/2022/08/08/ZVJ4ORCNU5CJZANJYPPPWUJXRU/?utm_source=naver&utm_medium=original&utm_campaign=biz
https://www.chosun.com/economy/tech_it/2022/08/08/QS27D46LSVEMFG7MLMIM2AEKHY/?utm_source=naver&utm_medium=referral&utm_campaign=naver-news
https://zdnet.co.kr/view/?no=20220807083406
http://www.aflnews.co.kr/news/articleView.html?idxno=231192
http://www.edaily.co.kr/news/newspath.asp?newsid=02296006632425352
https://www.donga.com/news/article/all/20220808/114864381/2
https://www.pressian.com/pages/articles/2022080810481739873?utm_source=naver&utm_medium=search
http://www.newsis.com/view/?id=NISX20220808_0001971313&cID=10803&pID=14000

In [ ]:
#         p = ' '.join(p)
#         #기자, 언론사 관련 내용 삭제
#         p = re.sub('\w+ 기자','',p)       #기자님 성함 삭제
#         p = re.sub('.*[@|:|…].*','',p)         #기자님 메일,시간,타뉴스 제목
#         p = re.sub('.*copyright.*','',p.lower())  
#         p = re.sub('.*[corp|ltd][.].*','',p)
        
#         #p태그 안의 태그내용 삭제
#         p = re.sub('<span.*</span>','',p)                    #span 태그 내용 삭제
#         p = re.sub('<strong.*</strong>','',p)                #strong 태그 내 태그 내용 삭제
#         p = re.sub('<a.*</a>','',p)
#         p = re.sub('<em>.*</em>','',p)
        
#         p = re.sub('<!--.*-->','',p)
#         p = re.sub('.*class="blind".*','',p) 
#         p = re.sub('.*class="tit.*','',p)
#         p = re.sub('.*[\t\n]{2,}.*', ' ', p)

In [105]:
import re

description = []
headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36"}

for url in news_url:
    
    res2 = requests.get(url, headers = headers)
    html = res2.content
    bs = BS(html, 'html.parser')
    ps = bs.find_all('p')
    
    
    
    # 본문은 거의 '~다.' 형식으로 끝나기 때문에 크롤링한 p태그에서 해당 형태만 추출함
    for p in ps:  
        des = ''
        p = re.findall('.*다[.]',str(p))
#         print(p)
        
        if len(p) == 0:
            new_p = ''
        if len(p) > 0:
            new_p = ''
            
            # '~니다.'의 경우는 광고, 경고문 등에 해당하기 때문에 삭제
            for i in p:
                i = re.sub('.*니다[.]','',i)
                new_p += i
#         print(new_p)
        new_p = re.sub('<.*>',' ',new_p)     #태그 삭제
#         new_p = re.sub('\(.*\)',' ',new_p)
#         new_p = re.sub('\[.*\]',' ',new_p)
        new_p = re.sub('\s{1,}',' ',new_p)     #
        des += new_p
        print(des)

 (서울=연합뉴스) 조승한 기자 = 카카오벤처스는 인공지능(AI) 기반 임상·비임상 행동시험 분석 기업 액트노바에 5억 원 규모 시드 투자(창업 후 극초기 단계 투자)를 했다고 9일 밝혔다.
 액트노바는 신약개발 단계인 안정성·약효성 시험 과정을 AI 영상처리로 자동화하는 기술을 개발하는 회사다.
 연구원이 동물이나 환자를 직접 관찰하던 것을 분석기술로 대체해 데이터 질을 높이고 인력 투입을 줄여 치료제 개발 개간을 단축할 수 있다고 회사는 설명했다.
 한국과학기술원(KAIST) 생명과학과 연구교수 출신인 김대건 대표를 주축으로 김대수 KAIST 생명과학과 교수와 동물실험장비회사 쓰리샤인 박천귀 대표가 설립했다.
 액트노바는 AI 분석기술 '아바타 3D 시스템'을 개발해 뇌 질환 증상 분석에 활용하고 있으며 연내 구독형 행동 분석 점수 서비스 '액트버스'를 출시할 계획이라고 밝혔다.
 김대건 액트노바 대표는 "관찰과 평가가 어려운 임상·비임상 행동 실험 분야에서 AI 기반 디지털 트렌스포메이션을 통해 신약·치료제 개발 프로세스를 단축하고자 한다"며 "행동 실험 연구원과 의료진, 실험 대상의 스트레스와 희생을 줄이고 다양한 뇌 질환 치료제 개발에 보탬이 될 수 있길 기대한다"고 밝혔다.





 (충북=위키트리) 김성호 기자 = 충북도내 기초정부간 유치 경쟁이 불붙은 AI영재고(인공지능 영재고)가 KAIST(이하 카이스트) 산하 고등학교로 설립 추진된다.

 카이스트가 과학시술정보통신부 산하 대학교인 점을 감안하면 충북도는 AI영재고 설립을 위해 우리나라 과학기술 분야 컨트롤타워인 과기부의 인적·물적 지원을 이끌어내겠다는 전략으로 읽힌다.



 AI 영재고는 현재까진 용역을 통한 논리 개발이나 설립 방향, 교사(교수)진 구성, 특화전략 등이 마련돼 있지 않는 상태다. 말 그대로 'AI영재고'란 다섯 글자 가칭만 있을 뿐이다.


 김영환 충북지사는 지난달 28일 과기부 제1차관 면담에 이어 8일에는 이종호 과학기술정보통신부 장관을 세종정부청사 인근에서 만나 AI영재고의 카이스트 산하 고등학교 설립을 건의했다.
 또 충북 미래 100년의 성장 발판이 될 △ KAIST(카이스트) 오송 바이오메디컬 캠퍼스타운 유치 △ 방사광가속기 적기 구축과 최첨단 연구인프라 구축 △ 충청권 공동 인공지능·메타버스 기반 재난안전관리 등 주요 현안사업 추진을 위한 전폭적인 지원을 요청했다.



 김 지사는 이 자리에서 “대한민국 바이오 발전을 견인하고 있는 충북이 한단계 더 발전하기 위해서는 의과학 교육시설인 카이스트 오송캠퍼스 타운 조성이 반드시 필요하다”며 “현 정부의 반도체 인력양성 기조에 부합하는 첨단산업분야 인재양성을 위한 카이스트 부설 충북 AI(인공지능) 영재고 설립도 필수불가결한 사업”이라고 적극적인 지원과 협조를 요청했다.


 김 지사는 또 “오는 2027년 준공이 예정돼 있는 오창 방사광가속기 사업과 핵심지원시설의 적기 구축, ICT 기술을 활용한 재난사전예방 시스템 구축 역시 중요하다”면서 “충청권 공동 인공지능·메타버스 기반 재난안전관리 사업 추진에도 과기부 차원의 관심과 지원을 절실하다”고 강조했다.


 이에 이종호 과기부 장관은 “충북은 바이오, 반도체, 이차전지 산업의 중심으로 대한민국 첨단산업의 미래를 견인하고 있다고 생각한다”면서 “충북 발전을 위해 (김영환 충북지시가)건의해주신 사업에 대해 긍정적으로 검토하겠다”고 통상적 답변만 내놓은채 자리를 마무리 했다.


 이런 가운데 과기부 산하 카이스트는 반세기 동안 배출한 과학기술 인력만 박사 1만4418명을 포함해 6만9388명에 달한다.


 지난 1982년 아시아·태평양 지역 최초 인터넷 시스템 구축, 1990년 국내 첫 인공지능(AI) 연구센터 설립, 1992년 인공위성 우리별 1호 발사 등 국내 과학 발전 역사에서 최초·최고의 성과를 써왔다.


 또 1995년 386 마이크로프로세서 개발, 2002년 휴머노이드 로봇(휴보) 개발, 2008년 한국인 최초 우주비행사 이소연 씨 배출, 2009년 무선 충전 전기버스 개발, 2020년 사이배슬론 국제대회 착용형 로봇 분야 금·동메달 수상 등도 대표적인 성과로 꼽힌다.


 지난 2000년대 초까지도 100위권 밖에서 머물던 세계대학 순위는 지난해 39위(영국 고등교육 평가기관 'QS' 발표)로 껑충 뛰어오르는 등 괄목할만한 성장을 거뒀다. 미리보는 AI영재고인 셈이다.





 삼성전자가 인공지능(AI) 분야 우수 인력을 발굴해 반도체·디스플레이를 연구하기로 했다.
 삼성전자는 다음 달 16일까지 대학생 경진대회 ‘삼성 AI 챌린지’를 개최한다고 7일 밝혔다.
 공모 과제는 AI 기술을 활용한 신소재 연구와 컴퓨터 비전이다.
 신소재 연구 주제는 ‘유기분자 구조로부터 재편성 에너지를 예측하는 알고리즘 개발’이다. 유기 디스플레이 소재 발광 효율에 영향을 주는 것으로 알려진 분자 구조 변화 에너지를 예측하는 AI 모델을 개발해야 한다. 삼성전자는 효율이 높고 수명이 긴 유기 디스플레이 발광 소재를 찾는데 드는 시간과 비용이 줄어들 것으로 기대했다.
 컴퓨터 비전 부문은 전자현미경(SEM) 이미지로 깊이를 예측하는 알고리즘을 개발해야 한다. 2차원 전자 현미경 영상에서 반도체 3차원 구조 깊이를 계측하고 반도체 공정에서 활용할 수 있는 AI 알고리즘을 찾아야 한다.
 응모 결과는 10월 7일 삼성전자 종합기술원 홈페이지에 발표한다. 11월 ‘삼성 AI포럼’에서 시상한다. 부문별 최우수상을 포함해 총 8개 수상팀에 상금과 함께 삼성전자 AI 연구원과 만날 기회를 준다. 종합기술원 연구소를 둘러보고 수상자가 교류하는 ‘삼성 AI 챌린지 캠프’에도 참가할 수 있다.
 최창규 삼성전자 종합기술원 AI연구센터장(부사장)은 “종합기술원은 반도체를 중심으로 소재, 카메라, 자율주행 등에 AI 기술을 적용하고 있다”며 “AI로 기술의 한계를 뛰어넘을 대학생이 많이 참여하기 바란다”고 말했다.






 농림축산식품부와 농촌진흥청, 농림수산식품교육문화정보원은 농업 분야 인공지능(AI) 기술 역량을 겨루는 ‘2022 스마트농업 AI 경진대회’를 개최한다.
 스마트농업 AI 경진대회는 농업 분야의 데이터·AI 관련 기업, 학계 등의 관심을 높이고 농업 현장에서 AI 기술을 활용해 해결할 수 있는 과제를 발굴하기 위해 지난해에 이어 올해 두 번째로 열린다.
 올해 스마트농업 AI 경진대회는 오는 29일부터 다음달 23일 예선기간 동안 생육예측 해커톤(해킹과 마라톤의 합성어로 참여자가 팀을 구성해 한정된 기간 내에 결과 모델을 만들어내는 것)과 재배전략 기획안 평가를 거쳐 본선 진출 4팀을 선정한다. 이후 10월부터 12월 중순까지 약 2개월 반의 본선기간 동안에는 본선 4팀이 동일한 조건의 대회 온실을 AI 기술을 활용한 원격제어로 토마토 작물을 재배해 결과를 평가하는 방식으로 진행될 계획이다.
 참가 접수는 오는 28일까지 온라인(aifactory.space/page/epis)을 통해 진행되며, 농업 분야 인공지능 기술 적용에 관심 있는 19세 이상 내외국인 누구나 농업인, 스마트팜 재배 전문가, AI 개발자 등으로 자유롭게 팀(3인 이상, 10인 이하)을 이뤄 참가할 수 있다.
 대회의 총 상금은 1억 원에 달하며, 영예의 대상팀에게는 농식품부 장관상과 상금이 수여된다. 이 외 수상팀에게는 농진청장상 및 농정원장상과 상금이 주어진다.
 세부 내용은 ‘2022 스마트농업 인공지능(AI) 경진대회’ 홈페이지를 통해 확인할 수 있으며, 대회의 사전 설명회는 오는 26일 광주 컨벤션센터에서 ‘Green &amp; Agritech Asia 2022’ 행사기간에 진행될 예정이다.























































 마이크로소프트(MS) 주최 IT 경진대회에서 국내 TOP3에 영남중, 대구고 소프트웨어(SW) 동아리가 선정됐다.

 이들 동아리는 대구시교육청이 지난해부터 운영해 온 SW융합 자율동아리 지원 사업 20개 팀 중 2개 팀이다.

 8일 대구시교육청에 따르면 지난 5일 MS 주최 '이매진 컵 주니어'에서 국내 TOP3에 영남중학교 SW 자율동아리 '영남짱'팀과 대구고등학교 SW 자율동아리' AI for All'이 수상했다.

 올해로 3회째를 맞이한 대회는 13세부터 18세까지 학생들을 대상으로 마이크로소프트사가 주체하는 글로벌 인공지능(AI) 아이디어 경진대회로 한국은 올해 약 40여 개 팀(학생 160명, 지도교사 40명)이 참가했다.

 대회에 참가한 학생들은 주어진 학습자료를 활용하여 토론을 통해 해결해야 할 문제를 도출하고, 인공지능 기술이 어떻게 문제들을 해결하는 방법은 물론 더불어 살아갈 수 있는 방안에 대한 AI솔루션을 제안하게 된다.

 영남중학교 김후옥 지도교사와 박진석(3학년), 강지환(2학년), 김건희(2학년), 조현민(2학년) 학생들은 더 많은 사람들에게 더 많은 편의를 제공하는 차세대 AI 기반 교통 시스템 AI 솔류션을 제안했다.

 대구고등학교 박주희 지도교사와 김지윤(3학년), 나윤환(3학년), 이수혁(3학년), 황주혁(3학년) 학생으로 구성된 'AI for All'팀은 색각 이상자를 돕는 색 감지 응용 프로그램을 제안했다.

 영남중학교 박진석 학생은 "시험기간과 겹쳐서 시간이 부족해 늦은 밤까지 회의하다 보니 피곤하고 힘들기도 했지만 서로의 의견에 자극받아 아이디어가 계속 이어졌을 때는 정말 재미있었다.”며, “대회 참여만으로도 좋은 경험인데 결과까지 잘 나와서 너무 기쁘다"고 소감을 밝혔다.

 대구고등학교 김지윤 학생은 "지인과의 인터뷰를 통해 실제 색각 이상자들이 느끼는 어려움을 알 수 있었고, 팀원들과 아이디어 도출을 통해 인공지능을 적용한 색각 이상자들을 위한 색상 감지 프로그램을 제안하게 되어 기쁘다"고 소감을 밝혔다.

 강은희 교육감은 "이번 대회에서 수상한 학생들에게 축하를 보낸다"며, "앞으로도 SW·AI 기반 교육의 활성화를 위해 지속적으로 노력하겠다"고 말했다.

















 [수원=뉴시스] 임태희 경기도교육감이 8일 경기도교육청 방촌홀에서 열린 민선5기 경기도교육감직 인수위 백서 전수식에 참석했다.
 [수원=뉴시스] 임태희 경기도교육감이 8일 경기도교육청 방촌홀에서 열린 민선5기 경기도교육감직 인수위 백서 전수식에 참석했다.































개그우먼 이경실(56)이 손주를 공개했다.이경실은 8일 인스타그램에 손주 사진 여러 장을 올렸다. "드디어 만났네 손주 이훈이"라며 "어느 별에서 왔니? 어릴 적 너의 아빠(탤런트 손보승)를 많이 닮았구나. 건강하게 잘 자라주길 바라. 아빠, 엄마가 너를 잘 보살피는구나. 맘이 좀 녹구나. 잘 지내자 우리"라고 남겼다. "#첫 손주 #보승이 아들#손이훈"이라고 덧붙였다.동료들의 축하도 이어졌다. 아나운서 강수정은 "언니 어쩜 저리 예쁜 아기가 있어요"라며 놀랐고, 개그맨 손헌수는 "오우~축하드립니다"라고 전했다.





 지난 8일부터 이어진 기록적 폭우에 7명이 숨지고 6명이 실종됐다. 부상자는 9명, 이재민은 107세대 163명이 발생했다.행정안전부 중앙재난안전대책본부(중대본)에 따르면 9일 오전 6시 기준 잠정 집계된 인명 피해는 사망 7명, 실종 6명, 부상 9명이다.전날 오후 6시50분께 서울 동작구에서 폭우로 쓰러진 가로수를 정리 작업하던 구청 직원 A(63)씨가 감전돼 숨졌다. 이보다 앞선 오후 5시40분께 같은 구의 침수 주택에서 고립된 여성 B씨도 익수돼 사망했다.





미국 뉴욕증시의 주요 지수가 8일(현지시간) 혼조세로 마감했다.이날 뉴욕증권거래소(NYSE)에서 다우존스30산업평균지수는 전장보다 29.07포인트(0.09%) 오른 3만2832.54로 거래를 마쳤다.반면 대형주 중심의 스탠다드앤푸어스(S&amp;P)500지수는 5.13포인트(0.12%) 내린 4140.06, 기술주 중심의 나스닥지수는 13.10포인트(0.10%) 밀린 1만2644.46로 장을 마감했다.종목별로는 엔비디아가 실적 가이던스를 낮춘 여파로 반도체주가 일제히 약세를 보였다.





지난 8일 서울·인천 등 수도권을 중심으로 기록적인 폭우가 쏟아진 가운데, 강남·서초 일대 고급 아파트 단지들에서도 침수피해가 속출했다.9일 부동산 업계에 따르면 서울 강남권을 중심으로 폭우가 쏟아지면서 강남3구 일대 국내 주요 고급 아파트 단지들에서도 침수피해가 발생했다.먼저 윤 대통령의 자택인 서울 서초구 서초동 '아크로비스타'에서는 아파트 지하주차장이 잠기고 엘리베이터 문으로 빗물이 쏟아진다는 등의 피해 신고가 속출했다.





한국투자증권의 트레이딩시스템이 폭우가 쏟아졌던 지난 8일 오후부터 밤 사이 전산 장애가 발생했지만, 현재는 복구가 완료돼 정상작동하는 것으로 나타났다. 사측은 전산장애로 손실을 본 투자자들에게 보상하겠다고 약속했다.한국투자증권은 9일 "전일 오후 4시부터 발생한 자사의 시스템 장애가 이날 아침 7시15분께 복구가 완료돼 정상화됐다"며 "해외주식 거래 등 이용에 큰 불편을 끼쳐드려 죄송하다"고 말했다.





청와대가 특정업체의 소파 홍보에 이용됐다는 논란이 일고 있는 가운데 문화재청이 9일 "청와대를 배경으로 특정 브랜드가 노출된 것은 문제"라며 "재발방지책을 마련하겠다"는 입장을 밝혔다.논란이 된 영상은 지난 5일 공개된 IHQ의 웹예능 '에브리웨어' 1회다. 신세계그룹 계열사인 신세계까사와 협업해 제작된 이 웹예능은 거실이 아닌 의외의 장소에 가구를 뒀을 때 시민들의 반응을 보는 리얼리티 프로그램이다.





방송통신위원회가 구글에 대해 기존의 실태점검을 사실조사로 전환한다. 웹결제 아웃링크 방식을 안내한 카카오톡을 상대로 업데이트를 중지한 행위가 금지행위를 위반했다고 판단한 것이다. 구글을 상대로 제재 수순에 돌입했다는 분석이 나온다.방통위 관계자는 "구글에 대한 실태점검을 사실조사로 전환한다"고 9일 밝혔다. 사실조사에서 구체적 위법 행위가 확인될 경우 방통위는 시정명령이나 과태료 등의 행정조치를 내릴 수 있다.사실조사로의 전환은 구글의 카카오톡 앱 업데이트 중단 사태가 계기가 됐다.





기록적인 폭우로 강남을 비롯한 서울 전역에 침수 피해가 잇따른 가운데 쓰레기로 막힌 도로 배수관을 맨손으로 치운 의인이 등장했다.9일 여러 온라인 커뮤니티에는 '실시간 강남역 히어로', '실시간 강남역 슈퍼맨' 이라는 제목과 함께 사진이 올라왔다.사진을 공개한 A씨는 "아저씨 한 분이 폭우로 침수된 강남역 한복판에서 배수로에 쌓인 쓰레기를 맨손으로 건져냈다"며 "덕분에 종아리까지 차올랐던 물도 금방 내려갔다. 슈퍼맨이 따로 없다"고 밝혔다.





기록적인 폭우로 강남을 비롯한 서울 전역에 침수 피해가 잇따른 가운데 쓰레기로 막힌 도로 배수관을 맨손으로 치운 의인이 등장했다.9일 여러 온라인 커뮤니티에는 '실시간 강남역 히어로', '실시간 강남역 슈퍼맨' 이라는 제목과 함께 사진이 올라왔다.사진을 공개한 A씨는 "아저씨 한 분이 폭우로 침수된 강남역 한복판에서 배수로에 쌓인 쓰레기를 맨손으로 건져냈다"며 "덕분에 종아리까지 차올랐던 물도 금방 내려갔다. 슈퍼맨이 따로 없다"고 밝혔다.





 광주 광산경찰서는 9일 경찰관에게 주먹을 휘두른 혐의(공무집행방해)로 A(36)씨를 붙잡아 조사하고 있다.A씨는 이날 오전 2시 30분께 광주 광산구 월계동 한 공원에서 지인과 말다툼을 하다 신고를 받고 출동한 지구대 소속 B경사의 얼굴을 주먹으로 때린 혐의다.조사 결과 만취한 A씨는 지인과 언성을 높이며 싸우던 중 출동한 B경사가 만류한다는 이유로 이 같은 행패를 부린 것으로 드러났다.경찰은 A씨를 상대로 구체적인 경위를 조사하고 있다.





청와대가 특정업체의 소파 홍보에 이용됐다는 논란이 일고 있는 가운데 문화재청이 9일 "청와대를 배경으로 특정 브랜드가 노출된 것은 문제"라며 "재발방지책을 마련하겠다"는 입장을 밝혔다.논란이 된 영상은 지난 5일 공개된 IHQ의 웹예능 '에브리웨어' 1회다. 신세계그룹 계열사인 신세계까사와 협업해 제작된 이 웹예능은 거실이 아닌 의외의 장소에 가구를 뒀을 때 시민들의 반응을 보는 리얼리티 프로그램이다.





 이탈리아 프로축구 세리에A에 진출한 국가대표 괴물 수비수 김민재(26·나폴리)가 자신의 롤 모델이자 전설적인 수비수인 파비오 칸나바로(49)의 칭찬을 받았다.칸나바로는 8일(현지시간) 이탈리아 매체 일 마티노를 통해 "중국에서 감독을 할 때 (베이징궈안에서 뛰던) 김민재를 잘 알고 있었다"며 "당시 우리 팀에도 한국 선수인 박지수(김천)가 있어 김민재에 대해 자주 들었다"고 말했다.이어 "김민재는 빠르고 신체적인 조건도 뛰어나다.





개그우먼 이경실(56)이 손주를 공개했다.이경실은 8일 인스타그램에 손주 사진 여러 장을 올렸다. "드디어 만났네 손주 이훈이"라며 "어느 별에서 왔니? 어릴 적 너의 아빠(탤런트 손보승)를 많이 닮았구나. 건강하게 잘 자라주길 바라. 아빠, 엄마가 너를 잘 보살피는구나. 맘이 좀 녹구나. 잘 지내자 우리"라고 남겼다. "#첫 손주 #보승이 아들#손이훈"이라고 덧붙였다.동료들의 축하도 이어졌다. 아나운서 강수정은 "언니 어쩜 저리 예쁜 아기가 있어요"라며 놀랐고, 개그맨 손헌수는 "오우~축하드립니다"라고 전했다.

In [ ]:
import re
import requests 
from bs4 import BeautifulSoup
import pandas as pd
from collections import Counter
import seaborn as sns
from konlpy.tag import Okt
from wordcloud import WordCloud
import matplotlib.pyplot as plt
from matplotlib import rc


rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

# 기사 제목과 본문 모두 워드 클라우드로 분석
for i in ['title','text']:
    print(i)
    title_list = news_df[i].tolist()
    text = ' '.join(title_list)
    text = re.sub('[^0-9가-힣]+',' ',text)
    # 한글자 이상의 명사만 뽑아냄
    okt = Okt()
    morph = okt.pos(text)
    noun_list = []
    for word, tag in morph:
        if (tag == 'Noun') & (len(word) > 1):
            noun_list.append(word)

    # 불용어 list 처리
    # 불용어 링크 : https://www.ranks.nl/stopwords/korean
    with open('./datasets/stopwords.txt', "r") as f:
        stop_words = f.readlines()
    stop_words = "".join(stop_words)
    stop_words = stop_words.split('\n')
    noun_list = [noun for noun in noun_list if not noun in stop_words]
    # 단어 빈도수 세기
    count = Counter(noun_list)
    data = dict(count.most_common())
    series = pd.Series(data)
    df = pd.DataFrame(series, columns=['cnt'])
    df10 = df.sort_values(by='cnt',ascending=False)[:10]
    df10.reset_index(inplace=True)
    display(df10)
    # 단어 빈도수 바 플롯
    display(sns.barplot(y='index', x='cnt', data=df10, orient='h'))
    plt.show();
    wordcloud = WordCloud(font_path='../visualization/dataset/malgun.ttf', background_color='white',
                         colormap='flare',width=2500,height=1800).generate_from_frequencies(data)

    plt.imshow(wordcloud)
    plt.axis('off')
    plt.show();
    print('-'*50)

#### Q64.어떠한 양의 정수 N이 1이 될 때까지 다음의 두 과정 중 하나를 반복적으로 선택하여 수행하려고 한다. 단 두번째 연산은 N이 K로 나누어 떨어질 때만 선택할 수 있다.  N과 K를 입력했을 때 N이 1이 될 때까지 1번 혹은 2번의 과정을 수행해야 하는 최소 횟수를 구하는 프로그램을 완성하세요.

1. N에서 1을 뺀다.
2. N을 K로 나눈다.