In [18]:
import pandas as pd

# 트레인 데이터 세트
train_df = pd.read_csv('ratings_train.txt', sep = '\t', encoding='UTF8')
display(train_df.head())

# 테스트 데이터 세트
test_df = pd.read_csv('ratings_test.txt', sep = '\t', encoding='UTF8')
display(test_df.head())

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

        id                                           document  label
0  6270596                                                굳 ㅋ      1
1  9274899                               GDNTOPCLASSINTHECLUB      0
2  8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4  6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0

## 데이터 탐색

In [19]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB

- document 컬럼 안에 null값이 존재

In [20]:
# 학습데이터세트이 레이블 0,1의 값 비율 살펴보기
## 1이 긍정, 0이 부정

train_df['label'].value_counts()

0    75173
1    74827
Name: label, dtype: int64

## 데이터 전처리

### 대체

#### NULL값을 공백처리

In [21]:
# 트레인데이터
# null값을 공백으로 대체
train_df['document'].fillna(' ', inplace = True)

# 확인
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  150000 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB

In [23]:
# 테스트 데이터
# null값을 공백으로 대체
test_df['document'].fillna(' ', inplace = True)

# 확인
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        50000 non-null  int64
 1   document  50000 non-null  object
 2   label     50000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.1+ MB

#### 숫자를 공백으로 변경
- 문자가 아닌 숫자의 경우 단어적인 의미가 부족하므로, 공백으로 변환

In [22]:
# 트레인데이터
import re

train_df['document'] = train_df['document'].apply(lambda x: re.sub(r'\d+', ' ', x))
train_df['document']

0                                       아 더빙.. 진짜 짜증나네요 목소리
1                         흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나
2                                         너무재밓었다그래서보는것을추천한다
3                             교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정
4         사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...
                                ...
149995                                  인간이 문제지.. 소는 뭔죄인가..
149996                                        평점이 너무 낮아서...
149997                      이게 뭐요? 한국인은 거들먹거리고 필리핀 혼혈은 착하다?
149998                          청춘 영화의 최고봉.방황과 우울했던 날들의 자화상
149999                             한국 영화 최초로 수간하는 내용이 담긴 영화
Name: document, Length: 150000, dtype: object

In [24]:
# 테스트 데이터
import re

test_df['document'] = test_df['document'].apply(lambda x: re.sub(r'\d+', ' ', x))
test_df['document']

0                                                      굳 ㅋ
1                                     GDNTOPCLASSINTHECLUB
2                    뭐야 이 평점들은.... 나쁘진 않지만  점 짜리는 더더욱 아니잖아
3                         지루하지는 않은데 완전 막장임... 돈주고 보기에는....
4         D만 아니었어도 별 다섯 개 줬을텐데.. 왜  D로 나와서 제 심기를 불편하게 하죠??
                               ...
49995            오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함
49996         의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따 OOOO
49997                   그림도 좋고 완성도도 높았지만... 보는 내내 불안하게 만든다
49998       절대 봐서는 안 될 영화.. 재미도 없고 기분만 잡치고.. 한 세트장에서 다 해먹네
49999                                           마무리는 또 왜이래
Name: document, Length: 50000, dtype: object

### id 컬럼 삭제

In [25]:
# 트레인 데이터
train_df.drop('id', axis = 1, inplace = True)

# 테스트 데이터
test_df.drop('id', axis = 1, inplace = True)

### TF-IDF 벡터화

#### 사용자함수 생성: 형태소 분석된 단어리스트 반환

In [37]:
from konlpy.tag import Okt

okt = Okt()
def okt_tokenizer(text):
    tokens_ko = okt.morphs(text)
    return tokens_ko

#### 피처 벡터화

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer

# twitter 객체의 morphs() 객체를 이용한 tokenizer 사용, ngram_range는 (1,2)
tfidf_vect = TfidfVectorizer(tokenizer = okt_tokenizer, ngram_range = (1,2), min_df = 3, max_df = 0.9)
tfidf_vect.fit(train_df['document'])
tfidf_matrix_train = tfidf_vect.transform(train_df['document'])

In [39]:
from sklearn.linear_model import LogisticRegression

lr_clf = LogisticRegression(random_state = 0, solver = 'liblinear')

### GridSearchCV로 최적의 하이퍼파라미터 찾기

In [ ]:
from sklearn.model_selection import GridSearchCV


# 파라미터 C 최적화를 위해 GridSearchCV 이용
params = {'C':[1, 3.5, 4.5, 5.5, 10]}

## 학습
grid_cv = GridSearchCV(lr_clf, param_grid = params, cv = 3, scoring = 'accuracy', verbose = 1)
grid_cv.fit(tfidf_matrix_train, train_df['label'])

In [42]:
# 최적 하이퍼파라미터 출력
print(grid_cv.best_params_, round(grid_cv.best_score_, 4))

{'C': 3.5} 0.8593

In [ ]:
from sklearn.metrics import accuracy_score

# 학습 데이터를 적용한 TfidfVectorizer을 이용해 테스트 데이터를 TF-IDF 값으로 피처 변환
tfidf_matrix_test = tfidf_vect.transform(test_df['document'])

# classifier은 GridSearchCV에서 최적 파라미터로 학습된 classifier 그대로 이용
## 예측
best_estimator = grid_cv.best_estimator_
preds = best_estimator.predict(tfidf_matrix_test)

## 평가
accuracy = accuracy_score(test_df['label'], preds)

In [44]:
import numpy as np
print(f'Logistic Regression 정확도: {np.round(accuracy,3)}')

Logistic Regression 정확도: 0.862